<main class="fondoBlanco01 ">
  <div class="section"></div>

  <div class="container">

    <div class="col s12">
      <div class="card fondoConColor margenDebajo">
        <div class="card-contentDos margenL">
          <ul class="stepper horizontal" id="horizontal">
            <li class="step active">
              <div class="step-title waves-effect waves-dark">Estado de animo</div>
              <div class="step-content">
                <div class="col s12 m12 l12 estadoAnimo">
                  <center>
                    <br>
                    <br>
                    <p>{{fechaDeHoy | date: "EEEE d 'de' LLLL 'de' yyyy" }}</p>
                    <h5>¿Cómo te sientes el día de hoy?</h5>
                    <p class="seleccionmas" style="color:red">Debes seleccionar, al menos una opción</p>
                    <form action="#" class="actividades">
                      <ul>
                        <li><input type="checkbox" id="cb1" ng-model="registro.animo.contento" />
                          <label class="sinCheck" for="cb1"><img src="img/happy.png" /></label>
                          <p>contento</p>
                        </li>
                        <li><input type="checkbox" id="cb2" ng-model="registro.animo.neutral" />
                          <label class="sinCheck" for="cb2"><img src="img/confused.png" /></label>
                          <p>neutral</p>
                        </li>
                        <li><input type="checkbox" id="cb3" ng-model="registro.animo.triste" />
                          <label class="sinCheck" for="cb3"><img src="img/sad.png" /></label>
                          <p>triste</p>
                        </li>
                        <li><input type="checkbox" id="cb4" ng-model="registro.animo.enojado" />
                          <label class="sinCheck" for="cb4"><img src="img/angry.png" /></label>
                          <p>enojado</p>
                        </li>

                      </ul>
                    </form>
                  </center>
                </div>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Actividades</div>
              <div class="step-content">
                <center>



                  <h5>¿Cuáles de las siguientes actividades realizaste en el día?</h5>
                  <p class="seleccionmas">Puedes seleccionar más de una opción</p>
                  <form action="#" class="actividades">
                    <ul>
                      <li><input type="checkbox" id="cb5" ng-model="registro.actividades.estudio" />
                        <label class="sinCheck" for="cb5"><img src="img/libro.png" /></label>
                        <p>estudio/tarea</p>
                      </li>
                      <li><input type="checkbox" id="cb6" ng-model="registro.actividades.fiesta" />
                        <label class="sinCheck" for="cb6"><img src="img/fiesta.png" /></label>
                        <p>fiesta</p>
                      </li>
                        <li><input type="checkbox" id="cb10" ng-model="registro.actividades.descanso" />
                        <label class="sinCheck" for="cb10"><img src="img/dormir.png" /></label>
                        <p>en cama</p>
                      </li>
                      <li><input type="checkbox" id="cb101" ng-model="registro.actividades.nada" />
                        <label class="sinCheck" for="cb101"><img src="img/nada.png" /></label>
                        <p>nada</p>
                      </li>
                      <li><input type="checkbox" id="cb9" ng-model="registro.actividades.juego" />
                        <label class="sinCheck" for="cb9"><img src="img/juego.png" /></label>
                        <p>juego</p>
                      </li>

                      <li><input type="checkbox" id="cb7" ng-model="registro.actividades.salida" />
                        <label class="sinCheck" for="cb7"><img src="img/bosque.png" /></label>
                        <p>salida</p>
                      </li>
                       <li><input type="checkbox" id="cb8" ng-model="registro.actividades.deporte" />
                        <label class="sinCheck" for="cb8"><img src="img/gimnasio.png" /></label>
                        <p>deporte</p>
                      </li>

                    </ul>
                  </form>

                </center>
                <div class="step-actions">


                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
                <li class="step">
              <div class="step-title waves-effect waves-dark">Lugares</div>
              <div class="step-content">
                <center>



                  <h5>¿Dónde estuviste el día de hoy?</h5>
                  <p class="seleccionmas">Puedes seleccionar más de una opción</p>
                  <form action="#" class="actividades">
                    <ul>
                    <li><input type="checkbox" id="cb27" ng-model="registro.lugares.casa" />
                        <label class="sinCheck" for="cb27"><img src="img/casa.png" /></label>
                        <p>mi casa</p>
                      </li>
                      <li><input type="checkbox" id="cb26"  ng-model="registro.lugares.escuela"  />
                        <label class="sinCheck" for="cb26"><img src="img/colegio.png" /></label>
                        <p>escuela</p>
                      </li>

                      <li><input type="checkbox" id="cb28"  ng-model="registro.lugares.plaza"  />
                        <label class="sinCheck" for="cb28"><img src="img/urbano.png" /></label>
                        <p>fuera de casa</p>
                      </li>
                      <li><input type="checkbox" id="cb30"  ng-model="registro.lugares.gimnasio"  />
                        <label class="sinCheck" for="cb30"><img src="img/gim.png" /></label>
                        <p>gimnasio</p>
                      </li>
                      <li><input type="checkbox" id="cb29"  ng-model="registro.lugares.casa_amigo"  />
                        <label class="sinCheck" for="cb29"><img src="img/casaamigo.png" /></label>
                        <p>casa de un amigo</p>
                      </li>
                    </ul>
                  </form>
                </center>
                <div class="step-actions">


                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Social</div>

              <div class="step-content">
                <center>


                  <h5>¿Con quiénes pasaste el día?</h5>
                  <p class="seleccionmas">Puedes seleccionar más de una opción</p>
                  <form action="#" class="actividades">
                    <ul>

                      <li><input type="checkbox" id="cb12" ng-model="registro.social.pareja" />
                        <label class="sinCheck" for="cb12"><img src="img/pareja.png" /></label>
                        <p>pareja</p>
                      </li>
                      <li><input type="checkbox" id="cb11" ng-model="registro.social.solo" />
                        <label class="sinCheck" for="cb11"><img src="img/chico.png" /></label>
                        <p>solo</p>
                      </li>
                      <li><input type="checkbox" id="cb13" ng-model="registro.social.familia" />
                        <label class="sinCheck" for="cb13"><img src="img/familia.png" /></label>
                        <p>familia</p>
                      </li>
                      <li><input type="checkbox" id="cb14" ng-model="registro.social.amigos" />
                        <label class="sinCheck" for="cb14"><img src="img/amigos.png" /></label>
                        <p>amigos</p>
                      </li>



                    </ul>
                  </form>
                </center>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Cuentanos más</div>
              <div class="step-content textoAlumno4">
                <center>

                  <h5>Si deseas contarnos algo más de tu día puedes hacerlo a continuación:</h5>
                  <div class="input-field col s12">
                    <div class="row">
                      <form class="col s12">
                        <div class="estiloTurnoDos">
                        <div class="input-field col s12">
                          <textarea id="textarea1" class="materialize-textarea" ng-model="registro.cuentanosmas"></textarea>

                        </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </center>
                <div class="step-actions">

                  <a class="waves-effect waves-dark btn blue" ng-click="enviarRegistro()">ENVIAR</a>
                </div>
                </center>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="demoModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Gracias por dejarnos un registro, tu especialista asignado lo va a estar revisando.</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s6 m6 l6 ">
          <a ui-sref="alumno_informacion" class="modal-action modal-close btn botonGeneral">Ver Información</a>
        </div>
        <div class="col s6 m6 l6 ">
          <a ui-sref="alumno_historial" class="modal-action modal-close btn botonGeneral">Ver mi historial</a>
        </div>

      </div>
    </div>
  </div>
  <div id="errorModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Debes ingresar al menos 1 estado de animo.</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s6 m6 l6 ">
        </div>
        <div class="col s6 m6 l6 ">
          <a class="modal-action modal-close btn botonGeneral">Ok, entiendo</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      $('.stepper').activateStepper();
    });


    function someFunction() {
      setTimeout(function() {
        $('#feedbacker').nextStep();
      }, 1000);
    }

    function someOtherFunction() {
      return true;
    }

    $(document).ready(function() {
      $('.toc-wrapper').pushpin({
        top: $('.toc-wrapper').offset().top,
        offset: 77
      });
      $('.scrollspy').scrollSpy();
      $('.stepper').activateStepper();
    });
  </script>
</main>
