<main>
  <div class="section"></div>

  <div class="container">

    <div class="col s12">
      <div class="card">
        <div class="card-contentDos margenL">
          <ul class="stepper horizontal" id="horizontal">
            <li class="step active">
              <div class="step-title waves-effect waves-dark">Estado de animo</div>
              <div class="step-content">
                <div class="col s12 m12 l12 estadoAnimo">
                  <center>
                    <br>
                    <br>
                    <p>Jueves 21 de Junio de 2018</p>
                    <h5>¿Cómo te sientes el día de hoy?</h5>
                    <form action="#" class="actividades">
                      <ul>
                        <li><input type="checkbox" id="cb1" ng-model="registro.animo.contento" />
                          <label for="cb1"><img src="img/happy.png" /></label>
                          <p>contento</p>
                        </li>
                        <li><input type="checkbox" id="cb2" ng-model="registro.animo.neutral" />
                          <label for="cb2"><img src="img/confused.png" /></label>
                          <p>neutral</p>
                        </li>
                        <li><input type="checkbox" id="cb3" ng-model="registro.animo.triste" />
                          <label for="cb3"><img src="img/sad.png" /></label>
                          <p>triste</p>
                        </li>
                        <li><input type="checkbox" id="cb4" ng-model="registro.animo.enojado" />
                          <label for="cb4"><img src="img/angry.png" /></label>
                          <p>enojado</p>
                        </li>

                      </ul>
                    </form>
                  </center>
                </div>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Actividades</div>
              <div class="step-content">
                <center>
                  <br>
                  <br>

                  <h5>¿Cuáles de las siguientes actividades describen tu día?</h5>
                  <form action="#" class="actividades">
                    <ul>
                      <li><input type="checkbox" id="cb5" ng-model="registro.actividades.estudio" />
                        <label for="cb5"><img src="img/libro-abierto.png" /></label>
                        <p>estudio/tarea</p>
                      </li>
                      <li><input type="checkbox" id="cb6" ng-model="registro.actividades.fiesta" />
                        <label for="cb6"><img src="img/disco.png" /></label>
                        <p>fiesta</p>
                      </li>
                      <li><input type="checkbox" id="cb9" ng-model="registro.actividades.juego" />
                        <label for="cb9"><img src="img/consola-de-juegos.png" /></label>
                        <p>juego</p>
                      </li>
                      <li><input type="checkbox" id="cb8" ng-model="registro.actividades.deporte" />
                        <label for="cb8"><img src="img/bicicleta.png" /></label>
                        <p>deporte</p>
                      </li>
                      <li><input type="checkbox" id="cb7" ng-model="registro.actividades.salida" />
                        <label for="cb7"><img src="img/paisaje-urbano.png" /></label>
                        <p>salida</p>
                      </li>

                      <li><input type="checkbox" id="cb10" ng-model="registro.actividades.descanso" />
                        <label for="cb10"><img src="img/dormir.png" /></label>
                        <p>descanso</p>
                      </li>

                    </ul>
                  </form>
                </center>
                <div class="step-actions">


                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Social</div>
              <div class="step-content">
                <center>
                  <br>
                  <br>

                  <h5>¿Con quiénes pasaste el día?</h5>
                  <form action="#" class="actividades">
                    <ul>

                      <li><input type="checkbox" id="cb12" ng-model="registro.social.pareja" />
                        <label for="cb12"><img src="img/pareja.png" /></label>
                        <p>pareja</p>
                      </li>
                      <li><input type="checkbox" id="cb11" ng-model="registro.social.solo" />
                        <label for="cb11"><img src="img/chico.png" /></label>
                        <p>solo</p>
                      </li>
                      <li><input type="checkbox" id="cb13" ng-model="registro.social.familia" />
                        <label for="cb13"><img src="img/familia.png" /></label>
                        <p>familia</p>
                      </li>
                      <li><input type="checkbox" id="cb14" ng-model="registro.social.amigos" />
                        <label for="cb14"><img src="img/pareja2.png" /></label>
                        <p>amigos</p>
                      </li>



                    </ul>
                  </form>
                </center>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">CONTINUAR</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Cuentanos más</div>
              <div class="step-content textoAlumno4">
                <center>
                  <br>
                  <br>
                  <h5>Si deseas contarnos algo más de tu día puedes hacerlo a continuación:</h5>
                  <div class="input-field col s12">
                    <div class="row">
                      <form class="col s12">

                        <div class="input-field col s12">
                          <textarea id="textarea1" class="materialize-textarea" ng-model="registro.cuentanosmas"></textarea>
                          <label for="textarea1">¿Deseas contarnos algo mas?</label>
                        </div>

                      </form>
                    </div>
                  </div>
                </center>
                <div class="step-actions">

                  <a class="waves-effect waves-dark btn blue" ng-click="enviarRegistro()">ENVIAR</a>
                </div>
                </center>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(function() {
      $('.stepper').activateStepper();
    });


    function someFunction() {
      setTimeout(function() {
        $('#feedbacker').nextStep();
      }, 1000);
    }

    function someOtherFunction() {
      return true;
    }

    $(document).ready(function() {
      $('.toc-wrapper').pushpin({
        top: $('.toc-wrapper').offset().top,
        offset: 77
      });
      $('.scrollspy').scrollSpy();
      $('.stepper').activateStepper();
    });
  </script>
</main>
