<div class="contenedor_max formIngreso">
  <div class="title-form ancho_diagnostico">
    <h4 ng-if="EnableEdit" class="edit-procedure dark-green-text">{{'EDIT_DIAGNOSTIC' | translate}}</h4>
    <h4 ng-if="!EnableEdit" class="edit-procedure dark-green-text">{{'VIEW_DIAGNOSTIC_ORDER' | translate}}</h4>
    <div class="row">
      <a ng-show="enableRejected" data-target='modal' modal class="btn-add btn waves-effect waves-light right sinchronous_button" tooltipped data-position="top" data-delay="50" data-tooltip="{{'REJECT_PROCEDURE_REQUEST' | translate}}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
      <a ng-show="acceptCallButton && isEnabled('practitioner_report')" class="btn-add btn waves-effect waves-light right sinchronous_button" ng-click="acceptCall()" tooltipped data-position="top" data-delay="50" data-tooltip="{{'ACCEPT_CALL' | translate}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
      <a ng-show="EnableEdit" class="btn-add btn waves-effect waves-light right ng-binding" ng-click="saveDiagnosticOrder()" tooltipped data-position="top" data-delay="50" data-tooltip="{{'RECORD_AND_SEND' | translate}}"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
      <a ng-show="answerProcedureButton && isEnabled('practitioner_report')" class="btn-add btn waves-effect waves-light right" ui-sref="diagnostic_report_order({diagnostic_order_id:_id})" tooltipped data-position="top" data-delay="50" data-tooltip="{{'REPLY' | translate}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      <a ng-show="(procedureResquest.status !== 'requested' && procedureResquest.status !== 'commented') && isEnabled('practitioner_report')" class="btn-add btn waves-effect waves-light right pink lighten-3" tooltipped data-position="top" data-delay="50" data-tooltip="{{'IT_IS_NOT_POSSIBLE_TO_ANSWER' | translate}}" ng-click="showDialog(keyMsj)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      <a ng-show="!EnableEdit" class="btn-add btn waves-effect waves-light right ng-binding" ui-sref="diagnostic_order_print({id:_id})" tooltipped data-position="top" data-delay="50" data-tooltip="{{'PRINT' | translate}}"><i class="fa fa-print ng-scope" aria-hidden="true"></i></a>
      <a class="btn-add btn waves-effect waves-light right ng-binding" ng-click="cancelDiagnosticOrder()" tooltipped data-position="top" data-delay="50" data-tooltip="{{'BACK' | translate}}"><i class="fa fa-mail-reply ng-scope" aria-hidden="true"></i></a>
      <a ng-show="procedureResquest.status === 'rejected' || procedureResquest.status === 'revision' && userId === procedureResquest.event[1].actor.reference" class="btn-add btn waves-effect waves-light right ng-binding"
          data-target='modal_motivo_resend' modal><i class="fa fa-fast-forward" ng-class="{parpadea: activeFlicker}" aria-hidden="true" tooltipped data-position="top"
              data-delay="50" data-tooltip="{{'RESEND_PROCEDURE' | translate}}"></i></a>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="">
        <div class="">
          <div class="card-content new-order">
            <div class="">
              <div class="">
                <div class="row">
                  <div class="buttons-form">
                    <div class="ancho_diagnostico">
                      <ul tabs reload="allTabContentLoaded">
                        <li class="tab col s2"><a ng-click="selectedTab('generalLi')" id="generalLi" href="#general" ng-class="{active: initPosition === 0}">{{'GENERAL' | translate}}</a></li>
                        <li class="tab col s2"><a ng-click="selectedTab('solicitudLi')" id="solicitudLi" href="#solicitud" ng-class="{active: initPosition === 1}">{{'REQUEST' | translate}}</a></li>
                        <li class="tab col s2"><a ng-click="selectedTab('examen_fisicoLi')" id="examen_fisicoLi" href="#examen_fisico">{{'PHYSICAL_EXAM' | translate}}</a></li>
                        <li class="tab col s2"><a ng-click="selectedTab('estudiosLi')" id="estudiosLi" href="#estudios">{{'STUDIES' | translate}}</a></li>
                        <li class="tab col s2"><a ng-click="selectedTab('antecedentesLi')" id="antecedentesLi" href="#antecedentes">{{'BACKGROUND' | translate}}</a></li>
                        <li class="tab col s2"><a ng-click="selectedTab('notasLi')" id="notasLi" href="#notas" ng-class="{active: initPosition === 5}">{{'NOTES' | translate}}</a></li>
                      </ul>
                    </div>
                    <a ng-if="initPosition !== 0" class="ileft" ng-click="chevron({position: initPosition - 1})"><i class="material-icons">chevron_left</i></a>
                    <a ng-if="initPosition !== (chevronOptions.length -1)" class="iright" ng-click="chevron({position: initPosition + 1})"><i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
                <div ng-show="loading" class="center-align">
                  <loader loading-text="'Cargando...'"></loader>
                </div>
                <div id="general" class="col s12">
                  <div class="card-content">
                    <div class="row">
                      <div class="col m12 s12">
                        <div ng-show="loading" class="center-align">
                          <loader loading-text="'Cargando...'"></loader>
                        </div>
                        <div ng-if="patientInfoExist && !loading" class="col s12">
                          <div class="input-field col l6 m6 s6" ng-cloak>
                            <p class="est-label">{{'PATIENT' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="subject.display" readonly />
                          </div>
                          <div class="input-field col l6 m6 s6">
                            <p class="est-label">{{'PERSONAL_IDENTIFICATION' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="currentPatient.identifier[0].value" readonly
                            />
                          </div>
                        </div>
                        <div ng-if="!loading" class="col s12">
                          <div class="input-field col l6 m6 s6">
                            <p class="est-label">{{'AGE' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="currentPatient.age" readonly />
                          </div>
                          <div class="input-field col l6 m6 s6">
                            <p class="est-label">{{'GENDER' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="currentPatient.gender" readonly />
                          </div>
                        </div>
                        <div ng-if="!loading" class="col s12">
                          <div class="input-field col l6 m6 s6">
                            <p class="est-label">{{'ORGANIZATION' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="procedureResquest.performer.display" readonly />
                          </div>
                          <div class="input-field col l6 m6 s6">
                            <p class="est-label">{{'SPECIALTY' | translate}}</p>
                            <input id="subject" type="text" class="validate" ng-model="procedureResquest.performerType.text" readonly
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="solicitud" class="col s12">

                  <div class="col m6 s12">
                    <label for="title">{{'TITLE' | translate}}</label>
                    <input ng-readonly="!EnableEdit" id="title" type="text" class="validate" ng-model="procedureResquest.identifier[0].system"
                    />
                    <div ng-if="msg" class="msj-error">
                      <a href="" class="close"><i class="material-icons">clear</i></a>
                      <p><i class="material-icons">report_problem</i> {{'TITLE_IS_REQUIRED' | translate}}</p>
                    </div>
                  </div>
                  <div class="col m6 s12">
                    <label for="email">{{'REASON_OPTIONAL' | translate}}</label>
                    <input ng-readonly="!EnableEdit" id="email" type="text" class="validate" ng-model="procedureResquest.code.text" />
                    <span></span>
                  </div>
                  <div class="col m6 s12 sincronica">
                    <label for="email">{{'TYPE' | translate}}</label>
                    <input readonly id="type" type="text" class="validate" ng-value="procedureResquest.category[0].text | translate"
                    />
                    <span></span>
                  </div>
                  <div class="col m6 s12">
                    <label for="title">{{'STATUS' | translate}}</label>
                    <input readonly id="status-request" type="text" class="validate" ng-value="procedureResquest.status | translate"
                    />
                  </div>
                  <div class="col m12 s12" ng-if="procedureResquest.reasonCode[0].text">
                    <label for="title">{{'REJECT_REASON' | translate}}</label>
                    <input id="status-request" type="text" class="validate ng-pristine reject_reason ng-valid ng-touched ng-not-empty invalid" ng-value="procedureResquest.reasonCode[0].text | translate"
                    readonly/>
                  </div>
                </div>
                <div id="examen_fisico" class="col s12">
                  <physical-exam enable-edit="EnableEdit" entry="entry" physical-exam="physicalExam"></physical-exam>
                </div>
                <div id="estudios" class="col s12">

                  <div class="col m6 s12">
                    <p ng-if="EnableEdit">{{'IN_THIS_SECTION_YOU_CAN_ATTACH_ALL_PATIENT_STUDIES_RELEVANT_TO_THE_APPLICATION_AND_OR_THE_POSSIBILITY_OF_GENERATING_STUDIES_IF_WORKING_FROM_A_CDM'
                      | translate}} <br><br> <span>{{'ALL_FILES_CORRESPONDING_TO_THE_SAME_STUDY_MUST_BE_OF_THE_SAME_TYPE_AND_SIZE' | translate}}</span></p>
                    <p ng-if="!EnableEdit">{{'IN_THIS_SECTION_YOU_CAN_VIEW_ALL_PATIENT_STUDIES_RELEVANT_TO_THE_APPLICATION_AND_OR_THE_POSSIBILITY_OF_GENERATING_STUDIES_IF_WORKING_FROM_A_CDM'
                      | translate}} <br><br> <span>{{'ALL_FILES_CORRESPONDING_TO_THE_SAME_STUDY_MUST_BE_OF_THE_SAME_TYPE_AND_SIZE' | translate}}</span></p>
                    <span></span>
                  </div>
                  <div class="col m6 s12">
                    <div ng-if="!subject.reference">
                      <p>{{'YOU_MUST_SELECT_A_PATIENT_BEFORE_UPLOADING_A_STUDY' | translate}}</p>
                    </div>
                    <div class="actions">
                      <a ng-if="EnableEdit" href="" class="btn-add btn waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i>{{'CREATE' | translate}}</a>
                      <a ng-if="subject.reference && EnableEdit" class="btn-add btn waves-effect waves-light" data-target='modal-study' modal open="modalStatus.open"
                        ng-click="setEmpty()"><i class="fa fa-paperclip" aria-hidden="true"></i>{{'TO_ATTACH' | translate}}</a>
                      <p><span></span></p>
                    </div>
                  </div>
                  <div class="col s12" ng-if="subject.reference">
                    <p ng-if="observations.length === 0">{{'REQUEST_WITHOUT_STUDIES' | translate}}</p>
                    <ul class="collection files-col">
                      <li class="readed-studies" ng-repeat="observation in observations" ng-click="observationDetail(observation)">
                          <span class="title">{{observation.valueString || observation._id}}</span>
                          <span ng-if="EnableEdit" class="right cancel_study" ng-click="removeObservation(observation)"> <a><img src="img/iconos/delete.png" class="cruz" aria-hidden="true"></a></span>
                      </li>
                    </ul>
                    <study-dicom ng-if="currentObservation._id" current-attachment="currentObservation.attachment[0]" no-dicom="notIsDicom" attachment="currentObservation.attachment"></study-dicom>
                  </div>

                  <file-modal attachment="attachment" save="saveAttachment" type="'multiple'" study-name="studyName" accept-callback="saveNewStudy"
                    status="modalStatus"></file-modal>
                </div>
                <div id="antecedentes">

                  <p class="explicacion2"> • {{'CHECK_ALL_THE_OPTIONS_FOR_THE_PATIENT_IN_QUESTION' | translate}}</p>
                  <background enable-edit="EnableEdit" entry="entry" toxic-habits="toxicHabits" psysiologic-habits='psysiologicHabits' chillhood-diseases='chillhoodDiseases'
                    horizontal-transmition-diseases='horizontalTransmitionDiseases' adult-diseases='adultDiseases'></background>
                </div>
                <div id="notas" class="col s12">

                  <p class="explicacion2"> • {{'IF_NECESSARY_ADD_A_NOTE_TO_THE_MEDICAL_PROVIDER' | translate}}</p>
                  <ul class="collection files-col">
                    <li class="collection-item avatar " ng-repeat="item in procedureResquest.note" ng-class="item.authorReference.reference === procedureResquest.requester.agent.reference?'cliente':'prestador'"
                      ng-if="item.text">
                      <span class="title">{{item.authorString}} - {{ {date: item.time.type, type: 'time'} | setViewDate}}</span>
                      <p>{{item.text}}</p>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="msj-chat">
                      <input-field>
                        <textarea id="note" placeholder="{{placeHolderNote}}" maxlength="140" class="filled-in" ng-model="noteinfo.currentNote" ng-keydown="$event.keyCode == 13 && sendNote() "></textarea>
                      </input-field>
                      <button id="sendNote" class="waves-effect waves-teal btn-add btn" ng-click="sendNote()" type="submit" name="action" tooltipped data-delay="50" data-position="top" data-tooltip="{{'THIS_ACTION_WILL_SEND_THE_NOTE_FOR_CLARIFICATION_WITHOUT_GENERATING_A_REPORT' | translate}}">{{commentStr}}</button>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="unsaved_notes" class="msj-error">
                      <a href="" class="close"><i class="material-icons">clear</i></a>
                      <p><i class="material-icons">report_problem</i>{{'THERE_ARE_UNSAVED_NOTES' | translate}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col m12" ng-if="reports.length > 0">
                      <div class="row">
                        <div class="input-field col s12">
                          <label for="reference">{{REPORT_LIST | translate}} </label>
                        </div>
                        <div class="input-field col s12" ng-repeat="report in reports">
                          <a ui-sref="diagnostic_report_add({id:report._id})" class="black-text">
                                <input id="reference" type="text" ng-model="report._id" readonly/>
                                <span></span>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="input-field">
      <label class="reason-label">{{'REASON' | translate}}:</label>
      <input type="text" ng-model="reason">
      <a ng-click="rejectProcedureRequest()" class="modal-action modal-close btn-add btn waves-effect waves-light right"><i class="fa fa-thumbs-down" aria-hidden="true"></i>{{'CONFIRM_REJECT_PROCEDURE_REQUEST' | translate}}</a>
      <a class="modal-action modal-close btn-add btn waves-effect waves-light right"><i class="fa fa-window-close-o" aria-hidden="true"></i>{{'CANCEL' | translate}}</a>
    </div>
  </div>
</div>

<div id="modal_motivo_resend" class="modal">
    <div class="modal-content">
        <div class="new-order">
            <h6>{{'REASON' | translate}}:</h6>
        </div>
        <div class="input-field">
            <input type="text" ng-model="reasonResend" placeholder="{{'INSERT_YOUR' | translate}} {{'REASON' | translate}}">
            <a class="modal-action modal-close btn-add btn waves-effect waves-light right" ng-click="resendProcedure()">{{'ACCEPT' | translate}}</a>
            <a class="modal-action modal-close btn-add btn waves-effect waves-light right"><i class="fa fa-window-close-o" aria-hidden="true"></i>{{'CANCEL' | translate}}</a>
        </div>
    </div>
</div>

<div id="modal10" class="modal modal10">
  <div class="modal-content">
    <p>{{'THE_REQUEST_WAS_RECORDED_AND_SENT_TO_THE_RECEIVER' | translate}} ({{procedureResquest.performer.display}}, {{procedureResquest.performerType.text}}),
      {{'IT_WILL_BE_ANSWERED_AS_SOON_AS_POSSIBLE' | translate}}</p>
  </div>
  <div class="modal-footer">
    <a id="acept_modal" href="#!" class="modal-action modal-close waves-effect waves-light btn btn-add" ui-sref="procedure_request_abm">{{'ACCEPT' | translate}}</a>
  </div>
</div>

<div id="modal_reject_reason" class="modal">
    <div class="modal-content">
        <div class="new-order">
            <h6>{{'REQUEST_REJECTED' | translate}}:</h6>
        </div>
    </div>
    <div class="modal-content">
      <p>{{'THIS_REQUEST_WAS_REJECTED_FOR_THE_CURRENT_REASON' | translate}}:
        <p class="reject_reason">{{procedureResquest.reasonCode[0].text}}</p>
      {{'YOU_CAN_CREATE_ONE_WITH_THIS_DATA_AND_EDIT_IT_TO_SEND_IT_TO_THE_SAME_ORGANIZATION' | translate}}</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-add btn waves-effect waves-light right" ng-click="flicker()">{{'ACCEPT' | translate}}</a>
    </div>
</div>
