<div class="contenedor_max formIngreso">
    <div class="title-form">
        <h4>{{'DIAGNOSTIC_ORDER' | translate}}</h4>
    </div>

    <form>
        <div class="row">
            <a ui-sref="diagnostic_order_print({id:_id})" class="btn-add btn waves-effect waves-light right">
                <i class="fa fa-print" aria-hidden="true"></i>{{'PRINT' | translate}}
            </a>

            <a ui-sref="diagnostic_report_order({diagnostic_order_id:_id})" ng-if="isEnabled('practitioner_report') && _id" class="btn-add btn waves-effect waves-light right">
                <i class="fa fa-file-o" aria-hidden="true"></i>{{'NEW' | translate}}
            </a>

            <a class="btn-add btn waves-effect waves-light right" ng-click="saveDiagnosticOrder()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{'SAVE' | translate}}</a>

            <a ng-click="cancelDiagnosticOrder()" class="btn-add btn waves-effect waves-light right">
                <i class="fa fa-mail-reply" aria-hidden="true"></i>{{'RETURN_TO_LIST' | translate}}
            </a>

            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="input-field" ng-if="subjectEnable">
                                        <a ui-sref="patient_add({id:diagnosticOrder.subject.reference})" class="black-text">
                                            <input id="subject" type="text" class="validate" ng-model="diagnosticOrder.subject.display" readonly />
                                            <label for="reference">{{'PATIENT' |translate}}</label>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="input-field" ng-if="subjectEnable">
                                        <input id="subject" type="text" class="validate" ng-model="currentPatient.identifier[0].value" readonly />
                                        <label for="reference">{{'PERSONAL_IDENTIFICATION' |translate}}</label>
                                        <span></span>
                                    </div>
                                    <div class="input-field">
                                        <input id="type" type="text" class="validate" ng-model="diagnosticOrder.type_text" readonly/>
                                        <label for="type">{{'TYPE' | translate}}</label>
                                        <span></span>
                                    </div>
                                    <div class="input-field">
                                        <input id="createdAt" type="text" class="validate" ng-model="diagnosticOrder.createdAt" readonly/>
                                        <label for="createdAt">{{'CREATED_AT' | translate}}</label>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="input-field">
                                        <input id="title" type="text" class="validate" ng-model="diagnosticOrder.identifier[0].system" />
                                        <label for="title">{{'TITLE' | translate}}</label>
                                        <span></span>
                                    </div>
                                    <div class="input-field">
                                        <input id="email" type="text" class="validate" ng-model="diagnosticOrder.status" readonly/>
                                        <label for="email">{{'STATUS' | translate}}</label>
                                        <span></span>
                                    </div>
                                    <div class="input-field">
                                        <input id="email" type="text" class="validate" ng-model="diagnosticOrder.reason[0].text" />
                                        <label for="email">{{'REASON' | translate}}</label>
                                        <span></span>
                                    </div>
                                    <div class="input-field">
                                        <input id="modifiedAt" type="text" class="validate" ng-model="diagnosticOrder.updatedAt" readonly/>
                                        <label for="modifiedAt">{{'MODIFIED_AT' | translate}}</label>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="title-form">

                                <h5>{{'STUDIES' | translate}}<a ng-if="subjectEnable" ng-click="setEmpty()" class="btn btn-flat waves-effect waves-light right"
                                        data-target='modal-study' modal open="modalStatus.open">{{addStr}}</a></h5>
                                <span></span>
                            </div>
                            <div ng-if="subjectEnable">
                                <ul class="collection files-col">
                                    <li class="collection-item" ng-repeat="observation in observations">
                                        <span class="right cancel_study" ng-click="removeObservation(observation)"><a> <i class="material-icons right">cancel</i></a></span>
                                        <span class="right cancel_study" ng-click="editObservation(observation)"><a data-target='modal-study' modal open="modalStatus.open"><i class="material-icons right preview">mode_edit</i></a></span>
                                        <span class="title" ng-click="observationDetail(observation)"><a>{{observation.valueString || observation._id}} <i class="fa fa-eye right preview" aria-hidden="true"></i></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="!subjectEnable">
                                <ul class="collection files-col">
                                    <li class="collection-item" ng-repeat="observation in attachedObservations">
                                        <span class="title" ng-click="observationDetail(observation)"><a>{{observation.valueString || observation._id}} <i class="fa fa-search-plus right preview" aria-hidden="true"></i></a></span>
                                    </li>
                                </ul>
                            </div>
                            <study-viewer ng-if="currentObservation._id" attachment="currentObservation.attachment" study-name="currentObservation.studyName"
                                save-attachment="saveAttachment" select-attachment="selectAttachment"></study-viewer>
                            <study-dicom ng-if="currentObservation._id" no-dicom="notIsDicom" current-attachment="currentAttachment" attachment="currentObservation.attachment"></study-dicom>
                        </div>
                    </div>
                </div>
            </div>
            <file-modal attachment="attachment" save="saveAttachment" type="'multiple'" study-name="currentObservation.studyName" accept-callback="saveNewStudy"
                status="modalStatus"></file-modal>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="title-form">
                                    <h5>{{'NOTES' | translate}}</h5>
                                </div>
                                <ul class="collection files-col">
                                    <li class="collection-item" ng-repeat="item in diagnosticOrder.note" ng-if="item.text">
                                        <span class="title">{{item.authorString}} - {{ {date: item.time.type, type: 'time'} | setViewDate}}</span>
                                        <p>{{item.text}}</p>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col m12">
                                        <input-field>
                                            <textarea id="note" placeholder="{{placeHolderNote}}" maxlength="140" class="materialize-textarea" ng-model="noteinfo.currentNote" ng-keydown="$event.keyCode == 13 && sendNote()"></textarea>
                                        </input-field>
                                        <div ng-if="noteError" class="msj-error">
                                            <a href="" class="close"><i class="material-icons">clear</i></a>
                                            <p><i class="material-icons">report_problem</i>{{'THERE_ARE_UNSAVED_NOTES' | translate}}</p>
                                        </div>
                                        <button class="btn waves-effect waves-teal btn-add" ng-click="sendNote()" type="submit" name="action">{{commentStr}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12" ng-if="reports.length > 0">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="reference">{{'REPORT_LIST'|translate}}  </label>
                                </div>
                                <div class="input-field col s12" ng-repeat="report in reports">
                                    <a ui-sref="diagnostic_report_add({id:report._id})" class="black-text">
                                        <input id="reference" type="text" ng-model="report._id" readonly/>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="title-form">
                                <h5>{{'MODIFICATIONS' | translate}}</h5>
                            </div>
                            <ul class="collection files-col">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn-add btn waves-effect waves-light right" ng-click="saveDiagnosticOrder()"><i class="fa fa-floppy-o" aria-hidden="true"></i>{{'SAVE' | translate}}</a>
            </div>
        </div>
    </form>

</div>
