  <div class="contenedor_max formIngreso">
        <div class="row title_plus_btn ancho_diagnostico"></div>
   <div class="title-form ancho_diagnostico type_request reduce-margin">
        <a class="btn-add btn waves-effect waves-light right" ui-sref="procedure_request_abm">
            <i class="fa fa-mail-reply ng-scope" aria-hidden="true"></i>{{'RETURN_TO_LIST' | translate}}
        </a>
        <h4>{{'TYPES_REQUESTS' | translate}}</h4>
    </div>
    <div class="row ancho_diagnostico order-type">
        <div ng-repeat="diagnosticInfo in diagnosticTypeList">
            <div class="card col s6 column-type">
                <div>
                    <p>{{diagnosticInfo.title}}</p>
                </div>
                <div class="card-action">
                    <a ng-click="newDiagnosticOrder(diagnosticInfo)" class="btn waves-effect waves-light">{{'NEW' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div> 