<div class="contenedor_max formIngreso">
    <div class="title-form">
        <h4>New Diagnostic Order</h4>
        <span>Lorem ipsum dolor</span>
    </div>

    <form>
        <div class="row">
            <edit-identifier-human modelname="'diagnostic_order_add'" identifier='identifier' id='_id'></edit-identifier-human>
        </div>

        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <a ui-sref="patient_add({id:subject.reference})" class="black-text">
                                    <input id="subject" type="text" class="validate" ng-model="subject.display" readonly/>
                                    <label for="reference">Subject</label>
                                    <span></span>
                                </a>
                            </div>
                            <basic-edit-human modelname="'diagnostic_order_add'" model="status" title="'Status'" attrname="'status'"></basic-edit-human>
                            <div class="input-field col s12">
                                <input id="email" type="text" class="validate" ng-model="reason[0].text" />
                                <label for="email">Reason</label>
                                <span></span>
                            </div>
                            <div class="row">
                                <div class="col l3 m3 s12">
                                    <h6 for="text">Managing Organization</h6>
                                </div>
                                <div class="input-field col s12">
                                    <select ng-model="managingOrganization.reference" ng-change="selectOrganization()">
                                        <option value="">Select Organization</option>
                                        <option ng-repeat="organization in organizations" value="{{organization.managingOrganization.reference}}">{{organization.managingOrganization.display}}</option>
                                        <option ng-repeat="organization in organizationList" value="{{organization._id}}">{{organization.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <h6 for="priority">Priority</h6>
                                <select id="priority" ng-model="priority">
                                  <option value="">Select Priority</option>
                                  <option value="routine">Routine</option>
                                  <option value="urgent">Urgent</option>
                                  <option value="stat">Stat</option>
                                  <option value="asap">Asap</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="input-field col s12">
                                <h6 for="priority">Type</h6>
                                <select id="priority" ng-model="type.text">
                                  <option value="">Select Priority</option>
                                  <option value="Asynchronous consultation">Asynchronous consultation</option>
                                  <option value="Scheduled synchronous consultation">Scheduled synchronous consultation</option>
                                  <option value="Spontaneous synchronous consultation">Spontaneous synchronous consultation</option>
                                  <option value="Scheduled synchronous consultation with patient present">Scheduled synchronous consultation with patient present</option>
                                  <option value="Spontaneous synchronous consultation with patient present">Spontaneous synchronous consultation with patient present</option>
                                  <option value="Urgency Synchronous Consultation">Urgency Synchronous Consultation</option>
                                  <option value="Emergency Synchronous Consultation">Emergency Synchronous Consultation</option>
                                </select>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m6 s12" ng-if="reports.length > 0">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="reference">Reports List </label>
                                </div>
                                <div class="input-field col s12" ng-repeat="report in reports">
                                    <a ui-sref="diagnostic_report_add({id:report._id})" class="black-text">
                                        <input id="reference" type="text" ng-model="report._id" readonly/>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m6 s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <dicom-viewer attachments="currentAttachment" load-attachments="loadAttachments"></dicom-viewer>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m6 s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="title-form">
                                <h5>Files</h5>
                            </div>
                            <ul class="collection files-col">
                                <li class="collection-item avatar" ng-repeat="item in attachment" ng-click="selectAttachment(item)">
                                    <i class="material-icons circle">folder</i>
                                    <span>{{item.title}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col m12">
                    <div class="card">
                        <div class="card-content">
                            <div class="title-form">
                                <h5>Notes</h5>
                            </div>
                            <ul class="collection files-col">
                                <li class="collection-item avatar" ng-repeat="item in note" ng-if="item.text">
                                    <span class="title">{{item.authorString}}</span>
                                    <p>{{item.text}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>


<div class="row row-bottom">
    <a class="btn-add btn waves-effect waves-light" ui-sref="diagnostic_report_order({diagnostic_order_id:_id})" ng-if="isEnabled('practitioner_report') && _id"><i class="fa fa-paper-plane" aria-hidden="true"></i>Report</a>
    <a class="btn-add btn waves-effect waves-light" ng-click="cancelDiagnosticOrder()"><i class="fa fa-mail-reply" aria-hidden="true"></i>Return to list</a>
    <a class="btn-add btn waves-effect waves-light" ui-sref="diagnostic_order_print({id:_id})"><i class="fa fa-print" aria-hidden="true"></i>Print</a>
</div>

</div>