<div class="contenedor_max formIngreso">
    <div class="title-form">
        <h4>Graphic Resources</h4>
        <span></span>
    </div>

    <div class="row">
        <div class="col s12">
            <ul tabs class="steps">
                <li class="tab col s1">
                    <a class="active" href="#test1" class="relative">
                        <span class="step">1</span>
                        <span class="title">Test</span>
                    </a>
                </li>
                <li class="tab col s1">
                    <a href="#test2" class="relative">
                        <span class="step">2</span>
                        <span class="title">Test</span>
                    </a>
                </li>
                <li class="tab col s1">
                    <a href="#test3" class="relative">
                        <span class="step">3</span>
                        <span class="title">Test</span>
                    </a>
                </li>
                <li class="tab col s1">
                    <a href="#test4" class="relative">
                        <span class="step">4</span>
                        <span class="title">Test</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
    </div>

    <div class="row">
        <div class="cont_step relative">
            <div class="progress-point">
                <div class="bar-progress"></div>
            </div>
            <ul class="steps">
                <li class="relative">
                    <a href="">
                        <span class="step">1</span>
                        <span class="title">Title</span>
                    </a>
                </li>
                <li class="relative">
                    <a href="">
                        <span class="step">2</span>
                        <span class="title">Title</span>
                    </a>
                </li>
                <li class="relative">
                    <a href="">
                        <span class="step">3</span>
                        <span class="title">Title</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
