<link rel="stylesheet" href="stylesheets/printView.css">

<div class="page first-page ">
    <header>
        <div class="row firstRow">
            <div class="col s4">
                <div class="brandPrint">
                    <h1>Logo</h1>
                </div>
            </div>
            <div class="col s4">
                <ul class="datos_empresa">
                    <li>
                        <span>Nombre de Empresa</span>
                    </li>
                    <li>
                        <span>Dirección: </span> Lorem ipsum dolor 2546, CABA
                    </li>
                    <li>
                        <span>Teléfono: </span> +54 011 935698474
                    </li>
                    <li>
                        <span>Horario de Atención: </span> 17hs a 21hs
                    </li>
                    <li>
                        <span>Website: </span> www.computers.com
                    </li>
                </ul>
            </div>
            <div class="col s4">
                <div class="codigo">
                    <ul>
                        <li>
                            <span class="top_c">Código: </span><span class="valor_c">4564A4</span>
                        </li>
                        <li>
                            <span class="top_c">Fecha: </span><span class="valor_c">12/04/17</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row cards-print">
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Practitioner</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Tipo</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Patient</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
    </article>

    <footer>
        <div class="row">
            <div class="left">
                <div class="brand_footer">
                    <h1>Logo</h1>
                </div>
                <ul>
                    <li>
                        <span>Nombre</span>
                    </li>
                    <li>
                        +5401194578512
                    </li>
                    <li>
                        mail@info.com
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="info_page">
                    <p>Page <span>1/3</span></p>
                    <p>12/04/17</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="page first-page ">
    <header>
        <div class="row firstRow">
            <div class="col s4">
                <div class="brandPrint">
                    <!--  <img src="img/logo_black.png" alt="">-->
                    <h1>Logo</h1>
                </div>
            </div>
            <div class="col s4">
                <ul class="datos_empresa">
                    <li>
                        <span>Nombre de Empresa</span>
                    </li>
                    <li>
                        <span>Dirección: </span> Lorem ipsum dolor 2546, CABA
                    </li>
                    <li>
                        <span>Teléfono: </span> +54 011 935698474
                    </li>
                    <li>
                        <span>Horario de Atención: </span> 17hs a 21hs
                    </li>
                    <li>
                        <span>Website: </span> www.computers.com
                    </li>
                </ul>
            </div>
            <div class="col s4">
                <div class="codigo">
                    <ul>
                        <li>
                            <span class="top_c">Código: </span><span class="valor_c">4564A4</span>
                        </li>
                        <li>
                            <span class="top_c">Fecha: </span><span class="valor_c">12/04/17</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row cards-print">
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Practitioner</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Tipo</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Patient</header>
                    </div>
                    <div class="card-content">
                        Lorem ipśum dolor
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
    </article>

    <footer>
        <div class="row">
            <div class="left">
                <div class="brand_footer">
                    <h1>Logo</h1>
                </div>
                <ul>
                    <li>
                        <span>Nombre</span>
                    </li>
                    <li>
                        +5401194578512
                    </li>
                    <li>
                        mail@info.com
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="info_page">
                    <p>Page <span>2/3</span></p>
                    <p>12/04/17</p>
                </div>
            </div>
        </div>
    </footer>
</div>
