<div class="title-form">
    <h4>New Observationnnn</h4>
</div>
<div class="container formIngreso">
    <div class="title-form">
        <h5>Datos Generales</h5>
    </div>
    <div class="row">
        <form class="col l9 s12">
            <div class="input-field datos-full col s12">
                <div class="col l3 m12 s12 nopad">
                    <h6>Identifier</h6>
                </div>
                <div class="dato col l9 m12 s12">
                    <span>{{_id}}</span>
                </div>
            </div>
            <div class="row">
                <!-- <basic-edit-human modelname="'observation_add'" model="status" title="'Status'" attrname="'status'"></basic-edit-human> -->
                <div class="input-field col s12">
                    <input id="comments" type="text" class="validate" ng-model="comments" />
                    <label for="comments">{{'COMMENTS' | translate}}</label>
                    <span></span>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="text" class="validate" ng-model="status" />
                    <label for="email">{{'STATUS' | translate}}</label>
                    <span></span>
                </div>

                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn waves-effect waves-light">
                            <span>FILE</span>
                            <input type="file" ng-model="file_upload" value="" onload="onLoadFile" base-sixty-four-input>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" ng-model="component[0].valueAttachment.filename">
                        </div>
                        <div class="row" ng-if="component[0].valueAttachment.data">
                            <img class="responsive-img" ng-src="{{component[0].valueAttachment.data}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="input-field col s12">
                  <div class="file-field input-field">
                    <a class="btn-add btn waves-effect waves-light" ui-sref="observation_file"><i class="fa fa-check" aria-hidden="true"></i>Demo File</a>
                  </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row row-bottom">
        <a class="btn-add btn waves-effect waves-light" ng-click="saveObservation()"><i class="fa fa-check" aria-hidden="true"></i>{{'SAVE' | translate}}</a>
        <a class="btn-add btn waves-effect waves-light" ng-click="cancelObservation()"><i class="fa fa-mail-reply" aria-hidden="true"></i>{{'RETURN_TO_LIST' | translate}}</a>
    </div>

</div>
