<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Adistal R2</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="/img/iconos/favicon.png" sizes="32x32">
  <link rel="stylesheet" href="stylesheets/materialize.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/responsive.css">
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/components/angular-resource/angular-resource.min.js"></script>
  <script src="/components/materialize/dist/js/materialize.min.js"></script>
  <script src="/components/satellizer/dist/satellizer.min.js"></script>
  <script src="/components/angular-materialize/src/angular-materialize.js"></script>
  <script src="/components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
  <script src="/components/a0-angular-storage/dist/angular-storage.min.js"></script>
  <script src="/components/angular-mocks/angular-mocks.js"></script>
  <script src="/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="/components/angular-translate/angular-translate.min.js"></script>
  <script src="/components/moment/min/moment.min.js"></script>
  <script src="/components/angular-moment/angular-moment.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/components/simple-web-notification/web-notification.js"></script>
  <script src="/components/angular-web-notification/angular-web-notification.js"></script>
  <script src="/javascripts/materialize/materialize.js"></script>

  <script src="/components/socket.io-client/dist/socket.io.js"></script>
  <script src="/javascripts/socket/socket.js"></script>

  <script src="/javascripts/utilities.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/components/components.js"></script>
  <script src="/javascripts/components/notificationComponent.js"></script>
  <script src="/javascripts/components/backgroundComponents.js"></script>
  <script src="/javascripts/components/physicalExamComponent.js"></script>
  <script src="/javascripts/components/loaderComponent.js"></script>
  <script src="/javascripts/controllers/user-controller.js"></script>
  <script src="/javascripts/controllers/coordinator-controller.js"></script>
  <script src="/javascripts/controllers/node-administrator-controller.js"></script>
  <script src="/javascripts/controllers/organization-administrator-controller.js"></script>
  <script src="/javascripts/controllers/organization-controller.js"></script>
  <script src="/javascripts/controllers/practitioner-controller.js"></script>
  <script src="/javascripts/controllers/credit-controller.js"></script>
  <script src="/javascripts/controllers/diagnostic-order-controller.js"></script>
  <script src="/javascripts/controllers/service-type-controller.js"></script>
  <script src="/javascripts/controllers/diagnostic-report-controller.js"></script>
  <script src="/javascripts/controllers/encounter-controller.js"></script>
  <script src="/javascripts/controllers/auxiliar-controller.js"></script>
  <script src="/javascripts/controllers/structure-controller.js"></script>
  <script src="/javascripts/controllers/device-controller.js"></script>
  <script src="/javascripts/controllers/plan-controller.js"></script>
  <script src="/javascripts/controllers/observation-controller.js"></script>
  <script src="/javascripts/controllers/patient-controller.js"></script>
  <script src="/javascripts/controllers/appointment-controller.js"></script>
  <script src="/javascripts/controllers/schedule-controller.js"></script>
  <script src="/javascripts/controllers/slot-controller.js"></script>
  <script src="/javascripts/controllers/location-controller.js"></script>
  <script src="/javascripts/human-controllers/appointment-controller.js"></script>
  <script src="/javascripts/human-controllers/set-password-controller.js"></script>
  <script src="/javascripts/human-controllers/coordinator-controller.js"></script>
  <script src="/javascripts/human-controllers/node-administrator-controller.js"></script>
  <script src="/javascripts/human-controllers/organization-controller.js"></script>
  <script src="/javascripts/human-controllers/diagnostic-order-controller.js"></script>
  <script src="/javascripts/human-controllers/practitioner-controller.js"></script>
  <script src="/javascripts/human-controllers/diagnostic-report-controller.js"></script>
  <script src="/javascripts/human-controllers/auxiliar-controller.js"></script>
  <script src="/javascripts/human-controllers/organization-administrator-controller.js"></script>
  <script src="/javascripts/human-controllers/observation-controller.js"></script>
  <script src="/javascripts/human-controllers/call-center-controller.js"></script>
  <script src="/javascripts/human-controllers/patient-controller.js"></script>
  <script src="/javascripts/human-controllers/practitioner-diagnostic-order-controller.js"></script>
  <script src="/javascripts/human-controllers/procedure-request-controller.js"></script>
  <script src="/javascripts/human-controllers/notification-controller.js"></script>
  <script src="/javascripts/translate/es.js"></script>
  <script src="/javascripts/translate/en.js"></script>

  <!-- decom viewver -->
  <script src="/components/dwv/dist/dwv.min.js"></script>
  <script src="/javascripts/dwv/dwv.js"></script>

  <!-- ROUTERS -->
  <script src="/javascripts/routers/users-router.js"></script>
  <script src="/javascripts/routers/coordinator-router.js"></script>
  <script src="/javascripts/routers/node-administrator-router.js"></script>
  <script src="/javascripts/routers/credit-router.js"></script>
  <script src="/javascripts/routers/service-type-router.js"></script>
  <script src="/javascripts/routers/plan-router.js"></script>
  <script src="/javascripts/routers/encounter-router.js"></script>
  <script src="/javascripts/routers/device-router.js"></script>
  <script src="/javascripts/routers/observation-router.js"></script>
  <script src="/javascripts/routers/auxiliar-router.js"></script>
  <script src="/javascripts/routers/appointment-router.js"></script>
  <script src="/javascripts/routers/schedule-router.js"></script>
  <script src="/javascripts/routers/slot-router.js"></script>
  <script src="/javascripts/routers/location-router.js"></script>
  <script src="/javascripts/routers/human-router.js"></script>
  <script src="/javascripts/routers/logged-home-router.js"></script>
  <script src="/javascripts/routers/print-template-router.js"></script>
  <script src="/javascripts/routers/notification-router.js"></script>
  <script src="/javascripts/routers/set-password-router.js"></script>

  <!-- SERVICES -->
  <script src="/javascripts/services/practitioner.js"></script>
  <script src="/javascripts/services/list.js"></script>
  <script src="/javascripts/services/statistics.js"></script>
  <script src="/javascripts/services/diagnostic-order.js"></script>
  <script src="/javascripts/services/diagnostic-report.js"></script>
  <script src="/javascripts/services/patient.js"></script>
  <script src="/javascripts/services/users.js"></script>
  <script src="/javascripts/services/organizations.js"></script>
  <script src="/javascripts/services/observation.js"></script>
  <script src="/javascripts/services/node-administrator.js"></script>
  <script src="/javascripts/services/procedure-request.js"></script>
  <script src="/javascripts/services/appointment.js"></script>
  <script src="/javascripts/services/notification.js"></script>
  <script src="/javascripts/services/caller.js"></script>
  <script src="/javascripts/services/auxiliar.js"></script>

</head>

<body class="scroll" ng-app="adistalApp">
  <div ng-show="enableAcceptCall" class="call-start" ng-cloak>
    <div>
      <p>{{'IT_CAN_ALREADY_BE_ATTENDED' | translate}}</p>
      <a ng-click="acceptCall()" class="btn waves-effect waves-light"><i class="material-icons">videocam</i>{{'START' | translate}}</a>
    </div>
  </div>
  <div ui-view="login" ng-show="!isAuthenticated()" ng-cloak></div>
  <div ui-view="setpassword" ng-show="!isAuthenticated()" ng-cloak></div>
  <div ui-view="selectRol" ng-show="isAuthenticated() && selectRolEnable" ng-cloak></div>
  <div class="contenedor-total" ng-if="!selectRolEnable && isAuthenticated()" ng-cloak>
      <div class="waiting" ng-if="windowsVideoCall" ng-cloak>
        <div ng-if="waitingVideoCall">
          <i class="material-icons">videocam</i>
          <p>{{'WAITING_VIDEOCALL' | translate}}</p>
        </div>
        <div ng-if="roomAvailable">
            <i class="material-icons">phone_in_talk</i>
            <p class="reintentar-call" ng-click="goToRoom()">{{'RETRY_CALL' | translate}}<p>
        </div>
        <div class="cancelWaiting" ng-if="cancelVideoCall">
          <a ng-click="finishCallClient()" class="action-call" >{{'CANCEL_CALL' | translate}}</a>
        </div>
      </div>
      <header class="toppage">
        <nav>
          <div class="nav-wrapper">
            <a ui-sref="loggedhome" data-activates="slide-out" class="button-collapse" data-sidenav="left" data-menuwidth="300"><i class="material-icons">menu</i></a>
            <a ng-if="isAuthenticated() && isEnabled('loggedhome')" ui-sref="loggedhome" class="brand-logo center">
                    <img src="img/brand2.png" alt="" class="responsive-img">
                </a>
            <a ng-if="isAuthenticated() && isEnabled('home_node_administrator')" ui-sref="loggedhomeadministrator" class="brand-logo center">
                    <img src="img/brand2.png" alt="" class="responsive-img">
                </a>
            <a ng-if="isAuthenticated() && isEnabled('home_callcenter')" ui-sref="loggedhomecallcenter" class="brand-logo center">
                    <img src="img/brand2.png" alt="" class="responsive-img">
                </a>
            <div class="titulo-seccion" ng-cloak>
              <h4>{{title || ''}}</h4>
              <p>{{description || ''}}</p>
            </div>
            <a href="" class="help" ng-click="openExplication()" tooltipped data-position="left" data-delay="50" data-tooltip="{{'HELP' | translate}}"><i class="material-icons">help</i></a>
          </div>
        </nav>
      </header>

      <ul id="slide-out" class="side-nav fixed nav-side" ng-cloak style="transform: translateX(0%);">
        <li class="admin">
          <div class="admin-box" ng-if="username">
            <div class="adminicon"><img ng-src="img/iconos/{{headerIcon}}.png"></div>
            <i ng-show="callInProgress" ng-click="returnToRoom()" class="fa fa-phone fa-2x"></i>
            <a class="truncate" ui-sref="users-view({id:userId})">{{username}}</a>
            <a class="perfil" ui-sref="users-view({id:userId})">{{'SEE_PROFILE'| translate}}</a>
          </div>
          <p class="notificaciones" ng-if="isAuthenticated() && isEnabled('notification')">
            <a ui-sref="notification"  tooltipped data-position="right" data-delay="50" data-tooltip="{{'VIEW_NOTIFICATIONS_RECIEVED_PENDING_OR_ALREADY_READ' | translate}}">
                <img ng-class="{'move': unreadNotifications.quantity}" src="img/iconos/campana.png">
                <img ng-show="unreadNotifications.quantity" src="img/iconos/campana2.png" class="animation-notific">
                <p ng-class="{'opacity-zero': !unreadNotifications.quantity}" class="number-notification" tooltipped data-position="right" data-delay="50" data-tooltip="{{'VIEW_NOTIFICATIONS_RECIEVED_PENDING_OR_ALREADY_READ' | translate}}"><notification/></p>
            </a>
          </p>
        </li>
        <li ng-if="!isAuthenticated()">
          <a ui-sref="home" class="menu-side truncate" ui-sref-active="active-side">{{'LOGIN' | translate}} <i class="fa fa-check-square" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('home_node_administrator')">
          <a ui-sref="loggedhomeadministrator" class="menu-side truncate" ng-class="((currentState | getRootState) === 'loggedhomeadministrator' ? 'active-side' : '')"><img class="inact" src="img/iconos/inicio.png"><img class="act" src="img/iconos/inicioact.png">{{'HOME' | translate}} </a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('home_callcenter')">
          <a ui-sref="loggedhomecallcenter" class="menu-side truncate" ng-class="((currentState | getRootState) === 'loggedhomecallcenter' ? 'active-side' : '')"><img class="inact" src="img/iconos/inicio.png"><img class="act" src="img/iconos/inicioact.png">{{'HOME' | translate}} </a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('users')">
          <a ui-sref="users" class="menu-side truncate" ng-class="((currentState | getRootState) === 'users' ? 'active-side' : '')"><img class="inact" src="img/iconos/usuarios.png"><img class="act" src="img/iconos/usuariosact.png">{{'USERS' | translate}} </a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('loggedhome')">
          <a ui-sref="loggedhome" class="menu-side truncate" ng-class="((currentState | getRootState) === 'loggedhome' ? 'active-side' : '')"><img class="inact" src="img/iconos/inicio.png"><img class="act" src="img/iconos/inicioact.png">{{'HOME' | translate}} </a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('appointment_abm')">
          <a ui-sref="appointment_abm" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/solicitudes.png"><img class="act" src="img/iconos/solicitudesact.png">{{'APPOINTMENTS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('auxiliar_abm')">
          <a ui-sref="auxiliar_abm" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/reportes.png"><img class="act" src="img/iconos/reportesact.png">{{'AUXILIAR' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('coordinator_abm')">
          <a ui-sref="coordinator_abm" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/pacientes.png"><img class="act" src="img/iconos/pacientesact.png">{{'COORDINATOR' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('diagnostic_order_abm')">
          <a ui-sref="procedure_request_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'procedure' ? 'active-side' : '')"><img class="inact" src="img/iconos/solicitudes.png"><img class="act" src="img/iconos/solicitudesact.png">{{'DIAGNOSTIC_ORDERS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('diagnostic_report_abm')">
          <a ui-sref="diagnostic_report_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'diagnostic' ? 'active-side' : '')"><img class="inact" src="img/iconos/reportes.png"><img class="act" src="img/iconos/reportesact.png">{{'DIAGNOSTIC_REPORTS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('patient_abm')">
          <a ui-sref="patient_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'patient' ? 'active-side' : '')"><img class="inact" src="img/iconos/pacientes.png"><img class="act" src="img/iconos/pacientesact.png">{{'PATIENTS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('organization_administrator_abm')">
          <a ui-sref="organizationadministrator_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'organizationadministrator' ? 'active-side' : '')"><img class="inact" src="img/iconos/profesional.png"><img class="act" src="img/iconos/profesionalact.png">{{'ORGANIZATION ADMIN' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('practitioner_abm')">
          <a ui-sref="practitioner_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'practitioner' ? 'active-side' : '')"><img class="inact" src="img/iconos/profesional.png"><img class="act" src="img/iconos/profesionalact.png">{{'PRACTITIONERS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('organization_abm')">
          <a ui-sref="organization_abm" class="menu-side truncate" ng-class="((currentState | getRootState) === 'organization' ? 'active-side' : '')"><img class="inact" src="img/iconos/organizaciones.png"><img class="act" src="img/iconos/organizacionesact.png">{{'ORGANIZATIONS' |translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('appointment')">
          <a ui-sref="appointment" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/estructura.png"><img class="act" src="img/iconos/estructuraact.png">{{'APPOINTMENTS' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('node_admin_abm')">
          <a ui-sref="node_admin_abm" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/estructura.png"><img class="act" src="img/iconos/estructuraact.png">{{'NODE_ADMINISTRATOR' | translate}}</a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="observation_abm" class="menu-side truncate" ui-sref-active="active-side">{{'OBSERVATION' | translate}}<i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="coordinator" class="menu-side truncate" ui-sref-active="active-side">{{'COORDINATOR' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="credit" class="menu-side truncate" ui-sref-active="active-side">{{'CREDIT' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="servicetype" class="menu-side truncate" ui-sref-active="active-side">{{'SERVICE_TYPE' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="encounter" class="menu-side truncate" ui-sref-active="active-side">{{'ENCOUNTER' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="device" class="menu-side truncate" ui-sref-active="active-side">{{'DEVICE' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="observation" class="menu-side truncate" ui-sref-active="active-side">{{'OBSERVATION' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="plan" class="menu-side truncate" ui-sref-active="active-side">{{'PLAN' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="schedule" class="menu-side truncate" ui-sref-active="active-side">{{'SCHEDULE' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="slot" class="menu-side truncate" ui-sref-active="active-side">Slot <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('admin_abm')">
          <a ui-sref="location" class="menu-side truncate" ui-sref-active="active-side">{{'LOCATION' | translate}} <i class="fa fa-table" aria-hidden="true"></i></a>
        </li>
        <li ng-if="isAuthenticated() && isEnabled('practitioner_abm')">
          <a ui-sref="structure" class="menu-side truncate" ng-class="((currentState | getRootState) === 'structure' ? 'active-side' : '')"><img class="inact" src="img/iconos/estructura.png"><img class="act" src="img/iconos/estructuraact.png">{{'DATA_STRUCTURE' | translate}} </a>
        </li>
        <li ng-if="isAuthenticated()">
          <a ui-sref="logout" class="menu-side truncate" ui-sref-active="active-side"><img class="inact" src="img/iconos/cerrar.png"><img class="act" src="img/iconos/cerraract.png">{{'LOGOUT' | translate}}</a>
        </li>
      </ul>

      <main ui-view>
      </main>

      <footer class="footer">
        <div class="footer-copyright">
          <div class="container">
            &copy; {{version}}
          </div>
        </div>
      </footer>
    </div>

  </div>
  <div class="background-exo" ng-if="!isAuthenticated()">
    <img src="img/background-logo-500.png" alt="">
  </div>
</body>

<script>
  $(".button-collapse").sideNav();
</script>

<script type="text/javascript">
  var $document = $(document);

  function reloadDatepicker() {
    $('.datepicker').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  }

  $('a.menu-side').click(function(event) {
    event.preventDefault;
    $('a.menu-side').removeClass("active-side");
    $(this).addClass("active-side");
  });

  $document.on('click', '#field-plus', function(event) {
    event.preventDefault;
    $('#field').slideToggle("slow");
    reloadDatepicker();
  });
  $document.on('click', '.contact-plus', function(event) {
    event.preventDefault;
    $('.plus-ad').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");
    reloadDatepicker();
  });

  $document.on('click', '.contact-plus2', function(event) {
    event.preventDefault;
    $('.plus-ad2').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");
    reloadDatepicker();
  });

  $document.on('click', '.period-plus', function(event) {
    event.preventDefault;
    $('.arrow-form2').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");
    reloadDatepicker();

  });

  $document.on('click', '.field-plus', function(event) {
    event.preventDefault;
    $('.arrow-forms').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });

  $document.on('click', '.field-second', function(event) {
    event.preventDefault;
    $('.arrow-form4').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.field-third', function(event) {
    event.preventDefault;
    $('.arrow-form5').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.field-four', function(event) {
    event.preventDefault;
    $('.arrow-form6').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.four-plus', function(event) {
    event.preventDefault;
    $('.arrow-form7').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.one-field', function(event) {
    event.preventDefault;
    $('.arrow-form8').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.form-ad', function(event) {
    event.preventDefault;
    $('.arrow-formAd').toggleClass('rotateclass');
    var $target = $(event.currentTarget);
    $toggleTarget = $($target.attr("target"));
    $toggleTarget.slideToggle("slow");

  });
  $document.on('click', '.show', function(event) {
    event.preventDefault;
    $(this).closest("li").find(".contact-form").first().slideToggle("slow");
    $(this).closest("li").find(".arrow-form").first().toggleClass('rotateclass');
  })



  $(document).ready(function() {
    $('ul.tabs').tabs();
    $('.tooltipped').tooltip({
      delay: 50
    });
  });
</script>

</html>
