<div class="container-fluid formIngreso formAdd">
    <div class="row">
        <div class="title-form">
            <h4>Credit</h4>
            <span>Complete los campos para el ingreso</span>
        </div>
        <div class="col l8 m8 s12">
            <div class="list-left">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <ul class="campo-pcipal">

                                <edit-identifier modelname="'credit'" identifier="identifier"></edit-identifier>
                                <basic-edit modelname="'credit'" model="managingorganization" title="'Managing Organization'" attrname="'managingorganization'" ></basic-edit>
                                <basic-edit modelname="'credit'" model="value" title="'Value'" attrname="'value'" ></basic-edit>
                            </ul>
                        </div>
                        <div class="row row-btn">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="saveCredit()">Aceptar </button>
                                <button class="btn waves-effect waves-light" type="" name="action">Borrador </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div ui-view="forms"></div>
    </div>
</div>
</div>
