<div class="container-fluid formIngreso formAdd">
    <div class="row">
        <div class="title-form">
            <h4>Diagnostic Report</h4>
            <span>Complete los campos para el ingreso</span>
        </div>
        <div class="col l8 m8 s12">
            <div class="list-left">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <ul class="campo-pcipal">

                                <edit-identifier modelname="'diagnostic_report'" identifier='identifier'></edit-identifier>
                                <basic-edit modelname="'diagnostic_report'" model="status" title="'Status'" attrname="'status'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="conclusion" title="'Conclusion'" attrname="'conclusion'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="effectiveDateTime" title="'Effective Datetime'" attrname="'effectiveDateTime'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="issued" title="'Issued'" attrname="'issued'"></basic-edit>
                                <edit-codeable-concept attrname="'category'" title="'Category'" modelname="'diagnostic_report'" codeable-concept="category"></edit-codeable-concept>
                                <edit-codeable-concept attrname="'code'" title="'Code'" modelname="'diagnostic_report'" codeable-concept="code"></edit-codeable-concept>
                                <basic-edit modelname="'diagnostic_report'" model="subject" title="'Subject'" attrname="'subject'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="encounter" title="'Encounter'" attrname="'encounter'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="effectiveDatePeriod" title="'Effective Date Period'" attrname="'effectiveDatePeriod'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="performer" title="'Performer'" attrname="'performer'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="request" title="'Request'" attrname="'request'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="specimen" title="'Specimen'" attrname="'specimen'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="result" title="'Result'" attrname="'result'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="imagingStudy" title="'Imaging Study'" attrname="'imagingStudy'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="result" title="'Result'" attrname="'result'"></basic-edit>


                                <li ng-repeat="image_item in image">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Image</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="diagnostic_report.edit.image.comment({image_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addImage()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteImage($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                        </ul>
                                        </span>
                                    </div>

                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <basic-edit modelname="'diagnostic_report'" model="image_item.link" title="'Link'" attrname="'image.link'" parent-index-name="'image_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <edit-codeable-concept attrname="'codeddiagnosis'" title="'Coded Diagnosis'" modelname="'diagnostic_report'" codeable-concept="codedDiagnosis"></edit-codeable-concept>
                                <basic-edit modelname="'diagnostic_report'" model="presentedForm" title="'PresentedForm'" attrname="'presentedform'"></basic-edit>
                                <basic-edit modelname="'diagnostic_report'" model="managingOrganization" title="'Managing Organization'" attrname="'managingorganization'"></basic-edit>
                            </ul>
                        </div>
                        <div class="row row-btn">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="saveDiagnosticReport()">Aceptar </button>
                                <button class="btn waves-effect waves-light" type="" name="action">Borrador </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ui-view="forms"></div>
    </div>
</div>
</div>
