<div class="container-fluid formIngreso formAdd">
    <div class="row">
        <div class="title-form">
            <h4>Diagnostic Order</h4>
            <span>Complete los campos para el ingreso</span>
        </div>
        <div class="col l8 m8 s12">
            <div class="list-left">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <ul class="campo-pcipal">

                                <edit-identifier modelname="'diagnostic_order'" identifier='identifier'></edit-identifier>
                                <basic-edit modelname="'diagnostic_order'" model="status" title="'Status'" attrname="'status'"></basic-edit>
                                <basic-edit modelname="'diagnostic_order'" model="priority" title="'Priority'" attrname="'priority'"></basic-edit>
                                <basic-edit modelname="'diagnostic_order'" model="subject" title="'Subject'" attrname="'subject'"></basic-edit>
                                <edit-codeable-concept attrname="'type'" title="'Type'" modelname="'diagnostic_order'" codeable-concept="type"></edit-codeable-concept>
                                <basic-edit modelname="'diagnostic_order'" model="orderer" title="'Orderer'" attrname="'orderer'"></basic-edit>
                                <basic-edit modelname="'diagnostic_order'" model="encounter" title="'Encounter'" attrname="'encounter'"></basic-edit>
                                <edit-codeable-concept attrname="'reason'" title="'Reason'" modelname="'diagnostic_order'" codeable-concept="reason"></edit-codeable-concept>
                                <basic-edit modelname="'diagnostic_order'" model="supportingInformation" title="'Supporting Information'" attrname="'supportinginformation'"></basic-edit>
                                <basic-edit modelname="'diagnostic_order'" model="specimen" title="'Specimen'" attrname="'specimen'"></basic-edit>

                                <li ng-repeat="event_item in event">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Events</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="diagnostic_order.edit.event({event_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addEvent()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteEvent()"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="result">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <label>Campo cargado </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <edit-codeable-concept attrname="'event.description'" title="'Description'" modelname="'diagnostic_order'" codeable-concept="event_item.description" parent-index-name="'event_index'" parent-index="$index"></edit-codeable-concept>
                                            <basic-edit modelname="'diagnostic_order'" model="event.actor" title="'Actor'" attrname="'event.actor'" parent-index-name="'event_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>


                                <li ng-repeat="item_item in item">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Item</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="diagnostic_order.edit.item({item_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addItem()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteItem()"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="result">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <label>Campo cargado </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <edit-codeable-concept attrname="'item.code'" title="'Code'" modelname="'diagnostic_order'" codeable-concept="item_item.code" parent-index-name="'item_index'" parent-index="$index"></edit-codeable-concept>
                                            <basic-edit modelname="'diagnostic_order'" model="item.specimen" title="'Specimen'" attrname="'item.specimen'" parent-index-name="'item_index'" parent-index="$index"></basic-edit>

                                            <edit-codeable-concept attrname="'item.bodysite'" title="'Body Site'" modelname="'diagnostic_order'" codeable-concept="item_item.bodySite" parent-index-name="'item_index'" parent-index="$index"></edit-codeable-concept>

                                            <li ng-repeat="item_event in item_item.event">
                                                <div class="row top-cat">
                                                    <a class="waves-effect waves-light contact-plus show">
                                                        <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                                    </a>
                                                    <span class="title-height">Events</span>
                                                    <span class="right">
                                                        <ul>
                                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a ui-sref="diagnostic_order.edit.item.event({item_index: $parent.$index, event_index: $index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addItemEvent($parent.$index)"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteItemEvent($parent.$index,$index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </span>
                                                </div>
                                                <div class="second-f contact-form" id="four-f">
                                                    <ul>
                                                        <edit-codeable-concept attrname="'item.event.description'" title="'Description'" modelname="'diagnostic_order'" codeable-concept="item_event.description" parent-index-name="'event_index'" parent-index="$index" parent-parent-index-name="'item_index'"
                                                            parent-parent-index="$parent.$index"></edit-codeable-concept>
                                                        <basic-edit modelname="'diagnostic_order'" model="item_event.actor" title="'Actor'" attrname="'item.event.actor'" parent-index-name="'event_index'" parent-index="$index" parent-parent-index-name="'item_index'" parent-parent-index="$parent.$index"></basic-edit>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li ng-repeat="note_item in note">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Note</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="diagnostic_order.edit.note({note_index: $index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addNote()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteNote($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form" id="four-f">
                                        <ul>
                                            <basic-edit modelname="'diagnostic_order'" model="note_item.authorReference" title="'Author Reference'" attrname="'note.authorReference'" parent-index-name="'note_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                    <div class="result">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <label>Campo cargado </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <basic-edit modelname="'diagnostic_order'" model="managingorganization" title="'Managing Organization'" attrname="'managingorganization'"></basic-edit>
                            </ul>
                        </div>
                        <div class="row row-btn">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="saveDiagnosticOrder()">Aceptar </button>
                                <button class="btn waves-effect waves-light" type="" name="action">Borrador </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div ui-view="forms"></div>
    </div>
</div>
</div>
