<div class="container-fluid formIngreso formAdd">
    <div class="row">
        <div class="title-form">
            <h4>Encounter</h4>
            <span>Complete los campos para el ingreso</span>
        </div>
        <div class="col l8 m8 s12">
            <div class="list-left">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <ul class="campo-pcipal">
                                <edit-identifier modelname="'encounter'" identifier='identifier'></edit-identifier>
                                <basic-edit modelname="'encounter'" model="status" title="'Status'" attrname="'status'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="class" title="'Class'" attrname="'class'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="incomingReferral" title="'Incoming Referal'" attrname="'incomingreferral'"></basic-edit>
                                <edit-codeable-concept attrname="'type'" title="'Type'" modelname="'encounter'" codeable-concept="type"></edit-codeable-concept>
                                <basic-edit modelname="'encounter'" model="episodeOfCare" title="'Episode of care'" attrname="'episodeofcare'"></basic-edit>
                                <edit-codeable-concept attrname="'reason'" title="'Reason'" modelname="'encounter'" codeable-concept="reason"></edit-codeable-concept>
                                <li ng-repeat="location_item in location">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Location</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="encounter.edit.location({location_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addLocation()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteLocation($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form" id="four-f">
                                        <ul>
                                            <basic-edit modelname="'encounter'" model="location_item.location" title="'Location'" attrname="'location.location_reference'" parent-index-name="'location_index'" parent-index="$index"></basic-edit>
                                            <basic-edit modelname="'encounter'" model="location_item.period" title="'Period'" attrname="'location.period'" parent-index-name="'location_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <basic-edit modelname="'encounter'" model="indication" title="'Indication'" attrname="'indication'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="length" title="'Length'" attrname="'length'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="period" title="'Period'" attrname="'period'"></basic-edit>
                                <edit-codeable-concept attrname="'priority'" title="'Priority'" modelname="'encounter'" codeable-concept="priority"></edit-codeable-concept>
                                <li ng-repeat="participant_item in participant">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Participant</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addParticipant()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteParticipant($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <basic-edit modelname="'encounter'" model="participant_item.individual" title="'Individual'" attrname="'participant.individual'" parent-index-name="'participant_index'" parent-index="$index"></basic-edit>
                                            <edit-codeable-concept attrname="'participant.type'" title="'Type'" modelname="'encounter'" codeable-concept="participant_item.type" parent-index-name="'participant_index'" parent-index="$index"></edit-codeable-concept>
                                            <basic-edit modelname="'encounter'" model="participant_item.period" title="'Period'" attrname="'participant.period'" parent-index-name="'participant_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <li ng-repeat="status_history_item in statusHistory">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Status history</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="encounter.edit.statushistory({status_history_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addStatusHistory()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteStatusHistory($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <basic-edit modelname="'encounter'" model="status_history_item.period" title="'Period'" attrname="'statushistory.period'" parent-index-name="'status_history_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <basic-edit modelname="'encounter'" model="patient" title="'Patient'" attrname="'patient'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="serviceProvider" title="'Service Provider'" attrname="'serviceprovider'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="appointment" title="'Appointment'" attrname="'appointment'"></basic-edit>
                                <basic-edit modelname="'encounter'" model="partOf" title="'Part Of'" attrname="'partof'"></basic-edit>
                                <li ng-repeat="hospitalization_item in hospitalization">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Hospitalization</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addHospitalization()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteHospitalization($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="first-f contact-form relative">
                                        <ul>
                                            <basic-edit modelname="'encounter'" model="hospitalization_item.origin" title="'Origin'" attrname="'hospitalization.origin'" parent-index-name="'hospitalization_index'" parent-index="$index"></basic-edit>
                                            <edit-codeable-concept attrname="'hospitalization.admitsource'" title="'Admit Source'" modelname="'encounter'" codeable-concept="hospitalization_item.admitSource" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                            <basic-edit modelname="'encounter'" model="hospitalization_item.admittingDiagnosis" title="'Admitting diagnosis'" attrname="'hospitalization.admittingdiagnosis'" parent-index-name="'hospitalization_index'" parent-index="$index"></basic-edit>
                                            <edit-codeable-concept attrname="'hospitalization.specialarrangement'" title="'Special Arrangement'" modelname="'encounter'" codeable-concept="hospitalization_item.specialArrangement" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                            <edit-codeable-concept attrname="'hospitalization.dietpreference'" title="'Diet Preference'" modelname="'encounter'" codeable-concept="hospitalization_item.dietPreference" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                            <edit-codeable-concept attrname="'hospitalization.readmission'" title="'Re Admission'" modelname="'encounter'" codeable-concept="hospitalization_item.reAdmission" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                            <li>
                                                <div class="row top-cat no-border">
                                                    <a class="waves-effect waves-light contact-plus show">
                                                        <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                                    </a>
                                                    <span class="title-height">Pre Admission Identifier</span>
                                                    <span class="right">
                                                      <ul>
                                                        <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a ui-sref="encounter.edit.hospitalization.preadmissionidentifier({hospitalization_index:$index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                      </ul>
                                                    </span>
                                                </div>
                                                <div class="result">
                                                    <ul>
                                                        <li>
                                                            <div class="row">
                                                                <label>Campo cargado </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="first-f contact-form relative">
                                                    <ul>
                                                      <edit-codeable-concept attrname="'hospitalization.preadmissionidentifier.type'" title="'Type'" modelname="'encounter'" codeable-concept="hospitalization_item.preAdmissionIdentifier.type" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                                    </ul>
                                                </div>
                                            </li>
                                            <edit-codeable-concept attrname="'hospitalization.specialcourtesy'" title="'Special Courtesy'" modelname="'encounter'" codeable-concept="hospitalization_item.specialCourtesy" parent-index-name="'hospitalization_index'" parent-index="$index"></edit-codeable-concept>
                                            <basic-edit modelname="'encounter'" model="hospitalization_item.destination" title="'Destination'" attrname="'hospitalization.destination'" parent-index-name="'hospitalization_index'" parent-index="$index"></basic-edit>
                                            <basic-edit modelname="'encounter'" model="hospitalization_item.dischargeDisposition" title="'Discharge Disposition'" attrname="'hospitalization.dischargedisposition'" parent-index-name="'hospitalization_index'" parent-index="$index"></basic-edit>
                                            <basic-edit modelname="'encounter'" model="hospitalization_item.dischargeDiagnosis" title="'Discharge diagnosis'" attrname="'hospitalization.dischargediagnosis'" parent-index-name="'hospitalization_index'" parent-index="$index"></basic-edit>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="row row-btn">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="saveEncounter()">Aceptar </button>
                                <button class="btn waves-effect waves-light" type="" name="action">Borrador </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ui-view="forms"></div>
    </div>
</div>
</div>
