<div class="container-fluid formIngreso formAdd">
    <div class="row">
        <div class="title-form">
            <h4>Patient</h4>
            <span>Complete los campos para el ingreso</span>
        </div>
        <div class="col l8 m8 s12">
            <div class="list-left">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <ul class="campo-pcipal">
                                <edit-identifier modelname="'patient'" identifier='identifier'></edit-identifier>
                                <basic-edit modelname="'patient'" model="managingOrganization" title="'Managing Organization'" attrname="'managingorganization'"></basic-edit>
                                <edit-codeable-concept attrname="'maritalstatus'" title="'Marital Status'" modelname="'patient'" codeable-concept="maritalStatus"></edit-codeable-concept>
                                <basic-edit modelname="'patient'" model="careProvider" title="'Care Provider'" attrname="'careprovider'"></basic-edit>
                                <basic-edit modelname="'patient'" model="deceasedDateTime" title="'Deceased Date'" attrname="'deceaseddatetime'"></basic-edit>
                                <basic-edit modelname="'patient'" model="gender" title="'Gender'" attrname="'gender'"></basic-edit>
                                <basic-edit modelname="'patient'" model="multipleBirthInteger" title="'Multiple Birth Integer'" attrname="'multiplebirthinteger'"></basic-edit>
                                <basic-edit modelname="'patient'" model="birthDate" title="'Birth Date'" attrname="'birthdate'"></basic-edit>
                                <basic-edit modelname="'patient'" model="deceasedBoolean" title="'Deceased'" attrname="'deceasedboolean'"></basic-edit>
                                <basic-edit modelname="'patient'" model="multipleBirthBoolean" title="'Multiple Birth Boolean'" attrname="'multiplebirthboolean'"></basic-edit>
                                <basic-edit modelname="'patient'" model="active" title="'Active'" attrname="'active'"></basic-edit>
                                <edit-codeable-concept attrname="'accordance'" title="'Accordance'" modelname="'patient'" codeable-concept="accordance"></edit-codeable-concept>
                                <basic-edit modelname="'patient'" model="telecom" title="'Telecom'" attrname="'telecom'"></basic-edit>
                                <li ng-repeat="communication_item in communication">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Communication</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="patient.edit.communication({communication_index: $index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addCommunication()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteCommunication($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form">
                                        <ul>
                                            <edit-codeable-concept attrname="'communication.language'" title="'Language'" modelname="'patient'" codeable-concept="communication_item.language" parent-index="$index" parent-index-name="'communication_index'"></edit-codeable-concept>
                                        </ul>
                                    </div>
                                </li>
                                <li ng-repeat="contact_item in contact">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Contact</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="patient.edit.contact({name_index: $index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addContact()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteContact($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form">
                                        <ul>
                                            <basic-edit modelname="'patient'" model="contact_item.name" title="'Name'" attrname="'contact.name'" parent-index="$index" parent-index-name="'contact_index'"></basic-edit>
                                            <basic-edit modelname="'patient'" model="contact_item.telecom" title="'Telecom'" attrname="'contact.telecom'" parent-index="$index" parent-index-name="'contact_index'"></basic-edit>
                                            <basic-edit modelname="'patient'" model="contact_item.telecom" title="'Period'" attrname="'contact.period'" parent-index="$index" parent-index-name="'contact_index'"></basic-edit>
                                            <edit-codeable-concept attrname="'contact.purpose'" title="'Purpose'" modelname="'patient'" codeable-concept="contact_item.purpose" parent-index="$index" parent-index-name="'contact_index'"></edit-codeable-concept>
                                            <basic-edit modelname="'patient'" model="contact_item.address" title="'Period'" attrname="'contact.address'" parent-index="$index" parent-index-name="'contact_index'"></basic-edit>
                                            <basic-edit modelname="'patient'" model="contact_item.organization" title="'Period'" attrname="'contact.organization'" parent-index="$index" parent-index-name="'contact_index'"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <li ng-repeat="link_item in link">
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Link</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a ui-sref="patient.edit.link({link_index: $index})" class="waves-effect waves-light edit-icon"> <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light add-plus" ng-click="addLink()"> <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="waves-effect waves-light delete" ng-click="deleteLink($index)"> <i class="fa fa-times" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form">
                                        <ul>
                                            <basic-edit modelname="'patient'" model="link_item.other" title="'Other'" attrname="'link.other'" parent-index="$index" parent-index-name="'link_index'"></basic-edit>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="row top-cat no-border">
                                        <a class="waves-effect waves-light contact-plus show">
                                            <i class="fa fa-chevron-right arrow-form" aria-hidden="true"></i>
                                        </a>
                                        <span class="title-height">Animal</span>
                                        <span class="right">
                                          <ul>
                                            <li><a href="" class="waves-effect waves-light"> <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                          </ul>
                                        </span>
                                    </div>
                                    <div class="second-f contact-form">
                                        <ul>
                                            <edit-codeable-concept attrname="'animal.species'" title="'Species'" modelname="'patient'" codeable-concept="animal.species"></edit-codeable-concept>
                                            <edit-codeable-concept attrname="'animal.breed'" title="'Breed'" modelname="'patient'" codeable-concept="animal.breed"></edit-codeable-concept>
                                            <edit-codeable-concept attrname="'animal.genderstatus'" title="'Gender Status'" modelname="'patient'" codeable-concept="animal.genderstatus"></edit-codeable-concept>
                                        </ul>
                                    </div>
                                </li>
                                <basic-edit modelname="'patient'" model="address" title="'Address'" attrname="'address'"></basic-edit>
                                <basic-edit modelname="'patient'" model="photo" title="'Photo'" attrname="'photo'"></basic-edit>
                                <basic-edit modelname="'patient'" model="name" title="'Name'" attrname="'name'"></basic-edit>
                            </ul>
                        </div>
                        <div class="row row-btn">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="savePatient()">Aceptar </button>
                                <button class="btn waves-effect waves-light" type="" name="action">Borrador </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ui-view="forms"></div>
    </div>
</div>
