<div class="contenedor_select_role">
    <div class="row">
        <div class="card">
            <div class="card-content z-depth-4">
              <div class="row">
                <div class="col s12">
                  <div class="center-login">
                      <h5 class="login-title center">{{'WELCOME_TO_THE_SITE' | translate}}</h5>
                      <p class="left-align">{{'SELECT_YOUR_ROLE_WHICH_YOU_WANT_OPERATE' | translate}}</p>
                  </div>
                </div>
                  <div class="tablaAbm center">
                    <div class="topTable">
                      <div class="col-tableAbm-Top" ng-click="$ctrl.sortBy(prop)">{{'ORGANIZATION' | translate}}</div>
                      <div class="col-tableAbm-Top" ng-click="$ctrl.sortBy(prop)">{{'ROLE' | translate}}</div>
                    </div>
                    <div class="fila-tableAbm" ng-repeat="item in userRolesList  | orderBy:$ctrl.propertyName:$ctrl.reverse">
                      <div class="col-tableAbm" ng-click="selectRol(item)">
                        <div>{{item.display || '-'}}</div>
                      </div>
                      <div class="col-tableAbm">
                        <div>{{item.rol | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
