<main>
  <div class="section"></div>
  <div class="container center anchoMinimo">

      
     
      <div class="card margenBot">
        <div class="card-content">

        <div class="contenidoBordeGris">
        <h5 class="center titulo03 titAparte">Agregar Noticia</h5>
         
          <div class="separador">
          

            <form class="col s12 l12 m12" name="form">

      <div class="input-field separaCostado">
        <input id="titulo" name="titulo" type="text" class="validate" ng-model="noticiaNueva.titulo"/>
            <label for="titulo">Título</label>
        
      </div>

      <div class="input-field separaCostado separaLabel">
      <textarea id="descripcion" name="descripcion" type="descripcion" class="validate materialize-textarea" ng-model="noticiaNueva.descripcion"/></textarea>
            <label for="descripcion">Descripción</label>
        </div>

      

    </form>

      </div>
            

           <div class="card-action cardBorder">


           
           <div class="row">


           <div class="input-field col s12 m12 l6">
            <button class="btn waves-effect botonGeneral" ui-sref="admin_listado_noticias">
            volver</button>
          
          </div>

          <div class="input-field col s12 m12 l6">
          <button class="btn waves-effect botonGeneral"  ng-click="submit()">guardar</button>

     
          </div>

            
</div>
          </div>
        </div>
          </div>
          </div>
          </div>
            </div>



</main>

          


      
           

            
        


