   <div class="fondoBlanco">


<div class="container" style="width: 50%;">
<center>
<div class="row editCuadro">
    <form class="col s12" name="form">
      <div class="input-field col s12">
        <input id="titulo" name="titulo" type="text" class="validate" ng-model="noticia.titulo"/>
        <label for="titulo">TITULO</label>
      </div>
      <div class="input-field col s12">
        <textarea id="descripcion" name="descripcion" ng-model="noticia.descripcion" class="validate"/></textarea>
        <label for="descripcion">DESCRIPCIÓN</label>
      </div>
      <div class="container" style="width: 250px">
        <center>
          <button ng-click="submit()" class='col s12 btn btn-large waves-effect boton'>Guardar Noticia</button>
        </center>
      </div>
    </div>

    </form>

    </div>

    </center>

    </div>
