<div class="section">
<center>

<div class="container" style="width: 50%;">

<div class="row editCuadro">
<form class="col s12">

  <div class="input-field col s12">
    <p id="dni" ><b>TITULO</b>: {{noticia.titulo}}</p>
  </div>

  <div class="input-field col s12">
    <p id="dni" ><b>DESCRIPCIÓN</b>: {{noticia.descripcion}}</p>
  </div>

<div class="container" style="width: 320px">
<center>
  <a class="col s3 waves-effect waves-light btn btn-small botonAgregar" ui-sref="admin_listado_noticias">volver</a>
</center>
</div>

</form>

</div>

</center>

</div>
