<center>
  <div class="container">
    <div class="section">
      <div class="section">
        <a class="waves-effect waves-light btn btn-small botonAgregar" ui-sref="admin_agregar_especialista"><i class="material-icons left">add</i>Agregar especialista</a>
      </div>
      <label>Buscar: <input type="text" ng-model="name" ng-change="filtrar(name)"></label>
      <table class="highlight centered">
        <thead>
          <tr class="fondo">
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>DIRECCION</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="especialista in page">
            <td>{{especialista.dni}}</td>
            <td>{{especialista.nombre}}</td>
            <td>{{especialista.direccion}}</td>
            <td>{{especialista.fecha_nacimiento | date:'dd-MM-yyyy'}}</td>
            <td>
              <a class="waves-effect waves-light btn-small btn-floating botonVer" ui-sref="admin_ver_especialista({id: especialista._id})"><i class="material-icons">visibility</i></a>
              <a class="waves-effect waves-light btn-small btn-floating botonEdit" ui-sref="admin_editar_especialista({id: especialista._id})"><i class="material-icons">edit</i></a>
              <a class="waves-effect waves-light btn-small btn-floating botonClear " ui-sref="admin_borrar_especialista({id: especialista._id})"><i class="material-icons">clear</i></a>


              <!-- Modal Structure -->
              <div id="modal{{especialista.indexKey}}" class="modal modal-fixed-footer fade" role="dialog">
                <div class="modal-content">
                  <h5>¿Está seguro que lo desea eliminar?</h5>
                  <p>{{especialista.dni}}</p>
                  <p>{{especialista.nombre}}</p>
                  <p>{{especialista.direccion}}</p>
                  <p>{{especialista.fecha_nacimiento}}</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                </div>
              </div>

            </td>
          </tr>

        </tbody>
      </table>

      <!--<ul>
        <li ng-repeat="i in getNumber(number) track by $index"><span ng-click='cambiarPag($index)'>{{$index+1}}</span></li>
      </ul>
    </div>-->

      <ul class="pagination">
        <li class="waves-effect"><a ng-click='antPag(listadoEspecialistas);'><i class="material-icons">chevron_left</i></a></li>
        <li ng-repeat="i in getNumber(number) track by $index" class="waves-effect"> <a ng-click='cambiarPag($index, listadoEspecialistas);'>{{$index+1}}</a></li>
        <li class="waves-effect"><a ng-click='sigPag(listadoEspecialistas);'><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
</center>
