<main class="fondoBlanco01">
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card fondoConColor ">
        <div class="card-content">

          <div class="contenidoBordeGris">
          
  <div class="row spaciado">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content center">
          <span class="card-title">Próxima sesión</span>
          <div class="row">
                  <div class="col s6 m6 l6">
                    <h5 class="titulosAparte center contenidoUsuario">Fecha</h5>
                    <span>{{turnos[0].horario | date: "EEEE d 'de' LLLL" }}</span>
                  </div>
                  <div class="col s6 m6 l6">
                    <h5 class="titulosAparte center contenidoUsuario">Hora</h5>
                    <span>{{tiempo.hora}}:{{tiempo.minuto}} hs</span>
                  </div>
                </div>
        </div>
        <div class="card-action center">
        <a href="#">Comenzar sesión</a>
        </div>
      </div>
    </div>
  </div>



          <div class="spaciado">
            <h5 class="center titulo03 titAparte bisTitulo titAcomodo">Próximas sesiones</h5>

            <div class="row linearBusc">
              <div class="col l4 m12 s12">

                <div class="buscador01">
                  <div class="input-field buscador03">

                    <div class="card-input">
                      <input id="busca" class="validate" ng-model="name" placeholder="" ng-change="filtrar(name)">
                      <label for="busca">Busque por DNI, nombre o turno</label>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col l3 m12 s12">

                <div class="input-field center">
                  <input id="buscadorDesde" type="date" class="validate datepicker" ng-model="name" ng-change="filtrar(name)" ng-model="tiempo.buscadorDesde" placeholder="">
                  <label for="buscadorDesde">Fecha desde</label>
                </div>

              </div>
              <div class="col l3 m12 s12">


                <div class="input-field center">
                  <input id="buscadorHasta" type="date" class="validate datepicker" ng-model="name" ng-change="filtrar(name)" " ng-model="tiempo.buscadorHasta " placeholder=" ">
                      <label for="buscadorHasta ">Hasta</label>
                      </div>


            </div>
            <div class="col l2 m12 s12 ">



              <div class="input-field inline ">
                <a class="waves-effect waves-light btn btn-small botonAgregar ">Buscar</a>
              </div>
            </div>
          </div>

          <div class="contenidoTabla ">
          <table class="centered bordeado ">
            <thead>
              <tr class="fondoOne ">
                <th>TURNO</th>
                <th>DNI</th>
                <th>NOMBRE</th>
                <th>FECHA</th>
                <th>HORA</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>478</td>
                <td>40986235</td>
                <td>Juan Rinaldo</td>
                <td>10/07/2018</td>
                <td>08:30</td>

              </tr>
              <tr>
                <td>479</td>
                <td>41546112</td>
                <td>Marcela farias</td>
                <td>10/07/2018</td>
                <td>10:30</td>

              </tr>
              <tr>
                <td>480</td>
                <td>41223945</td>
                <td>Laura Padin</td>
                <td>11/07/2018</td>
                <td>10:30</td>

              </tr>
              <tr>
                <td>481</td>
                <td>39464123</td>
                <td>Lautaro Hernandez</td>
                <td>11/07/2018</td>
                <td>12:00</td>

              </tr>

            </tbody>
          </table>
          </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     <script>
$(function(){
  $('.datepicker').pickadate({
      monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
      labelMonthPrev: 'Mes anterior',
      labelMonthSelect: 'Selecciona un mes',
      labelYearSelect: 'Selecciona un año',
      });
});
</script>
</main>
