<main>
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">

          <div class="contenidoBordeGris">

            <div class="row spaciado" >
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-content center">
                    <span class="card-title">Sesiones de hoy</span>
                    <div ng-if="turnosDeHoy.length === 0" class="row cadaSesion">
                      <p>No hay sesiones para el día de hoy.</p>
                    </div>
                    <div ng-if="turnosDeHoy.length > 0" class="row cadaSesion" ng-repeat="turnoDeHoy in turnosDeHoy">
                      <div class="col s12 m12 l2">
                        <h5 class="titulosAparte center contenidoUsuario">Nro de Documento</h5>
                        <span>{{turnoDeHoy.alumnoDelTurno.dni}}</span>
                      </div>
                     <div class="col s12 m12 l2">
                        <h5 class="titulosAparte center contenidoUsuario">Nombre</h5>
                        <span>{{turnoDeHoy.alumnoDelTurno.nombre}}</span>
                      </div>
                      <div class="col s12 m12 l2">
                        <h5 class="titulosAparte center contenidoUsuario">Curso</h5>
                        <span>{{turnoDeHoy.alumnoDelTurno.curso}}</span>
                      </div>
                      <div class="col s12 m12 l2">
                        <h5 class="titulosAparte center contenidoUsuario">Fecha</h5>
                        <span>{{turnoDeHoy.horario | date: "EEEE d 'de' LLLL" }}</span>
                      </div>
                      <div class="col s12 m12 l2">
                        <h5 class="titulosAparte center contenidoUsuario">Hora</h5>
                        <span>{{turnoDeHoy.horario | date: "H:mm"}}</span>
                      </div>
                      <div class="card-action center">
                        <button class="btn botonGeneral b02 butonComp" ui-sref="especialista_sesion({id: turnoDeHoy._id})">Comenzar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="spaciado">
              <h5 class="center titulo03 titAparte bisTitulo titAcomodo">Próximas sesiones</h5>

              <div class="row linearBusc">
                <div class="col l4 m12 s12">


<div class="input-field">
          <input id="search" type="search" class="validate" ng-model="name" required>
          <label class="label-icon" for="search">Busque por DNI, nombre o turno</label>

        </div>





                </div>
                <div class="col l3 m12 s12">

                  <div class="input-field center">
                    <input id="buscadorDesde" type="text" class="validate datepicker"  ng-model="tiempo.buscadorDesde" placeholder="">
                    <label for="buscadorDesde">Fecha desde</label>
                  </div>

                </div>
                <div class="col l3 m12 s12">


                  <div class="input-field center">
                    <input id="buscadorHasta" type="text" class="validate datepicker"  ng-model="tiempo.buscadorHasta " placeholder=" ">
                    <label for="buscadorHasta ">Hasta</label>
                  </div>


                </div>
                <div class="col l2 m12 s12 ">



                  <div class="input-field inline ">
                    <a class="btn botonGeneralBis b02 butonComp" ng-click="filtrar(tiempo.buscadorDesde, tiempo.buscadorHasta, name)">Buscar</a>
                  </div>
                </div>
              </div>

              <div class="contenidoTabla ">
                <table class="responsive-table centered striped cardd">
                  <thead>
                    <tr class="fondo">
                      <th>DNI</th>
                      <th>NOMBRE</th>
                      <th>CURSO</th>
                      <th>FECHA</th>
                      <th>HORA</th>
                    </tr>
                  </thead>

                  <tbody >
                    <tr ng-repeat="turno in page">
                      <td>{{turno.alumnoDelTurno.dni}}</td>
                      <td>{{turno.alumnoDelTurno.nombre}}</td>
                      <td>{{turno.alumnoDelTurno.curso}}</td>
                      <td>{{turno.horario | date: "EEEE d 'de' LLLL" }}</td>
                      <td>{{turno.horario | date: "H:mm"}}</td>
                    </tr>
                    <tr>
                      <td  colspan="5">
                        <ul class="pagination">
                          <li class="waves-effect"><a ng-click='antPag(turnos);'><i class="material-icons">chevron_left</i></a></li>
                          <li ng-repeat="i in getNumber(number) track by $index" class="waves-effect"> <a ng-click='cambiarPag($index, turnos);'>{{$index+1}}</a></li>
                          <li class="waves-effect"><a ng-click='sigPag(turnos);'><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      $('.datepicker').pickadate({
        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
        labelMonthPrev: 'Mes anterior',
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',
      });
    });
  </script>
</main>
