      <div class="section">
    <center>

<div class="container" style="width: 50%;">

<div class="row editCuadro">
    <form class="col s12">

        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Paciente</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Solicitado por</label>
        </div>

     <div class="input-field col s12">
    <select>

      <option value="1">Pendiente</option>
      <option value="2">Respondido</option>
      <option value="3">Finalizado</option>
    </select>
    <label>Estado</label>
  </div>

        <div class="input-field col s12">
           <input type="text" class="datepicker">
          <label for="last_name">Fecha de modificación</label>
        </div>

        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Contraseña</label>

      </div>
     <div class="container" style="width: 250px">
     <center>
     <button type='submit' class='col s12 btn btn-large waves-effect boton'>Guardar Cambios</button>
     </center>
    </div>
    </form>

    </div>

    </center>

    </div>
