 <main>
  <div class="container cuadro02 paddsetenta margenBot">
    <div class="col s12">
      <div class="card">
        <div class="card-content">

          <div class="contenidoBordeGris">

            <h5 class="center tituloConCeleste titAparte"">Estadísticas del Paciente {{alumno.nombre}}</h5>
            <div class="row cuadro01 claseImportante">
              <div class="col s12 l3 m3">


                <table class="centered tablaIzq tablaGeneral">
                  <thead>
                    <tr class="fondo">
                      <th>HISTORIAL DE REGISTROS</th>
                    </tr>
                    <tr class="buscador">
                      <td>
                        <div class="input-field center">
                          <input id="buscadorDesde" type="text" class="validate placeholderclass datepicker margMenos" ng-model="tiempo.buscadorDesde" placeholder="">
                          <label for="buscadorDesde">Fecha desde</label>
                        </div>
                        <div class="input-field center">
                          <input id="buscadorHasta" type="text" class="validate placeholderclass datepicker margMenos" ng-model="tiempo.buscadorHasta" placeholder="">
                          <label for="buscadorHasta">Hasta</label>
                        </div>
                        <br>
                        <a class="btn botonGeneralBis b02 butonComp" ng-click="filtrarFecha(tiempo.buscadorDesde, tiempo.buscadorHasta, alumno._id)">Buscar</a>
                      </td>
                    </tr>
                  </thead>

                  <tbody >
                    
                  </tbody>
                </table>

              </div>

              <div class="col s12 l9 m9">


               <table class="centered tablaGeneral">
                  <thead>
                    <tr class="fondo">
                      <th>ESTADÍSTICAS</th>



                    </tr>
                    <tr class="buscador">
    <td>

<div class="row">
<div class="col s12 m12 l12 ejemplo">
    <h4>Estados de ánimo</h4>
    <ul class="chart center">

  <li class="bar teal" style="height: {{porcentajeContento}}%;" >
<div class="percent">{{porcentajeContento}}<span>%</span></div>
<div class="skill">Contento</div></li>
  <li class="bar salmon" style="height: {{porcentajeNeutral}}%;" >
<div class="percent"> {{porcentajeNeutral}}<span>%</span></div>
<div class="skill">Neutral</div></li>
  <li class="bar peach" style="height: {{porcentajeEnojado}}%;" >
<div class="percent">{{porcentajeEnojado}}<span>%</span></div>
<div class="skill">Enojado</div></li>
  <li class="bar lime" style="height: {{porcentajeTriste}}%;">
<div class="percent">{{porcentajeTriste}}<span>%</span></div>
<div class="skill">Triste</div></li>
 
</ul>
</div>

<div class="col s12 m12 l12">
<div class="estadist center">
<span class="titulosEstadisticas">Cantidad de Registros: </span><span class="miniEstilo">{{estadisticas.cantidadRegistros}}</span>
 <br>
<span class="titulosEstadisticas">Cantidad de Sesiones: </span><span class="miniEstilo">{{estadisticas.cantidadSesiones}}</span>
<br>
<span class="titulosEstadisticas">Cantidad de Turnos: </span><span class="miniEstilo">{{estadisticas.cantidadTurnos}}</span>
</div>
</div>

</div>

                      </td>
                      </tr>


                     
                  </thead>

                  <tbody>

                  </tbody>
                </table>

              </div>


              </div>


            </div>

            <div class="row">
              <div class="col s6 l6 m6">
                <a class="waves-effect waves-light btn botonGeneral botonAparteVolver btn-small" ui-sref="especialista_pacientes"><i class="material-icons left">keyboard_arrow_left</i>Volver</a>
              </div>
              <div class="col s6 l6 m6">
                <a class="waves-effect waves-light btn botonGeneral botonAparteVolver btn-small" ui-sref="especialista_turno({id: alumno._id})"><i class="material-icons left">add</i>Asignar turno</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      $('.datepicker').pickadate({
        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
        labelMonthPrev: 'Mes anterior',
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',
      });
    });

  </script>

</main>
