<style>
  .buscadorFechas.placeholderclass::before {
    width: 100%;
    content: "";
  }

  .buscadorFechas.placeholderclass:hover::before {
    width: 0%;
    content: "";
  }
</style>

<a class="waves-effect waves-light btn btn-small" style="margin: 0 auto; display:block; text-align: center; width: 210px;" ui-sref="especialista_pacientes"><i class="material-icons left">arrow_back</i>Volver</a>
<br>

<main>
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s3">


              <table class="highlight centered">
                <thead>
                  <tr class="fondo">
                    <th>HISTORIAL DE REGISTROS</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="buscador">
                    <td style="padding-top: 5px; padding-bottom: 1px;">
                      <input id="buscadorDesde" type="date" class="validate buscadorFechas placeholderclass" style="margin-bottom: 1px;height: 20px;" placeholder="">
                      <label for="buscadorDesde" style="color:grey;">por fecha desde</label>
                      <br>
                      <input id="buscadorHasta" type="date" class="validate buscadorFechas placeholderclass" style="margin-bottom: 1px;height: 20px;" placeholder="">
                      <label for="buscadorHasta" style="color:grey;">hasta</label>
                      <br>
                      <a style="color:orange;" ui-sref="especialista_historial">Buscar</a> &nbsp; &nbsp; &nbsp; <a style="color:#00a9ff;">ver general</a>
                    </td>
                  </tr>
                  <tr>
                    <td>478 14/07/2018 08:30</td>
                  </tr>
                  <tr>
                    <td>478 17/07/2018 09:30</td>
                  </tr>
                  <tr>
                    <td>478 21/07/2018 10:00</td>
                  </tr>
                  <tr>
                    <td>478 128/07/2018 9:00</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col s9">


              <table class="highlight ">
                <thead>
                  <tr class="fondo">
                    <th>DETALLES</th>
                    <th></th>

                  </tr>
                </thead>

                <tbody>
                  <tr class="detalles">
                    <td style="padding-top: 5px; padding-bottom: 1px; vertical-align: top;">
                      <div class="row" style="margin-bottom: 1px;">
                        <div class="col s12">
                          <span style="color: orange;"><b>Nombre y apellido</b></span><br>
                          <span>Juan Perez</span><br>
                          <span style="color: orange;"><b>DNI</b></span><br>
                          <span>37411021</span><br>
                          <span style="color: orange;"><b>Direccion</b></span><br>
                          <span>E.Castro 758, Haedo</span><br>
                        </div>
                      </div>

                    </td>
                    <td style="padding-top: 5px; padding-bottom: 1px; vertical-align: top;">
                      <div class="row" style="margin-bottom: 1px;">
                        <div class="col s12">
                          <span style="color: orange;"><b>Curso</b></span><br>
                          <span>6to "A" T.M.</span><br>
                          <span style="color: orange;"><b>Estado</b></span><br>
                          <span>En tratamiento</span><br>
                        </div>
                      </div>

                    </td>

                  </tr>
                </tbody>
              </table>
              <table class="highlight ">
                <thead>
                  <tr class="fondo">
                    <th>CHATBOT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="detalles">
                    <td style="padding-top: 5px; padding-bottom: 1px; ">
                      <div class="row" style="margin-bottom: 1px;">
                        <div class="col s12" style="height: 400px;  overflow-y: scroll">
                          <ul>
                            <li style="text-align: right; border: 1px solid orange; margin-bottom:5px;">Lorem ipsum dolor sit.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Dictum vehicula vestibulum porttitor.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Lobortis quam orci.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Ligula mauris etiam fermentum semper lacus.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Rutrum dictumst ligula.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Leo fames magna ut lectus.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Purus ornare duis aptent .</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">At vulputate facilisi platea nibh.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Aliquam lacus vivamus velit .</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Magna iaculis sapien.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Praesent maecenas aptent.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Sodales tellus interdum.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Sapien lectus facilisis sociosqu.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Ornare magnis nunc maecenas.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Dis luctus accumsan viverra.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Rhoncus nibh purus diam maecenas mus.</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Rutrum feugiat curae porta neque .</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Dictumst nibh libero dis montes .</li>
                            <li style="text-align: right; border: 1px solid orange;margin-bottom:5px;">Molestie tristique leo aliquam inceptos.</li>
                            <li style="border: 1px solid grey;margin-bottom:5px;">Quis leo varius vitae cras.</li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
