<main class="fondoBlanco01 ">
<div class="slider">
    <ul class="slides">
      <li ng-repeat="consejo in consejos">
      <img src="img/fondo.jpg">
        <div class="caption center-align">
         <div class="col s12 cajaAlumno">
           <h4> <span class="title-bg"> {{consejo.titulo}}</span> </h4>
       <p class="light parrafoBis">{{consejo.descripcion}}</p>

      </div>
      </div>
      </li>
     </ul>
      <div class="arrows prev" onclick="sliderAnt()"></div>
<div class="arrows next" onclick="sliderSig()"></div>
  </div>

<!--<hr>-->

<div class="container center">
 <div class="card margenBot">
        <div class="card-content">

        <div class="contenidoBorde">
<div class="titulo01">
<h4>Somos mucho más que una plataforma</h4>
</div>

    <div class="col s12 tabs01">
     <ul id="tabs-swipe-demo" class="tabs bordeTabs">
    <li class="tab col s1"><a href="#swipe-1">ALUMNOS</a></li>
    <li class="tab col s1"><a class="active" href="#swipe-2">INSTITUCIONES</a></li>
    <li class="tab col s1"><a href="#swipe-3">PROFESIONALES</a></li>
  </ul>
  <div id="swipe-1" class="col s12 l12 m12 xl12">
  <div class="row tablaDeTres">

      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">today</i>
        <h5>Historial de turnos</h5>
        <p>Podrá ver todos las fechas de los turnos que se le asignaron, haciendo de esta forma más organizado el tratamiento.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
       <i class="medium material-icons">lock_outline</i>
        <h5>Confidencialidad</h5>
        <p>Ofrecemos total y completa privacidad para los alumnos.
        Los resultados solo podrá verlo el especialista.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">touch_app</i>
        <h5>Interfaz interactiva</h5>
        <p>Podrá responder y contar sus preocupaciones a traves de una interfaz con un diseño amigable e interactivo.</p>
      </div>

    </div>
    </div>
  <div id="swipe-2" class="col s12 l12 m12 xl12">
  <div class="row tablaDeTres">

      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">insert_chart_outlined</i>
        <h5>Orden</h5>
        <p>Mejora de la organización y gestión de los alumnos y especialistas.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
       <i class="medium material-icons">thumb_up_alt</i>
        <h5>Control general</h5>
        <p>Se podrá mejorar el control de las problemáticas entre los alumnos de la institución.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">stars</i>
        <h5>Reputación</h5>
        <p>Mejora del prestigio y la reputación de la institución.</p>
      </div>

    </div>
    </div>
  <div id="swipe-3" class="col s12 l12 m12 xl12">
  <div class="row tablaDeTres">

      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">description</i>
        <h5>Historial de turnos</h5>
        <p>Obtendrá un diagnostico prematuro del caso de cada alumno, agilizando el tratamiento y desarrollo del mismo.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
       <i class="medium material-icons">today</i>
        <h5>Agenda de turnos</h5>
        <p>Podrá acceder a una agenda con todos los turnos, pudiendo asignar o modificar los mismos.</p>
      </div>
      <div class="col s12 l4 m4 xl4 espacioGeneral">
        <i class="medium material-icons">speaker_notes</i>
        <h5>Filtrado de casos</h5>
        <p>Podrá ver todos los diagnosticos entrantes, filtrando por gravedad dependiendo del caso.</p>
      </div>

    </div>
    </div>
  </div>

</div>
</div>
</div>
</div>


<script type="text/javascript">
$(document).ready(function(){

});

setTimeout(
 function()
 {
   $('.slider').slider();
     $('.tabs').tabs({
       swipeable : true,
       responsiveThreshold : 1920
     });
 }, 2000);

 function sliderSig(){
   $('.slider').slider('pause');
   $('.slider').slider('next');
 }

 function sliderAnt(){
   $('.slider').slider('pause');
   $('.slider').slider('prev');
 }

</script>
</main>
