<style>
  .buscadorFechas.placeholderclass::before {
    width: 100%;
    content: "";
  }

  .buscadorFechas.placeholderclass:hover::before {
    width: 0%;
    content: "";
  }
</style>

<a class="waves-effect waves-light btn botonGeneral btn-small" sui-sref="especialista_pacientes"><i class="material-icons left">arrow_back</i>Volver</a>
<br>

<div class="fondoBlanco">
  <center>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s3">


            <table class="highlight centered">
              <thead>
                <tr class="fondo">
                  <th>OBSERVACIONES</th>
                </tr>
              </thead>

              <tbody>
                <tr class="buscador">
                  <td>
                    <input id="buscadorTexto" type="text" class="validate" style="margin-bottom: 1px;height: 20px;">
                    <label for="buscadorTexto">Busque por DNI, turno o nombre</label>
                    <br>
                    <input id="buscadorDesde" type="date" class="validate buscadorFechas placeholderclass" style="margin-bottom: 1px;height: 20px;" placeholder="">
                    <label for="buscadorDesde">Buscar por fecha desde</label>
                    <br>
                    <input id="buscadorHasta" type="date" class="validate buscadorFechas placeholderclass" style="margin-bottom: 1px;height: 20px;" placeholder="">
                    <label for="buscadorHasta">Hasta</label>
                    <br>
                    <a class="btn botonBuscar">Buscar</a>
                  </td>
                </tr>
                  <tr>
                  <td class="resgitro00">478 14/07/2018 08:30</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 17/07/2018 09:30</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 21/07/2018 10:00</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 128/07/2018 9:00</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="col s9">


            <table class="highlight centered">
              <thead>
                <tr class="fondo">
                  <th>DETALLES</th>
                </tr>
              </thead>

              <tbody>
                <tr class="detalles">
                  <td style="padding-top: 5px; padding-bottom: 1px;">
                    <div class="row estadoResumen" >
                      <div class="col s12 iconos">
                      <span class="bistext">Alumno: Juan Perez</span><br>
                        <span class="textUp">Estado del alumno: &nbsp</span>
                       <img src="img/confused.png" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 textoPersonal">
                        <span class="textUp">Observaciones</span>
                        <br>
                        <span class="materialize-textarea"  >
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum nulla eu ante porta lacinia. Maecenas lacinia dui elementum felis dignissim luctus. Quisque ultricies turpis augue, ut tincidunt ante condimentum quis. Nunc vitae nisl nec ex rhoncus
                          ullamcorper. Sed gravida sem id velit tempor gravida. Suspendisse potenti. Aliquam sed sollicitudin nulla, et commodo urna. Integer faucibus iaculis pellentesque. Donec tortor tellus, fermentum eget suscipit et, semper a ex.
                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vitae ligula at tellus mollis laoreet. Curabitur nec ante sapien. Cras dictum mattis mi, quis blandit elit scelerisque sit amet.
                          Nam venenatis egestas sem, sit amet aliquet nunc pretium et. Nam a nisi mattis, consectetur libero non, ultricies metus. Fusce fermentum cursus justo ac mollis.
                        </span>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>

        </div>
      </div>
  </center>


  </div>
