<main class="fondoBlanco01">
  <div class="container center cuadro02 paddtop margenBot">
    <div class="col s12">
      <div class="card fondoConColor espaciadoArriba ">
        <div class="card-content">

          <div class="contenidoBordeGris">

            <h5 class="center titulo03 titAparte">Observaciones del Alumno durante la sesión</h5>
            <div class="row cuadro01 claseImportante">
              <div class="col s12 l3 m3">


                <table class="centered tablaIzq tablaGeneral">
                  <thead>
                    <tr class="fondo">
                      <th>HISTORIAL DE REGISTROS</th>
                    </tr>
                    <tr class="buscador">
                      <td>
                        <div class="input-field center">
                          <input id="buscadorDesde" type="text" class="validate placeholderclass datepicker margMenos" ng-model="tiempo.buscadorDesde" placeholder="">
                          <label for="buscadorDesde">Fecha desde</label>
                        </div>
                        <div class="input-field center">
                          <input id="buscadorHasta" type="text" class="validate placeholderclass datepicker margMenos" ng-model="tiempo.buscadorHasta" placeholder="">
                          <label for="buscadorHasta">Hasta</label>
                        </div>
                        <br>
                        <a class="btn botonGeneralBis b02 butonComp" ng-click="filtrarFecha(tiempo.buscadorDesde, tiempo.buscadorHasta, alumno._id)">Buscar</a>
                      </td>
                    </tr>
                  </thead>

                  <tbody >
                    <tr ng-repeat="turno in page">
                      <td class="resgitro00" ng-click="verDatos(turno)">{{turno.horario | date: "EEEE d 'de' LLLL 'de' yyyy" }}</td>
                    </tr>
                    <tr>
                    <td>
                    <ul class="pagination">
                      <li class="waves-effect"><a ng-click='antPag(turnos);'><i class="material-icons">chevron_left</i></a></li>
                      <li ng-repeat="i in getNumber(number) track by $index" class="waves-effect"> <a ng-click='cambiarPag($index, turnos);'>{{$index+1}}</a></li>
                      <li class="waves-effect"><a ng-click='sigPag(turnos);'><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                    </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="col s12 l9 m9">


                <table class="centered tablaGeneral">
                  <thead>
                    <tr class="fondo">
                      <th>OBSERVACIONES</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="detalles">
                      <td>
                        <div class="row estadoResumen">
                          <div class="col s12 iconos">
                            <span class="textUp">Alumno: &nbsp {{alumno.nombre}}</span>
                            </br>
                            </br>
                            <span class="textUp">Estado de ánimo: &nbsp</span>
                            <img tooltipped data-position="bottom" data-delay="50" data-tooltip="Neutral" ng-if="datos.sesion.estado_de_animo.neutral" src="img/confused.png" />
                            <img tooltipped data-position="bottom" data-delay="50" data-tooltip="Enojado" ng-if="datos.sesion.estado_de_animo.enojado" src="img/angry.png" />
                            <img tooltipped data-position="bottom" data-delay="50" data-tooltip="Contento" ng-if="datos.sesion.estado_de_animo.contento" src="img/happy.png" />
                            <img tooltipped data-position="bottom" data-delay="50" data-tooltip="Triste" ng-if="datos.sesion.estado_de_animo.triste" src="img/sad.png" />
                            </br>
                            </br>
                          </div>


                        </div>
                        <div class="row">
                          <div class="col s12 textoPersonal">
                            <span class="textUp">Observaciones durante sesión: </span>
                            <br>
                            <span class="materialize-textarea textoPersonal">
                              {{datos.sesion.observaciones}}
                          </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>


            </div>

            <div class="row">
              <div class="col s6 l6 m6">
                <a class="waves-effect waves-light btn botonGeneral botonAparteVolver btn-small" ui-sref="especialista_pacientes"><i class="material-icons left">keyboard_arrow_left</i>Volver</a>
              </div>
              <div class="col s6 l6 m6">
                <a class="waves-effect waves-light btn botonGeneral botonAparteVolver btn-small" ui-sref="especialista_turno({id: alumno._id})"><i class="material-icons left">add</i>Asignar turno</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $('.datepicker').pickadate({
          monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
          selectMonths: true,
          selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
          today: 'Hoy',
          clear: 'Limpiar',
          close: 'Ok',
          labelMonthNext: 'Siguiente mes',
          labelMonthPrev: 'Mes anterior',
          labelMonthSelect: 'Selecciona un mes',
          labelYearSelect: 'Selecciona un año',
        });
      });
    </script>

</main>
