<a class="waves-effect waves-light btn btn-small"   style="margin: 0 auto; display:block; text-align: center; width: 210px;" ui-sref="especialista_historial"><i class="material-icons left">visibility</i>Ver registros diarios</a>
<br>
<a class="waves-effect waves-light btn btn-small"   style="margin: 0 auto; display:block; text-align: center; width: 320px;" ui-sref="especialista_observaciones"><i class="material-icons left">visibility</i>Ver observaciones de sesiones</a>
<br>
<a class="waves-effect waves-light btn btn-small"   style="margin: 0 auto; display:block; text-align: center; width: 210px;" ui-sref="especialista_turno"><i class="material-icons left">add</i>Crear turno</a>
<br>
