<main>
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
        <div class="contenidoBordeGris">

          



<div class="row spaciado" >
              <div class="col s12 m12 l12">
                <div class="card">
                  <div class="card-content center">
                    <span class="card-title">Sesión Actual</span>
                    <div class="row cadaSesion" ng-repeat="turnoDeHoy in turnosDeHoy">
                      <div class="col s12 m4 l4">
                        <h5 class="titulosAparte center contenidoUsuario">Nro de Documento</h5>
                        <span>{{alumno.dni}}</span>
                      </div>
                     <div class="col s12 m4 l4">
                        <h5 class="titulosAparte center contenidoUsuario">Nombre</h5>
                    <span>{{alumno.nombre}}</span>
                      </div>
                      <div class="col s12 m4 l4">
                        <h5 class="titulosAparte center contenidoUsuario">Curso</h5>
                        <span>{{alumno.curso}}</span>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>







          <div class="row">
            <div class="col s12 m12 l12">

              <div class="input-field center tituloTexto">
                <span>Estado de ánimo durante la sesión:</span>
                <div class="col s12 center iconosEsp bordeArrr">

                  <form action="#" class="actividades bisAct">
                    <ul>
                      <li><input type="checkbox" id="cb1" ng-model="turno.sesion.estado_de_animo.contento" />
                        <label for="cb1" class="sinCheck"><img src="img/happy.png" /></label>

                      </li>
                      <li><input type="checkbox" id="cb2" ng-model="turno.sesion.estado_de_animo.neutral" />
                        <label for="cb2" class="sinCheck"><img src="img/confused.png" /></label>

                      </li>
                      <li><input type="checkbox" id="cb3" ng-model="turno.sesion.estado_de_animo.triste" />
                        <label for="cb3" class="sinCheck"><img src="img/sad.png" /></label>

                      </li>
                      <li><input type="checkbox" id="cb4" ng-model="turno.sesion.estado_de_animo.enojado" />
                        <label for="cb4" class="sinCheck"><img src="img/angry.png" /></label>

                      </li>

                    </ul>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col s12 m12 l12">

              <div class="input-field center tituloTexto">
                <span>Observaciones:</span>

                <form>

                  <textarea id="textarea2" class="materialize-textarea" ng-model="turno.sesion.observaciones"></textarea>



                </form>
              </div>
            </div>
            <div class="row sinEspacio  center">
              <div class="col s12 m6 l6 espArriba">
                <a ui-sref="especialista_agenda" class="modal-action modal-close btn botonGeneral">Volver</a>
              </div>
              <div class="col s12 m6 l6 espArriba">
              <a class="waves-effect waves-light btn botonGeneral btn-small" style="margin: 0 auto; display:block; text-align: center; width: 250px;" ng-click="finalizarSesion()">Finalizar Sesión</a>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="demoModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Se ha registrado esta sesión exitosamente.</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s12 m6 l6 ">
          <button ui-sref="especialista_pacientes" class="modal-action flotarIzq modal-close btn botonGeneral">Ir a listado de pacientes</button>
        </div>
        <div class="col s12 m6 l6 ">
          <button ui-sref="especialista_agenda" class="modal-action modal-close btn botonGeneral">Ir a agenda</button>
        </div>

      </div>
    </div>
    </div>
  </div>
</main>
