<main class="fondoBlanco01 ">
  <div class="section"></div>

  <div class="container paddveinte">

    <div class="col s12">
      <div class="card estaCard fondoConColor margenDebajo">
        <div class="card-contentDos contenidoAlarga margenL">
          <ul class="stepper steper01 horizontal  stepbystep" id="horizontal">
            <li class="step active">
              <div class="step-title waves-effect waves-dark">Datos del alumno</div>
              <div class="step-content">
                <div class="col s12 m12 l12 buscarAl">
                  <center>
                    <br>
                    <br>

                    <h5>Datos del alumno</h5>
                    <div class="buscador01 infoStep">
                      <div class="input-field buscador00">
                        <div class="itemsBuscador">
                          <h5>Nombre y apellido</h5>
                          <span>{{alumnoElegido.nombre}}</span>
                          <h5>DNI</h5>
                          <span>{{alumnoElegido.dni}}</span>
                          <h5>Curso</h5>
                          <span>{{alumnoElegido.curso || '1ro A'}}</span>
                          <h5>Teléfono</h5>
                          <span>{{alumnoElegido.telefono}}</span>
                          <h5>Dirección</h5>
                          <span>{{alumnoElegido.direccion}}</span>
                        </div>
                      </div>
                    </div>
                  </center>
                </div>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">SIGUIENTE</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Fecha y Hora</div>
              <div class="step-content fechHor">
                <center>
                  <br>
                  <br>

                  <h5>Seleccionar día y horario del turno</h5>
                  <div class="estiloTurno">

                    <div class="select-date">
                    <div class="input-field sincronica select-type">

                      <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4"   ng-model="selector.mensual"/>
                      <label  for="styled-checkbox-4">Una vez por semana (Durante un mes)</label>
                    </div>
                  </div>

                  <div class="select-date claseAparte">
                    <div class="input-field sincronica select-type">
                      <select id="type-request" material-select watch ng-model="turno.mes">
                        <option value="" option-untranslate="" disabled>Mes</option>
                        <option value="{{month}}" option-untranslate="" ng-repeat="month in date.month">{{month}}</option>
                      </select>
                      <label for="fecha">Mes</label>
                    </div>
                  </div>
                  <div class="select-date">
                    <div class="input-field sincronica select-type">
                      <select id="type-request" material-select watch ng-model="turno.dia">
                        <option value="" option-untranslate="" disabled>Día</option>
                        <option value="{{day}}" option-untranslate="" ng-repeat="day in date.day">{{day}}</option>
                      </select>
                      <label for="fecha">Día</label>
                    </div>
                  </div>
                  <div class="select-date">
                    <div class="input-field sincronica select-type">
                      <select id="type-request" material-select watch ng-model="turno.hora">
                        <option value="" option-untranslate="" disabled>Hora</option>
                        <option value="{{hour}}" option-untranslate="" ng-repeat="hour in date.hour">{{hour}}</option>
                      </select>
                      <label for="fecha">Hora</label>
                    </div>
                  </div>

                  <div class="select-date">
                    <div class="input-field sincronica select-type">
                      <select id="type-request" material-select watch ng-model="turno.minutos">
                        <option value="" option-untranslate="" disabled>Minutos</option>
                        <option value="{{minute}}" option-untranslate="" ng-repeat="minute in date.minute">{{minute}}</option>
                      </select>
                      <label for="fecha">Minutos</label>
                    </div>
                  </div>

                  </div>
                </center>
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn blue next-step">SIGUIENTE</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">ATRÁS</button>
                </div>
              </div>
            </li>
            <li class="step">
              <div class="step-title waves-effect waves-dark">Anotaciones</div>
              <div class="step-content">
                <center>
                  <br>
                  <br>

                  <h5>Anotaciones previas sobre el alumno</h5>
                  <div class="input-field col s12">
                    <div class="row">
                      <form class="col s12">
                        <div class="estiloTurno">
                        <div class="input-field col s12">
                          <textarea id="textarea1" class="materialize-textarea" ng-model="turno.nota_previa"></textarea>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </center>
                <div class="step-actions">
                  <a class="waves-effect waves-dark btn blue" ng-click="crearTurno()">CONFIRMAR</a>
                  <a class="waves-effect waves-dark btn-flat previous-step">ATRÁS</a>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="demoModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Turno asignado con éxito.</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s6 m6 l6 ">
          <a ui-sref="especialista_pacientes" class="modal-action modal-close btn botonGeneral">Ir a listado de pacientes</a>
        </div>
        <div class="col s6 m6 l6 ">
          <a ui-sref="especialista_agenda" class="modal-action modal-close btn botonGeneral">Ir a agenda</a>
        </div>

      </div>
    </div>
  </div>
  <div id="turnoErrorModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Turno ocupado, ingrese otra fecha u horario.</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s6 m6 l6 ">
          <!-- <a ui-sref="especialista_pacientes" class="modal-action modal-close btn botonGeneral">Ir a listado de pacientes</a> -->
        </div>
        <div class="col s6 m6 l6 ">
          <a class="modal-action modal-close btn botonGeneral">Volver a ingresar datos</a>
        </div>
      </div>
    </div>
  </div>
  <div id="errorModal" class="modal">
    <div class="modal-content modalTitulo center">
      <h4>Falta ingresar mes o día</h4>
    </div>
    <div class="modal-footer">
      <div class="row sinEspacio center">
        <div class="col s6 m6 l6 ">
          <!-- <a ui-sref="especialista_pacientes" class="modal-action modal-close btn botonGeneral">Ir a listado de pacientes</a> -->
        </div>
        <div class="col s6 m6 l6 ">
          <a class="modal-action modal-close btn botonGeneral">Volver a ingresar datos</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      $('.stepper').activateStepper();
    });


    function someFunction() {
      setTimeout(function() {
        $('#feedbacker').nextStep();
      }, 1000);
    }

    function someOtherFunction() {
      return true;
    }

    $(document).ready(function() {
      $('.toc-wrapper').pushpin({
        top: $('.toc-wrapper').offset().top,
        offset: 77
      });
      $('.scrollspy').scrollSpy();
      $('.stepper').activateStepper();
    });
  </script>
</main>
