<main>
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">


          <table class="highlight centered">
            <thead>
              <tr class="fondo">
                <th>ALUMNO</th>
                <th>FECHA Y HORA</th>
                <th>NOTA PREVIA</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <div class="input-field">
                    <input id="buscador" type="text" class="validate">
                    <label for="buscador">Busque por DNI o nombre</label>
                  </div>
                  <span style="color: orange;"><b>Nombre y apellido</b></span><br>
                  <span>Juan Perez</span><br>
                  <span style="color: orange;"><b>DNI</b></span><br>
                  <span>37411021</span><br>
                  <span style="color: orange;"><b>Curso</b></span><br>
                  <span>6to "A" T.M.</span><br>
                  <span style="color: orange;"><b>Direccion</b></span><br>
                  <span>E.Castro 758, Haedo</span><br>
                </td>
                <td>
                  <div class="input-field ">
                    <input id="fecha" type="date" class="validate">
                    <label for="fecha">fecha</label>
                  </div>
                  <div class="input-field ">
                    <input id="hora" type="time" class="validate">
                    <label for="hora">fecha</label>
                  </div>
                </td>
                <td>
                  <div class="input-field ">
                    <textarea id="textarea1" class="materialize-textarea" style=" background-color: rgba(255,255,255,0.5);"></textarea>

                  </div>
                </td>


              </tr>


            </tbody>
          </table>
          <a class="waves-effect waves-light btn btn-small" style="float: left;" ui-sref="especialista_pacientes"><i class="material-icons left">arrow_back</i>Volver</a>
          <a class="waves-effect waves-light btn btn-small" style="float: right;" ui-sref="especialista_pacientes"><i class="material-icons right">add</i>Crear turno</a>

        </div>
      </div>
    </div>
  </div>
</main>
