<div class="col s12">
  <p class="form-diseases subtitle">{{'PERSONAL_HISTORY' | translate}}</p>
  <div>
    <div class="col l3 m3 s12">
      <h6>{{'TOXIC_HABITS' | translate}}</h6>
      <div ng-repeat="indexToxicHabit in $ctrl.toxicHabits">
        <input ng-disabled="!$ctrl.editField" ng-click="$ctrl.generateFlag({item: indexToxicHabit, flag:'toxicHabits'})" type="checkbox" class="filled-in" id="{{indexToxicHabit}}" ng-model="$ctrl.entry[indexToxicHabit].value" />
        <label for="{{indexToxicHabit}}" class="labelcheck">{{indexToxicHabit | translate}}</label><br>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col l9 m9 s12">
      <h6>{{'PHYSIOLOGIC_HABITS' | translate}}</h6>
      <div ng-repeat="indexPsysiologicHabit in $ctrl.psysiologicHabits" class="fisiologicos" ng-if="$ctrl.entry[indexPsysiologicHabit].version || $ctrl.editField">
          <label for="" class="labelcheck">{{indexPsysiologicHabit | translate}}</label>
          <textarea ng-readonly="!$ctrl.editField" ng-keypress="$ctrl.generateFlag({item: indexPsysiologicHabit, flag:'psysiologicHabits'})" ng-model="$ctrl.entry[indexPsysiologicHabit].version" class="text-antecedentes" maxlength="100" class="filled-in" name="" id="" cols="30" rows="10"
          placeholder="Escribe aquí"></textarea>
      </div>
      <p ng-if="!$ctrl.countPsysiologicHabits() && !$ctrl.editField">Sin Habitos</p>
    </div>
  </div>
</div>
<div class="clearfix2"></div>
<p class="form-diseases subtitle">{{'PATHOLOGICAL_ANTECEDENTS' | translate}}</p>
<div class="col m6 s12">
  <h6>{{'CHILLHOOD_DISEASES' | translate}}</h6>
  <p ng-show="!$ctrl.countChillhoodDiseases() && !$ctrl.editField">Sin antecedentes</p>
  <table>
    <thead>
      <th></th>
      <th>{{'AGE' | translate}}</th>
      <th>{{'TREATMENT' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="indexChillhoodDiseases in $ctrl.chillhoodDiseases" ng-if="$ctrl.entry[indexChillhoodDiseases].value || $ctrl.editField">
        <td><input ng-disabled="!$ctrl.editField" ng-click="$ctrl.generateFlag({item: indexChillhoodDiseases, flag:'chillhoodDiseases'})" type="checkbox" class="filled-in" id="{{indexChillhoodDiseases}}" ng-model="$ctrl.entry[indexChillhoodDiseases].value">
          <label for="{{indexChillhoodDiseases}}" class="labelcheck">{{indexChillhoodDiseases | translate}}</label></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexChillhoodDiseases].code" type="number"></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexChillhoodDiseases].version" type="text"></td>
      </tr>
    </tbody>
  </table>
  <table ng-if="$ctrl.editField || $ctrl.newChillhoodDisease.value" style="margin-top:0px">
    <p ng-show="$ctrl.editField || $ctrl.newChillhoodDisease.value">{{'OTHER_DISEASES' | translate}} </p>
    <tbody>
      <tr>
        <td style="width: 38.5%"><input ng-model="$ctrl.newChillhoodDisease.value" type="text"></td>
        <td><input ng-model="$ctrl.newChillhoodDisease.code" type="number"></td>
        <td><input ng-model="$ctrl.newChillhoodDisease.version" class="examen" maxlength="300" class="filled-in" name="" id="" cols="30" rows="10" style="margin-bottom: 0"></input>
          <a href="" ng-click="$ctrl.generateChillhoodDisease()" class="add">+ {{'ADD' | translate}}</a></td>
      </tr>
    </tbody>
  </table>

  <div class="clearfix2"></div>
  <h6>{{'DISEASES_OF_HORIZONTAL_TRANSMISSION' | translate}}</h6>
  <p ng-show="!$ctrl.countHorizontalTransmitionDiseases() && !$ctrl.editField">Sin antecedentes</p>
  <table>
    <thead>
      <th></th>
      <th>{{'AGE' | translate}}</th>
      <th>{{'TREATMENT' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="indexHorizontalTransmitionDiseases in $ctrl.horizontalTransmitionDiseases" ng-if="$ctrl.entry[indexHorizontalTransmitionDiseases].value || $ctrl.editField">
        <td><input ng-disabled="!$ctrl.editField" ng-click="$ctrl.generateFlag({item: indexHorizontalTransmitionDiseases, flag:'horizontalTransmitionDiseases'})" type="checkbox" class="filled-in" id="{{indexHorizontalTransmitionDiseases}}" ng-model="$ctrl.entry[indexHorizontalTransmitionDiseases].value">
          <label for="{{indexHorizontalTransmitionDiseases}}" class="labelcheck">{{indexHorizontalTransmitionDiseases  | translate}}</label></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexHorizontalTransmitionDiseases].code" type="number"></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexHorizontalTransmitionDiseases].version" type="text"></td>
      </tr>
    </tbody>
  </table>
  <table ng-if="$ctrl.editField || $ctrl.newHorizontalTransmitionDisease.value" style="margin-top:0px">
    <p ng-if="$ctrl.newHorizontalTransmitionDisease.value || $ctrl.editField">{{'OTHER_DISEASES' | translate}}</p>
    <tbody>
      <tr>
        <td style="width: 38.5%"><input ng-model="$ctrl.newHorizontalTransmitionDisease.value" type="text"></td>
        <td><input ng-model="$ctrl.newHorizontalTransmitionDisease.code" type="number"></td>
        <td><input ng-model="$ctrl.newHorizontalTransmitionDisease.version" class="examen" maxlength="300" class="filled-in" name="" id="" cols="30" rows="10" style="margin-bottom: 0"></input>
          <a href="" ng-click="$ctrl.generateHorizontalTransmitionDisease()" class="add">+ {{'ADD' | translate}}</a></td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix2"></div>
</div>
<div class="col m6 s12">
  <h6>{{'ADULT_DISEASES' | translate}}</h6>
  <p ng-show="!$ctrl.countAdultDiseases() && !$ctrl.editField">Sin antecedentes</p>
  <table>
    <thead>
      <th></th>
      <th>{{'AGE' | translate}}</th>
      <th>{{'TREATMENT' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="indexAdultDiseases in $ctrl.adultDiseases" ng-if="$ctrl.entry[indexAdultDiseases].value || $ctrl.editField">
        <td><input ng-disabled="!$ctrl.editField" ng-click="$ctrl.generateFlag({item: indexAdultDiseases, flag:'adultDiseases'})" type="checkbox" class="filled-in" id="{{indexAdultDiseases}}" ng-model="$ctrl.entry[indexAdultDiseases].value">
          <label for="{{indexAdultDiseases}}" class="labelcheck">{{indexAdultDiseases | translate}}</label></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexAdultDiseases].code" type="number"></td>
        <td><input ng-readonly="!$ctrl.editField" ng-model="$ctrl.entry[indexAdultDiseases].version" type="text"></td>
      </tr>
    </tbody>
  </table>
  <table ng-if="$ctrl.editField" style="margin-top:0px">
    <p ng-if="$ctrl.newAdultDisease.value || $ctrl.editField">{{'OTHER_DISEASES' | translate}}</p>
    <tbody ng-if="$ctrl.newAdultDisease.value || $ctrl.editField">
      <tr>
        <td style="width: 44%"><input ng-model="$ctrl.newAdultDisease.value" type="text"></td>
        <td><input ng-model="$ctrl.newAdultDisease.code" type="number"></td>
        <td><input ng-model="$ctrl.newAdultDisease.version" class="examen" maxlength="300" class="filled-in" name="" id="" cols="30" rows="10" style="margin-bottom: 0"></input>
          <a href="" ng-click="$ctrl.generateAdultDisease()" class="add">+ {{'ADD' | translate}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="clearfix"></div>
