<div class="contenedor_max formIngreso">
    <div class="title-form">
        <h4>{{'NEW_NODE_ADMINISTRATOR' | translate}}</h4>
        <span></span>
    </div>
    <div class="box-top-form">
        <div class="title-form">
            <h5>{{'GENERAL_DATA' | translate}}</h5>
            <span></span>
        </div>
        <div class="row">
            <div class="card-head style-primary action-top">
                <ul class="right inline">
                    <li>
                        <a ng-click="saveNodeAdministrator()" tooltipped data-position="top" data-delay="50" data-tooltip="Save">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a ng-click="cancelNodeAdministrator()" tooltipped data-position="top" data-delay="50" data-tooltip="Back">
                            <i class="fa fa-mail-reply" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <form>
                <div class="col l9 s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" ng-model="name.text">
                            <label for="name">Name</label>
                            <span></span>
                        </div>
                        <div class="input-field col s12">
                            <select ng-model="gender">
                          <option value="">Gender</option>
                          <option value="M">M</option>
                          <option value="F">F</option>
                      </select>
                        </div>
                    </div>
                </div>
        </div>


        <div class="row row_tabs">
            <div class="col s12">
                <ul tabs class="">
                    <li class="tab col s3"><a href="#contact_node_administrator" class="active">{{'CONTACT' | translate}}</a></li>
                    <li class="tab col s3"><a href="#address_node_administrator">{{'ADDRESS' | translate}}</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-content-tab ">
            <div id="contact_node_administrator" class="col s12">
                <div class="title-form">
                    <h5>{{'CONTACT' | translate}}</h5>
                    <span></span>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="tel_casa" type="text" class="validate" ng-model="telecom[0].value">
                            <label for="tel_casa">{{'TELEPHONE_HOME' | translate}}</label>
                            <span></span>
                        </div>
                        <div class="input-field col s12">
                            <input id="tel_job" type="text" class="validate" ng-model="telecom[1].value">
                            <label for="tel_job">{{'TELEPHONE_WORK' | translate}}</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="text" class="validate" ng-model="telecom[2].value">
                            <label for="email">{{'EMAIL' | translate}}</label>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
            <div id="address_node_administrator" class="col s12">
                <address-human address="address[0]"></address-human>
            </div>

        </div>
    </div>
</div>
