<div class="container">
    <h4 class="title-page">Node Administrator</h4>
    <div class="row rowTable">
        <div class="tablaAbm center">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <table-actions properties="properties" ng-if="nodeAdministratorsListView.length > 0" list="nodeAdministratorsListView" view-state="'node_admin_view'" edit-state="'node_admin_add'"></table-actions>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-bottom">
        <a class="btn-add btn waves-effect waves-light" ui-sref="user_type_add({type:'node_administrator'})"><i class="material-icons">add_circle</i>{{'NEW' | translate }}</a>
    </div>

</div>
