<div class="title-form">
    <h4>New Node Administrator</h4>
    <span></span>
</div>
<div class="container formIngreso">
    <div class="title-form">
        <h5>Datos Generales</h5>
        <span></span>
    </div>
    <div class="row">
        <form class="col l9 s12">
            <div class="row">
                <div class="input-field datos-full col s12">
                    <div class="col l3 m12 s12 nopad">
                        <h6>Identifier</h6>
                    </div>
                    <div class="dato col l9 m12 s12">
                        <span>{{_id}}</span>
                    </div>
                </div>
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" ng-model="name.text">
                    <label for="name">Name</label>
                    <span></span>
                </div>
            </div>
            <div class="title-form">
                <h5>Contacto</h5>
                <span></span>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tel_casa" type="text" class="validate" ng-model="telecom[0].value">
                        <label for="tel_casa">Telephone Home</label>
                        <span></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="tel_job" type="text" class="validate" ng-model="telecom[1].value">
                        <label for="tel_job">Telephone Work</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="text" class="validate" ng-model="telecom[2].value">
                        <label for="email">Email</label>
                        <span></span>
                    </div>
                </div>
            </div>

            <address-human address="address[0]"></address-human>

            <div class="title-form">
                <h5>Photo</h5>
                <span></span>
            </div>
            <photo-form photo="photo"></photo-form>

            <files-attachment attachment="photo" save="saveAttachment"></files-attachment>

        </form>
    </div>

    <div class="row row-bottom">
        <a class="btn-add btn waves-effect waves-light" ng-click="saveNodeAdministrator()"><i class="fa fa-check" aria-hidden="true"></i>Save</a>
        <a class="btn-add btn waves-effect waves-light" ng-click="cancelNodeAdministrator()"><i class="fa fa-mail-reply" aria-hidden="true"></i>Return to list</a>

    </div>

</div>
