<div class="contenedor_max formIngreso">
    <div class="title-form">
        <h4>Appointment</h4>
    </div>

    <form>
        <div class="row">
            <edit-identifier-human modelname="'appointment_add'" identifier='identifier' id='_id'></edit-identifier-human>
        </div>
        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <h6>request</h6>
                                <a ui-sref="diagnostic_order_add({id:request.reference})" class="black-text">
                                  {{request.reference}}
                                </a>
                            </div>
                            <div class="input-field col s12">
                                <h6>report</h6>
                                <a ui-sref="diagnostic_report_add({id:report.reference})" class="black-text">
                                  {{report.reference}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m6 s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="input-field col s12">
                                        <date-picker date="start" />
                                        <label for="date">Appointment Date</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>


    <div class="row row-bottom">
        <a class="btn-add btn waves-effect waves-light" ng-click="saveAppointment()"><i class="fa fa-check" aria-hidden="true"></i>Save</a>
        <a class="btn-add btn waves-effect waves-light" ng-click="cancelAppointment()"><i class="fa fa-mail-reply" aria-hidden="true"></i>Return to list</a>

    </div>

</div>
