<div class="contenedor_max formIngreso">
   <div class="row title_plus_btn ancho_diagnostico"></div>
    <div class="row ancho_diagnostico">
        <div class="col s12">
            <div class="card">
                <div class="card-head style-primary card-inicio">
                    <header>
                        <h2>{{'NOTIFICATIONS' | translate}}</h2>
                        <p>{{'LATEST_NOTIFICATIONS_RECEIVED' | translate}}</p><p ng-if="thereAreUnreadNotifications">{{'UNREADED' | translate}} - {{cantNotificationsUnreaded}}</p>
                    </header>
                </div>
                <div class="card-content">
                  <div class="tablaAbm center">
                    <div class="topTable">
                      <div class="col-tableAbm-Top" >{{'TITLE' | translate}}</div>
                      <div class="col-tableAbm-Top" >{{'CREATED_AT' | translate}}</div>
                      <div class="col-tableAbm-Top" >{{'IMPORTANCE' | translate}}</div>
                      <div class="col-tableAbm-Top" >{{'STATUS' | translate}}</div>
                    </div>
                    <div class="fila-tableAbm" ng-repeat="item in notificationListView">
                      <div ng-if="item.callLink && item.objectType === 'procedureRequest'" class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        <a ui-sref="notification_view({id: item._id})">{{item.title}} </a>
                      </div>
                      <div ng-if="!item.callLink && item.objectType === 'procedureRequest'" class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        <a ui-sref="procedure_request_view({id: item.objectReference})" ng-click="changeNotificationStatus(item._id)">{{item.title}}</a>
                      </div>
                      <div ng-if="item.objectType === 'diagnosticReport'" class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        <a ui-sref="diagnostic_report_view({id: item.objectReference})" ng-click="changeNotificationStatus(item._id)">{{item.title}}</a>
                      </div>
                      <div class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        {{item.created_at}}
                      </div>
                      <div class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        <p ng-class="{'orange-text': item.importance == 'medium', 'green-text': item.importance == low, 'red-text': item.importance == 'high'}">{{item.importance.toUpperCase() | translate}}</p>
                      </div>
                      <div class="col-tableAbm" ng-class="item.active ? 'active-readed' : ''">
                        {{item.status}}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
