<div class="contenedor_max formIngreso">
  <div class="title-form ancho_diagnostico">
    <div class="ancho_diagnostico">
      <a ui-sref="notification" class="btn-add btn waves-effect waves-light right"><i class="fa fa-mail-reply" aria-hidden="true"></i>{{'RETURN_TO_LIST' | translate}}</a>
    </div>
  </div>
  <div class="ancho_diagnostico form">
    <div class="row top-card-patient ancho_diagnostico">
      <form>
        <div>
          <div class="input-field col s12 inactive">
            <p>{{notification.title}}:</p>
            <h4 class="section-form">{{object.identifier[0][textIndex]}}</h4>
          </div>
          <div class="input-field col s12">
            <p for="importance">{{'IMPORTANCE' | translate}}<span>Medium</span></p>
            <span></span>
          </div>
          <div class="input-field col s12">
            <p>Con fecha {{ {date: object.createdAt, type: 'time'} | setViewDate}}, el usuario {{object.requester.agent.display}} de la organización {{object.requester.onBehalfOf.display}} ha generado una solicitud con el titulo {{object.identifier[0].system}}:</p>
          </div>
          <div class="col s12">
            <p>> Para ver y responder la solicitud, haga click aquí: </p><p><a class="btn-add btn waves-effect waves-light" ng-href="{{notification.redirectTo}}" ng-cloak>{{text | translate}}</a></p>
            <div ng-show="!transferred && cancelledCall === '' && !procedureAsinchronous && notification.transferTo.length === 0">
              <p>> Para rechazar la solicitud, haga click aquí: </p><p><a data-target='modal' modal class="btn-add btn waves-effect waves-light" ng-cloak>{{'REJECT' | translate}}</a> </p>
              <p>> Para derivar la solicitud a otro usuario, haga aquí: </p><p><a class="btn-add btn waves-effect waves-light" ng-click="enableDerivation()" ng-cloak>{{'DERIVE' | translate}}</a> </p>
            </div>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <div class="row" ng-if="enableRedirectList  &&  notification.transferTo.length === 0 && cancelledCall === '' && enableDerivationButton"
        ng-cloak>
        <div class="card">
          <div class="title-form">
            <h5>{{'PRACTITIONER_LIST' | translate}}</h5>
          </div>
          <div class="practitioner" ng-repeat="practitioner in practitionerList track by $index">
            <p>{{practitioner.display}} </p>
            <p> {{practitioner.specialty}} </p>
            <p> {{practitioner.state}}</p> <a class="circle" ng-click="transferCall(_id, practitioner.id)"><i class="fa fa-share" aria-hidden="true"  aria-hidden="true" tooltipped data-position="top" data-delay="50" data-tooltip="{{'TRANSFER_CALL' | translate}}"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div ng-if="cancelledCall" class="msj-error center-align">
        <a href="" class="close"><i class="material-icons">clear</i></a>
        <h5>{{cancelledCall}}</h5>
      </div>
    </div>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <div class="input-field">
      <label class="reason-label">{{'REASON' | translate}}:</label>
      <input type="text" ng-model="reason">
      <a ng-click="cancelCall()" class="modal-action modal-close btn-add btn waves-effect waves-light right">{{'CONFIRM_CANCEL_CALL' | translate}}</a>
      <a class="modal-action modal-close btn-add btn waves-effect waves-light right"><i class="fa fa-window-close-o" aria-hidden="true"></i>{{'CANCEL' | translate}}</a>    
    </div>
  </div>
</div>
