<main>
  <div class="section"></div>
  <div class="container center">

      
     
      <div class="card margenDebajo">
        <div class="card-content">

        <div class="contenidoBordeGris">

        <i class="large material-icons iconCuenta">account_circle</i>

          <h5 class="center titulo03 titLinea">Datos de administrador</h5>
          <hr>
          <div class="row linea00 espacio">
           <div class="col s12 m2 l2">
          <h5 class="titulosAparte center contenidoUsuario">Nombre</h5>
          
          <span>{{usuario.username}}</span>
          </div>

          <div class="col s12 m3 l3">
          <h5 class="titulosAparte center contenidoUsuario">Correo electrónico</h5>
          
          <span>{{usuario.email}}</span>
          </div>

          <div class="col s12 m2 l2">
          <h5 class="titulosAparte center contenidoUsuario">Tipo</h5>
          
          <span>{{usuario.tipo}}</span>
          </div>
          

           
          <div class="col s12 m2 l2">
          <h5 class="titulosAparte center contenidoUsuario">Creado el</h5>
          
          <span>{{usuario.createdAt}}</span>
          </div>

          <div class="col s12 m3 l3">
          <h5 class="titulosAparte center contenidoUsuario">Última modificación</h5>
          
          <span>{{usuario.updatedAt}}</span>
          </div>

          
          </div>

           <div class="card-action cardBorder">
           <h5 class="center titulo03 cambiContra">Cambiar contraseña</h5>
           <div class="row">
           <div class="input-field col s6 m4 l4">
          <input id="contrasenia" name="contrasenia" type="password" class="validate" ng-model="contraseniaNueva" ng-keypress="passwordError = false; passwordCorrecto = false;" required  oninvalid="return false;" autocomplete="off" />
          <label for="contrasenia">Contraseña</label>
          </div>

          <div class="input-field col s6 m4 l4">
          <input id="contraseniaBis" name="contraseniaBis" type="password" class="validate" ng-model="contraseniaNuevaBis" ng-keypress="passwordError = false; passwordCorrecto = false;" required  oninvalid="return false;" autocomplete="off" />
           <label for="contraseniaBis">Repita la contraseña</label>
          </div>

          <div class="input-field col s12 m4 l4">
          <button ng-click="cambiarClave()" class='col s12 btn btn-large waves-effect boton'>Confirmar</button>
                  
      <span style=" color:red;" id="passwordErrorSpan" ng-show="passwordError" >{{contraseniaErrorMensaje}}</span>
      <span style=" color:green;" id="passwordCorrectoSpan" ng-show="passwordCorrecto" >{{contraseniaCorrectoMensaje}}</span>
              </div>

          </div>
        </div>

           
           </div>

          
          </div>
          </div>
          </div>
            </div>
          </main>

          

          

          

          

          

           
          




      
           

            
        

