<main>
  <div class="section"></div>
  <div class="container center anchoMinimo">

      
     
      <div class="card">
        <div class="card-content">

        <div class="contenidoBorde">
        <h5 class="center titulo03 titAparte">Agregar consejo</h5>
         
          <div class="separador">
          

            <form class="col s12 l12 m12" name="form">

      <div class="input-field separaCostado">
         <input id="titulo" name="titulo" type="text" class="validate" ng-model="consejoNuevo.titulo" required autocomplete="off" />
            <label for="titulo">Título</label>
            <span style=" color:red;" id="tituloErrorSpan" ng-show="tituloError" >{{tituloErrorMensaje}}</span>
        
      </div>

      <div class="input-field separaCostado separaLabel">
      <textarea id="descripcion" name="descripcion"  class="validate materialize-textarea" ng-model="consejoNuevo.descripcion"  required  autocomplete="off" ></textarea>
            <label for="descripcion">Descripción</label>
            <span style=" color:red;" id="descripcionErrorSpan" ng-show="descripcionError" >{{descripcionErrorMensaje}}</span>
        </div>

      

    </form>

      </div>
            

           <div class="card-action cardBorder">


           
           <div class="row">


           <div class="input-field col s12 m12 l6">
            <a class="btn waves-effect botonGeneral" ui-sref="admin_listado_consejos">
            volver</a>
          
          </div>

          <div class="input-field col s12 m12 l6">
          <a  class="btn waves-effect botonGeneral"  ng-click="submit()">guardar</a>

     
          </div>

            
</div>
          </div>
        </div>
          </div>
          </div>
          </div>
            </div>



</main>
