   <div class="fondoBlanco">
<center>

<div>

<div class="row editCuadro">
<form class="col s12">

  <div class="input-field col s12">
    <p id="dni" ><b>TITULO</b>: {{consejo.titulo}}</p>
  </div>

  <div class="input-field col s12">
    <p id="nombre" ><b>DESCRIPCION</b>: {{consejo.descripcion | limitTo:150}}...</p>
  </div>


<div class="container" style="width: 250px">
<center>
  <div class="col s12"><b>¿Está seguro de eliminar el consejo?</b></div>
  <a class="col s5 btn btn-large waves-effect botonAgregar" ui-sref="admin_listado_consejos">volver</a>
  <div class="col s2"></div>
  <button ng-click="borrarConsejo()" class='col s5 btn btn-large waves-effect boton'>eliminar</button>
</center>
</div>


</form>

</div>

</center>

</div>
