<main>
  <div class="section"></div>
  <div class="container center anchoMinimo">

      
     
      <div class="card">
        <div class="card-content">

        <div class="contenidoBordeGris">
        <h5 class="center titulo03 titAparte">Editar Consejo</h5>
         
          <div class="separador">
          

            <form class="col s12 l12 m12" name="form">

      <div class="input-field separaCostado">
        <input id="titulo" name="titulo" type="text" class="validate" ng-model="consejo.titulo"/>
        <label for="titulo">Titulo</label>
        <span style=" color:red;" id="tituloErrorSpan" ng-show="tituloError" >{{tituloErrorMensaje}}</span>
        
      </div>

      <div class="input-field separaCostado separaLabel">
      <textarea id="descripcion" name="descripcion" ng-model="consejo.descripcion"  required  autocomplete="off"  class="validate materialize-textarea"/></textarea>
        <label for="descripcion">Descripción</label>
        <span style=" color:red;" id="descripcionErrorSpan" ng-show="descripcionError" >{{descripcionErrorMensaje}}</span>
        </div>

      

    </form>

      </div>
            

           <div class="card-action cardBorder">


           
           <div class="row">


           <div class="input-field col s12 m12 l6">
            <button class="btn waves-effect botonGeneral" ui-sref="admin_listado_consejos">
            volver</button>
          
          </div>

          <div class="input-field col s12 m12 l6">
          <button  class="btn waves-effect botonGeneral"  ng-click="submit()">guardar</button>

     
          </div>

            
</div>
          </div>
        </div>
          </div>
          </div>
          </div>
            </div>



</main>

          


      
           

            
        


