   <div class="fondoBlanco">


<div class="container" style="width: 50%;">
<center>
<div class="row editCuadro">
    <form class="col s12" name="form">

      <div class="input-field col s12">
        <input id="dni" name="dni" type="number" class="validate" ng-model="especialista.dni" required min='10000000' max='100000000' ng-keypress="dniError = false" ng-click="dniError = false" oninvalid="return false;" autocomplete="off" />
        <label for="dni">DNI</label>
        <span style=" color:red;" id="dniErrorSpan" ng-show="dniError" >{{dniErrorMensaje}}</span>
      </div>

      <div class="input-field col s12">
        <input id="nombre" name="nombre" type="text" class="validate" ng-model="especialista.nombre" required minlength="4" ng-pattern="/^[a-zA-Z\s]*$/" ng-keypress="nombreError = false" ng-click="nombreError = false" oninvalid="return false;" autocomplete="off" />
        <label for="nombre">NOMBRE Y APELLIDO</label>
        <span style=" color:red;" id="nombreErrorSpan" ng-show="nombreError" >{{nombreErrorMensaje}}</span>
      </div>

      <div class="input-field col s12">
        <input id="direccion" name="direccion" type="text" class="validate" ng-model="especialista.direccion" required minlength="4" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-keypress="direccionError = false" ng-click="direccionError = false" oninvalid="return false;" autocomplete="off" />
        <label for="direccion">DIRECCION</label>
        <span style=" color:red;" id="direccionErrorSpan" ng-show="direccionError" >{{direccionErrorMensaje}}</span>
      </div>

      <div class="input-field col s12">
        <input id="telefono" name="telefono" type="number" class="validate" ng-model="usuario.telefono"  min='10000000' max='10000000000000' ng-keypress="telefonoError = false" ng-click="telefonoError = false" oninvalid="return false;" autocomplete="off" />
        <label for="telefono">TELEFONO</label>
        <span style=" color:red;" id="telefonoErrorSpan" ng-show="telefonoError" >{{telefonoErrorMensaje}}</span>
      </div>

      <div class="input-field col s12">
        <input id="fechaNacimiento" name="fechaNacimiento" type="date" class="validate" ng-model="especialista.fecha_nacimiento" required min="1900-01-01" max='{{hoy |date: "yyyy-MM-dd"}}' ng-keypress="fechaNacimientoError = false" ng-click="fechaNacimientoError = false" oninvalid="return false;" autocomplete="off" />
        <label for="fechaNacimiento">FECHA DE NACIMIENTO</label>
        <span style=" color:red;" id="fechaNacimientoErrorSpan" ng-show="fechaNacimientoError" >{{fechaNacimientoErrorMensaje}}</span>
      </div>

     <div class="container" style="width: 250px">
     <center>
       <div class="col s12"><b>¿Está seguro de modificar el especialista?</b></div>
       <a class="col s5 btn btn-large waves-effect botonAgregar" ui-sref="admin_listado_especialistas">volver</a>
       <div class="col s2"></div>
       <button ng-click="submit()" class='col s5 btn btn-large waves-effect boton'>modificar</button>
     </center>
    </div>

    </form>

    </div>

    </center>

    </div>
