<div class="section">
<center>

<div class="container" style="width: 50%;">

<div class="row editCuadro">
<form class="col s12">

  <div class="input-field col s12">
    <p id="dni" ><b>TITULO</b>: {{consejo.titulo}}</p>
  </div>

  <div class="input-field col s12">
    <p id="dni" ><b>DESCRIPCION</b>: {{consejo.descripcion}}</p>
  </div>


<div class="container" style="width: 320px">
<center>

  <a class="col s3 waves-effect waves-light btn btn-small botonAgregar" ui-sref="admin_editar_consejo({id: consejo._id})">editar</a>
  <div class="col s1"></div>
  <a class="col s3 waves-effect waves-light btn btn-small botonAgregar" ui-sref="admin_borrar_consejo({id: consejo._id})">borrar</a>
  <div class="col s1"></div>
  <a class="col s3 waves-effect waves-light btn btn-small botonAgregar" ui-sref="admin_listado_consejos">volver</a>

</center>
</div>


</form>

</div>

</center>

</div>
