<div class="fondoBlanco">
  <center>
    <div class="container contenedor">

      <div class="col s12 contenedorBot">
        <div class="col l6 m6 s6 bot">
          <img class="responsive-img" style="width: 220px;" src="img/bot-2.gif" />
        </div>

        <div class="col l6 m6 s6 bubble me cuadroDialogo right">

          <div class="xop-container">
            <p>{{datos.pregunta}}<span class="cursor">|</span></p>
          </div>
        </div>

      </div>
      <section class="msger">


        <main class="msger-chat">

          <div class="msg right-msg">
            <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">Juan Perez</div>
              </div>

              <div class="msg-text">
                Mi respuesta va a ser la siguiente:

                <form action="#" ng-repeat="item in opciones">
                  <p>
                    <input type="checkbox" id="test5" ng-click="enviar({'respuesta': item})"/>
                    <label for="test5">{{item}}</label>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </main>

        <!-- <form class="enviarBoton">
          <a class="waves-effect waves-light btn" ng-click="enviar({'respuesta': item})">Enviar</a>
        </form> -->
      </section>

    </div>
  </center>
</div>
