<main>
  <div class="container">

  <div>
  <main>
   
    <div id="chat">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        
        <div class="mdl-tabs__panel" id="botchat">
        <h5 class="card-title tituloCard"> 
         <div class="circuloFondo"><img class="responsive-img" src="img/minibot.png" />
         </div> WeBot </h5>
          <div class="messages">
            <ul>
              <li class="placeholder"></li>
              <li class="in"> 
                <div class="avatar">
                   <img class="responsive-img" style="width: 220px;" src="img/bot-2.gif" />
                </div>
                <div class="message">
                 <p ng-if="datos.pregunta && datos.preguntaParseada.length === 0">{{datos.pregunta}}</p>
                 <p ng-if="datos.pregunta && datos.preguntaParseada.length !== 0">{{datos.preguntaParseada}}</p>
                 </div>
              </li>
              <li class="out"> 

                <div class="message items"> <p>Mi respuesta:</p>
                  <form action="#" ng-repeat="item in opciones">
                    <p>
                      <label class="opcion" ng-click="aumentarGravedad(item.gravedad || 0); enviar({'pregunta':datos.pregunta, 'respuesta': item.opcion, 'respuestaSinGravedad': item.opcionSinGravedad})" for="test5">&#9673; {{item.opcionSinGravedad || item.opcion}}</label>
                    </p>
                  </form>
                  <div input-field ng-if="enableInput">
                    <textarea class="opcionDos" id="textarea1" ng-model="datos.input" class="materialize-textarea"></textarea>
                    <label class="opcion" id="textarea1"></label>
                    <a class="waves-effect waves-light btn botonGeneral" ng-click="enviar({'pregunta':datos.pregunta, 'respuesta': datos.pregunta, 'input': datos.input})">Enviar</a>
                  </div>
                 </div>
                <div class="avatar abis"><img class="responsive-img" style="width: 60px;" src="img/chico.png" /></div>
              </li>
            </ul>
          </div>
          
        </div>
        </div>
        </div>
      
  </main>
</div>




<!--

    <div class="card">
      <div class="card-content">
        <div class="col s12 contenedorBot">
          <div class="col l6 m6 s6 bot">
            <img class="responsive-img" style="width: 220px;" src="img/bot-2.gif" />
          </div>

          <div class="col l6 m6 s6 bubble me cuadroDialogo right">

            <div class="xop-container">
              <p ng-if="datos.pregunta && datos.preguntaParseada.length === 0">{{datos.pregunta}}<span class="cursor">|</span></p>
              <p ng-if="datos.pregunta && datos.preguntaParseada.length !== 0">{{datos.preguntaParseada}}<span class="cursor">|</span></p>
            </div>
          </div>

        </div>
        <section class="msger">


          <main class="msger-chat">

            <div class="msg right-msg">
              <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">Juan Perez</div>
                </div>

                <div class="msg-text">
                  Mi respuesta va a ser la siguiente:

                  <form action="#" ng-repeat="item in opciones">
                    <p>
                      <label ng-click="aumentarGravedad(item.gravedad || 0); enviar({'pregunta':datos.pregunta, 'respuesta': item.opcion, 'respuestaSinGravedad': item.opcionSinGravedad})" for="test5">- {{item.opcionSinGravedad || item.opcion}}</label>
                    </p>
                  </form>
                  <div input-field ng-if="enableInput">
                    <textarea ng-model="datos.input" class="materialize-textarea"></textarea>
                    <label>(Textarea)</label>
                    <a class="waves-effect waves-light btn" ng-click="enviar({'pregunta':datos.pregunta, 'respuesta': datos.pregunta, 'input': datos.input})">Enviar</a>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </section>
      </div>
    </div>-->
  </div>
 
</main>
