<main>
  <div class="container">
   



<div>
  
  <main>
   
    <div id="chat">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        
        <div class="mdl-tabs__panel" id="botchat">
        <h5 class="card-title tituloCard"> 
         <div class="circuloFondo"><img class="responsive-img" src="img/minibot.png" />
         </div> WeBot </h5>
          <div class="messages">
            <ul>
              <li class="placeholder"></li>
              <li class="in"> 
                <div class="avatar">
                   <img class="responsive-img" style="width: 220px;" src="img/bot-2.gif" />
                </div>
                <div class="message">
                 <p>Gracias por tomarte tu tiempo para contestarme las preguntas!<br> un especialista va a ver tus respuestas y te ayudará con tus problemas.</p>
                 </div>
              </li>
              <li class="out"> 

                <div class="message"> <a ui-sref="bot">Gracias, voy a esperar el resultado!</a>
                 
                 </div>
                <div class="avatar abis"><img class="responsive-img" style="width: 60px;" src="img/chico.png" /></div>
              </li>
            </ul>
          </div>
          
        </div>
        </div>
        </div>
      
  </main>
</div>