* { font-family: 'Calibri', sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }


main {
  flex: 1 0 auto; }

body {
  background-image: url('../img/fondo.jpg');
  background-repeat: repeat;
   }

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #ff8500; }

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none; }

.boton {
  background-color: #00a9ff !important;
  font-size: 18px;
   }


.logoDerecho{float:right;}

.greyBis{
background-color: #fafafa;
width: 40%; }

 .grey {  width: 60%;
 }

 .logotipo {margin-top: -100px;}

 @media screen and (max-width: 700px) {
  .greyBis{

width: 70%; }
}


.contenedor { width: 70%;
  background-color: white;
 }

.iconFooter {    font-size: 12px !important;
 }

footer.page-footer {

    padding-top: 0px !important;
    background-color: #b0b0b0;
    margin-top: 0px !important;
}

.contenedorBot {
background-color: #fff;
    padding: 25px !important;

  
    /* height: 50px; */
}


 @media screen and (max-width: 900px) {
.contenedorBot {

width: 100%; }
}

/*************************************************************/
.botonClear {
  background-color: #00a9ff; }

.btn-floating:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.botonGeneral {  background-color: #00a9ff;  }
.botonGeneralBis {  background-color: #ff8500;  }


.estadoResumen span, .estadoResumen button{ float: left; }

.iconos img { width: 30px;
    float: left; 
    padding-right: 5px;
   }

.fondoEsp { padding-bottom: 25px; }

.textoInformativo p {text-align: left;}

td, th {
       border-radius: 0px !important; }

.botonVer {
  background-color: #00a9ff; }

.botonEdit {
  background-color: #ff8500; }

.fondo {
  background-color: #d1d1d1; }

  .tablaIzq { margin-top: 49px; }

.fondo th {
  color: #fff; }

.botonAgregar {
  background-color: #ff8500 !important;
  float: right;
  margin-bottom: 20px; }

.textoPersonal span { float: left; 
text-align: left;}

.textUp { text-transform: uppercase;
font-weight: bold; }

.cuadro01 { margin-top: 25px; }

/******************************************/
nav {
  background-color: #fff;
   }


nav.nav-center ul {
  text-align: center;
  }

nav.nav-center ul li {
  display: inline;
  }



nav.nav-center ul li a {
font-size: 11px;
  color: black; }

/***************************************/
.datepicker-date-display {
  background-color: #ff8500 !important; }

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #ff8500 !important; }

.datepicker-table td.is-today {
  color: #ff8500 !important; }

.datepicker-table td.is-selected {
  background-color: #ff8500 !important; }

/************************************/
.dropdown-content li > a, .dropdown-content li > span {
  color: black; }

.input-field input[type=date]:focus, .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 2px solid #ff8500 !important; }

/******************************/
.modal {
  width: 50% !important;
  height: 50% !important; }

.modal-content h5 {
  padding-top: 12px;
  color: #00a9ff !important; }

.modal-content p {
  padding-top: 2px; }

.modal {
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto; }

  #sidenav-overlay {
      background-color: transparent;
  }

/*****************************************/
label.campo {
  width: 0% !important; }

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid   #ff8500  !important;
  box-shadow: 0 1px 0 0   #ff8500  !important;
font-size: 15px;}

/****************************************/

table { background-color: #fafafa; }

.editCuadro { background-color: #fafafa;
margin: 20px;
    padding: 30px; }


/******************************************/

.triangle-isosceles {
  float:right;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #00a9ff;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: 40px;
  left: -15px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #00a9ff transparent;
}

.bot {
  float: left;
 
    margin-top: -25px;
}

.cuadroChat {     margin-top: 30px;
    width: 80%; }

/********************************************/




.xop-container p {
    font-family: 'Calibri', sans-serif; ;

    color: #000;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    animation: typing 4s steps(60, end);
}


.xop-container p:nth-child(2) {
    animation: typing-2 8s steps(60, end);
}

@keyframes typing {
    from {width: 0;}
}

@keyframes typing-2 {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 100;}
}


@keyframes blink {
    to {opacity: .0;}
}

.cursor {
    animation: blink 1s infinite;
    color:#000;
}

.cuadroDialogo { left: -40px; }


.fondoBlanco { background-color: white;
    }


/****************************************/


/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  position: relative;
  width: 50%;
  height: auto;
  background-color: #ff8500;
  padding: 15px !important;
  border-radius: 20px;
}


/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #ff8500 transparent transparent transparent;
}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #ff8500 #ff8500 transparent transparent;
}



 @media screen and (max-width: 600px) {
.tri-right.left-in:after
{ content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom-color: #ff8500;
  border-top: 0;
  margin-left: -16px;
  margin-top: -14px; } }

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.cuadroDialogo { float:right !important;
 margin: 0 !important;}

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}


 @media screen and (max-width: 700px) {
 .msger {

width: 100% !important; }
}


.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0px 0px;
  height: calc(100% - 50px);
 
 padding-bottom: 15px;
  background: var(--msger-bg);

}

.talktext p { color: #fff !important; }

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {

}
.msger-chat::-webkit-scrollbar-thumb {
  b
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
  width: 100%;
}
.msger-inputarea * {

  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}



.enviarBoton { padding: 10px;
 }

.enviarBoton a,
.enviarBoton a:hover
 { background-color: #ff8500 ; }

 label  { color: white; }

 [type="checkbox"]:checked + label:before {
      border-right: 2px solid #ff8500 ;
    border-bottom: 2px solid #ff8500 ;
 }

 @media screen and (max-width: 1150px) {
 .cuadroDialogo{
float:none !important;
 }
}

a {  color: #fff;  }


.emoji {
  padding: 1rem;
  font-size: 5rem;


  display: inline-block;
}

.emoji:hover {
  font-size: 5rem;
}

.emoji--happy:before {
  content: '🙂';
}

.emoji--happy:hover:before {
  content: '😄';
}

.emoji--sad:before {
  content: '😕';
}

.emoji--sad:hover:before {
  content: '😐';
}

.emoji--crying:before {
  content: '😥';
}

.emoji--crying:hover:before {
  content: '😰';
}

.emoji--grimacing:before {
  content: '😬';
}

.emoji--grimacing:hover:before {
  content: '😁';
}

.emoji--angry:before {
  content: '😠';
}

.emoji--angry:hover:before {
  content: '😡';
}

.textos p { font-size: 15px;
text-align: center; }

.textos a { color:#08a9ff; }

.textos h5 {color: #ff8500;
text-align: center;}

h5.estado { color:#000; }



.timeline {
  height: 100vh;
}

.timeline_card {
  position: relative;


  background-color: #fff;

  padding: 20px;


}

.timeline_label {
  cursor: pointer;
  position: relative;
  width: 25%;
  float: left;

  color: #909090;
  font-weight: 100;
  text-transform: uppercase;

  letter-spacing: 1px;
}
.timeline_label:before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px #00a9ff solid;
}

.timeline_info {
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  bottom: 0;
  text-align: center;
  font-size: 40px;
  color: #eee;
  opacity: 0;
  font-weight: 100;
  letter-spacing: 1px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.timeline_line {
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  border-bottom: 2px #eee solid;
}
.timeline_line:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #00a9ff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.timeline_input[type=radio] {
  display: none;
}
.timeline_input[type=radio]:checked + .timeline_label {
  color: #00a9ff;
}
.timeline_input[type=radio]:checked + .timeline_label:before {
  background-color: #00a9ff;
  -moz-animation: part 1.6s infinite ease-in-out;
  -webkit-animation: part 1.6s infinite ease-in-out;
  animation: part 1.6s infinite ease-in-out;
}
.timeline_input[type=radio]:checked + .timeline_label + .timeline_info {
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  opacity: 1;
}
.timeline_input[type=radio]:checked:nth-of-type(1) + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_line:before {
  width: 27%;
}
.timeline_input[type=radio]:checked:nth-of-type(2) + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_line:before {
  width: 50%;
}
.timeline_input[type=radio]:checked:nth-of-type(3) + .timeline_label + .timeline_info + .timeline_input  + .timeline_label + .timeline_info + .timeline_line:before {
  width: 75%;
}
.timeline_input[type=radio]:checked:nth-of-type(4)  + .timeline_label + .timeline_info + .timeline_line:before {
  width: 100%;
}

@-webkit-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}
@-moz-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}
@keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label { padding-left: 24px !important; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after { background-color: #00a9ff; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color:  #00a9ff !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #00a9ff !important;
}



/********************************************/

.emoji--salida:before {
  content: '🎬';
}

.emoji--salida:hover:before {
  content: '🎬';
}

.emoji--deporte:before {
  content: '🏊';
}

.emoji--deporte:hover:before {
  content: '🏊';
}

.emoji--fiesta:before {
  content: '🎵';
}

.emoji--fiesta:hover:before {
  content: '🎶';
}

.emoji--colegio:before {
  content: '🏫';
}

.emoji--colegio:hover:before {
  content: '🏫';
}

.emoji--viaje:before {
  content: '🚗';
}

.emoji--viaje:hover:before {
  content: '🚗';
}

.emoji--descanso:before {
  content: '💤';
}

.emoji--descanso:hover:before {
  content: '💤';
}

.emoji--juego:before {
  content: '🎮';
}

.emoji--juego:hover:before {
  content: '🎮';
}

.emoji--estudio:before {
  content: '📚';
}

.emoji--estudio:hover:before {
  content: '📚';
}

.emoji--solo:before {
  content: '👦';
}

.emoji--solo:hover:before {
  content: '👧';
}

.emoji--pareja:before {
  content: '👫';
}

.emoji--pareja:hover:before {
  content: '👫';
}

.emoji--familia:before {
  content: '👪';
}

.emoji--familia:hover:before {
  content: '👪';
}

.emoji--amigos:before {
  content: '👬';
}

.emoji--amigos:hover:before {
  content: '👭';
}

.formAlumno { width: 60%; }


 input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #00a9ff !important; }


      input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00a9ff !important;
    box-shadow: 0 1px 0 0 #00a9ff !important; }



/********************************************/


/*********************************************************/
 ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.actividades label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.actividades p { text-transform: uppercase;
text-align: center;}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
      float: left;
}


#cb1:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url("../img/happy2.png");
}
#cb2:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/scare.png);
}
#cb3:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/crying.png);
}
#cb4:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/angry2.png);
}

#cb5:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/libros.png);
}

#cb6:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/temblor.png);
}

#cb7:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/pueblo.png);
}

#cb8:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/futbol.png);
}

#cb9:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/dispositivo-de-juego.png);
}
#cb10:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/zzz.png);
}

#cb11:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/chica.png);
}
#cb12:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/padres.png);
}
#cb13:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/familia.png);
}
#cb14:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/ninos.png);
}
/*****************************************/

.estadoAnimo p { text-align: center;
}

.textoAlumno h5{ text-align: center }

.step-actions { background-color:transparent !important;
float: right;
     }

#textarea1 { width: 80%; }

.textoAlumno4 label { margin-left:10%;  }

.btn-flat {background-color: #ff8500;
color: white;}

ul.stepper { overflow-y: hidden !important; }

.btn:hover, .btn-large:hover {
    background-color: #00a9ff;
}

.blue {   background-color: #00a9ff !important;}


ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
    background-color: #00a9ff !important;
}


nav { background-color: #fff;
}

nav li { color:#000; }

nav span{  color:#000;
float: left; }

nav .material-icons { height: 0px !important;
float: left;
margin-right: 32px;}

.side-nav li {     text-align: left;
 }

.side-nav .material-icons { float:none !important;
  font-size: 68px;
  height: 60px !important;
  margin: 0 auto;
}

.sidenav a { padding-top: 10px; }

.user-view {     color: #000;
    margin-top: 10px; }


/*******************************************/

.button-collapse { color: #00a9ff; 
cursor: pointer;}


@media screen and (max-width: 1000px)
{
nav ul a
{     padding: 0 5px !important; }}

nav ul a {
   padding: 0 8px !important;
}

nav.nav-center ul li { letter-spacing: 0.5px; }

.link {
  position: relative;
  padding: 0 0 2px;
  color: #ff8500;
  font-size: 26px;

  text-decoration: none;
  overflow: hidden;
}
.link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: currentcolor;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.link:hover::before {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}


.link{ text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }

ul li.active-link>a{
     text-decoration:underline;
      color: #ff8500;
 }

.cajaAlumno { padding-bottom: 20px !important;
    box-sizing: border-box;
    border: 4px solid; }



h3 .title-bg {background-color:  #ff8500;
    line-height: 2;
    padding-left: 8px;
    padding-right: 8px;}


h5 .title-bg2 {background-color:  #b0b0b0;
    line-height: 2;
    padding-left: 8px;
    padding-right: 8px;}

.titulo01 { 
text-transform: uppercase;
padding-top: 25px;
letter-spacing: 2px;
padding-bottom: 25px; }

.tabs01 ul li a {    
 color: #000 !important;
    font-size: 15px !important;
    }

.tabs .indicator {
    position: absolute;
    bottom: 0;  
    height: 2px;
    background-color: #ff8500;
    
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #fff !important;
    background-color: #ff8500;
}

.bordeTabs { border-bottom: 2px solid #ff8500; }


.tablaDeTres { margin-top: 40px; 
  margin-bottom: 40px;
}

.tablaDeTres p {
      margin-left: 20px;
    margin-right: 20px;
}

.tablaDeTres h5 { color: #ff8500;
font-weight: bold;
 }


  @media screen and (max-width: 600px) {
.tabs01 ul li a {    
    font-size: 11px !important;
    }
}

.titulo02 h4, .titulo02 h5 { 
  text-transform: uppercase;
font-weight: bold;
 }

.titulo02 p { margin-left: 10%;
margin-right: 10%; }

.titulo02 h5 { color:#ff8500; }

.descp { font-size: 20px;
  margin-left: 10%;
margin-right: 10%;
 }

 .btnempezar {  margin-bottom: 40px; }


 /*****************************************************/

 .titulo03 { text-transform: uppercase; 
  color:#ff8500; 
  font-weight: bold;
}

.botonBuscar { background-color:  #ff8500; 
}

.resgitro00:hover {

 cursor: pointer;
  background-color: rgba(0, 169, 255, 0.5);;
 
}

/**************************************************/

.misPac h4 {  
  color:#ff8500; 
  font-weight: bold;
  border-bottom: 2px solid #b0b0b0; }

.buscador00 { display: inline-block; width: 250px; }



.botonAgregar01 {
  display: inline-block;
  margin: 0.3em;
 
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none; 
  font-size: 15px;
  text-align: center;
}


.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}


.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #ff8500 !important;
}

.boton01 { float: left;
margin-top: 25px; }

.buscador01 { float: right;
 }



.iconos .bistext { text-align: center !important; 
text-transform: uppercase;
font-weight: bold; 
}



/******************************************/
.mdl-shadow--2dp, .mdl-tabs__panel ul > li.in .abis, .mdl-tabs__panel ul > li.out .abis, .mdl-tabs__panel ul > li.in .message, .mdl-tabs__panel ul > li.out .message {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-tabs__tab-bar {
  justify-content: flex-start;
}
.mdl-tabs__tab-bar .placeholder {
  flex: 2;
}
.mdl-tabs__tab-bar button {
  margin: 0.5rem;
}


#chat {
  
height:420px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0 -0.5rem 0;
  background-color: white;
}

.mdl-tabs__panel {
 
  position: relative;
}
.mdl-tabs__panel .close {
  position: absolute;
  top: 1rem;
  right: 18px;
}
.mdl-tabs__panel .messages {
  height: 16rem;
 
 
}
.mdl-tabs__panel ul {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.mdl-tabs__panel ul > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.mdl-tabs__panel ul > li.in, .mdl-tabs__panel ul > li.out {
  padding: 0.5rem 0;
}
.mdl-tabs__panel ul > li.in.placeholder, .mdl-tabs__panel ul > li.out.placeholder {
  flex: 2;
  height: 0;
  padding: 0;
  margin: 0;
}
.mdl-tabs__panel ul > li.in .avatar, .mdl-tabs__panel ul > li.out .avatar {
  font-size: 1.62em;
  width: 150px;
  height: 40px;
  min-width: 85px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: white;
  border-radius: 50px;
  margin-right: 1rem;
  background-color: white;
}
.mdl-tabs__panel ul > li.in .message, .mdl-tabs__panel ul > li.out .message {
  position: relative;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.mdl-tabs__panel ul > li.in .message:before, .mdl-tabs__panel ul > li.out .message:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0;
}
.mdl-tabs__panel ul > li.out {
  align-self: flex-end;
  margin-left: 54px;
}
.mdl-tabs__panel ul > li.out .message {
  background-color: #ff8500;
}
.mdl-tabs__panel ul > li.out .message:before {
  right: -9px;
  border-width: 10px 10px 0 0;
  border-color: #ff8500 transparent transparent transparent;
}
.mdl-tabs__panel ul > li.in {
  align-self: flex-start;
}
.mdl-tabs__panel ul > li.in + .in .avatar {
  visibility: hidden;
}
.mdl-tabs__panel ul > li.in .message {
  color: white;
  border-radius: 2px;
}
.mdl-tabs__panel ul > li.in .message:before {
  left: -9px;
  border-width: 0 10px 10px 0;
}
.mdl-tabs__panel ul > li.in .message.message--typing span {
  opacity: 0;
  -webkit-animation: ellipsis-dot 1s infinite;
  animation: ellipsis-dot 1s infinite;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.mdl-tabs__panel .enter-message {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.mdl-tabs__panel .enter-message .mdl-textfield {
  flex: 2;
}
.mdl-tabs__panel .enter-message .mdl-textfield input {
  padding-bottom: 6px;
}
.mdl-tabs__panel .enter-message .mdl-button {
  margin: 20px 0 20px 1rem;
}



#botchat .in .avatar, #botchat .in .message {
  background-color:  #00a9ff ;
}
#botchat .in .message:before {
  border-color: transparent  #00a9ff transparent transparent;
}

.message p { color: #fff; }

@-webkit-keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.abis {     width: 70px !important;
    height: 60px !important; }


.tituloCard
{ text-transform: uppercase;
  letter-spacing: 2px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(0,169,255,0.6);
    color: #fff;
    border-bottom: 2px solid #ff8500;  }


.dots:after {
 content: '\2807';
  font-size: 25px;
  float:right;
   padding-right: 25px;
}

.circuloFondo { background-color: #fff;
border-radius: 33px;
    width: 39px;
    height: 27px;
    float: left; 
  margin-right: 10px;}

.circuloFondo img {     width: 35px;
    padding-left: 5px;
    padding-top: 3px; }


.items p {   cursor: pointer;}