* { font-family: 'Calibri', sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; 
}

main {
  flex: 1 0 auto; }

.plantilla { margin-bottom: 40px;
 }

.tabs01 { padding-bottom: 25px; }

body {
  background-image: url('../img/fondo.jpg');
  background-repeat: repeat;
   }

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #ff8500; }

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none; }

.boton {
  background-color: #00a9ff !important;
  font-size: 18px;
   }


.logoDerecho{float:right;}

.greyBis{
background-color: #fafafa;
width: 40%; }

 .grey {  width: 60%;
 }

 .logotipo {margin-top: -100px;}

 @media screen and (max-width: 700px) {
  .greyBis{

width: 70%; }
}


.contenedor { width: 70%;
  background-color: white;
 }

.iconFooter {    font-size: 12px !important;
 }

footer.page-footer {

    padding-top: 0px !important;
    background-color: #b0b0b0;
    margin-top: 0px !important;
}

.contenedorBot {
background-color: #fff;
    padding: 25px !important;

  
    /* height: 50px; */
}





 @media screen and (max-width: 900px) {
.contenedorBot {

width: 100%; }
}

/*************************************************************/
.botonClear {
  background-color: #00a9ff; }

.btn-floating:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.botonGeneral {  background-color: #00a9ff;  }
.botonGeneralBis {  background-color: #ff8500;  }


.estadoResumen span, .estadoResumen button{ float: left; margin-left: 15px;}

.estadoResumen {  }

.iconos img { width: 30px;
    float: left; 
    padding-right: 5px;
   }

.fondoEsp { padding-bottom: 25px; }

.textoInformativo p {text-align: left;}

td, th {
       border-radius: 0px !important; }

.botonVer {
  background-color: #00a9ff; }

.botonEdit {
  background-color: #ff8500; }

.fondo {
  background-color: #00a9ff; }

  .tablaIzq { margin-top: 0px; 
}

   

.fondo th {
  color: #fff; }

.botonAgregar {
  background-color: #ff8500 !important;
  float: right;
  margin-bottom: 20px; }

.textoPersonal span { float: left; 
text-align: left;
margin-left: 15px;
margin-right: 15px;}

.textUp { text-transform: uppercase;
font-weight: bold; }

.cuadro01 { margin-top: 25px; }

/******************************************/
nav {
  background-color: #fff;
   }


nav.nav-center ul {
  text-align: center;
  }

nav.nav-center ul li {
  display: inline;
  }



nav.nav-center ul li a {
font-size: 11px;
  color: black; }

/***************************************/
.datepicker-date-display {
  background-color: #ff8500 !important; }

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #ff8500 !important; }

.datepicker-table td.is-today {
  color: #ff8500 !important; }

.datepicker-table td.is-selected {
  background-color: #ff8500 !important; }

/************************************/
.dropdown-content li > a, .dropdown-content li > span {
  color: black; }

.input-field input[type=date]:focus, .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 2px solid #ff8500 !important; }

/******************************/


  #sidenav-overlay {
      background-color: transparent;
  }

/*****************************************/
label.campo {
  width: 0% !important; }

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid   #ff8500  !important;
  box-shadow: 0 1px 0 0   #ff8500  !important;
font-size: 15px;}

/****************************************/

table { background-color: #fafafa; }

.editCuadro { background-color: #fafafa;
margin: 20px;
    padding: 30px; }

.tablaGeneral { background-color: #fff; 
box-sizing: border-box;
border: 1px solid #d5d3d3 ;}

.fondoOne { background-color:  #d5d3d3;}

.fondoOne th { color: #333333;
    font-size: 13px;
    letter-spacing: 1px; }


/******************************************/

.triangle-isosceles {
  float:right;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #00a9ff;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: 40px;
  left: -15px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #00a9ff transparent;
}

.bot {
  float: left;
 
    margin-top: -25px;
}

.cuadroChat {     margin-top: 30px;
    width: 80%; }

/********************************************/




.xop-container p {
    font-family: 'Calibri', sans-serif; ;

    color: #000;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    animation: typing 4s steps(60, end);
}


.xop-container p:nth-child(2) {
    animation: typing-2 8s steps(60, end);
}

@keyframes typing {
    from {width: 0;}
}

@keyframes typing-2 {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 100;}
}


@keyframes blink {
    to {opacity: .0;}
}

.cursor {
    animation: blink 1s infinite;
    color:#000;
}

.cuadroDialogo { left: -40px; }


.fondoBlanco { background-color: white;
    }


/****************************************/


/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  position: relative;
  width: 50%;
  height: auto;
  background-color: #ff8500;
  padding: 15px !important;
  border-radius: 20px;
}


/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #ff8500 transparent transparent transparent;
}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #ff8500 #ff8500 transparent transparent;
}



 @media screen and (max-width: 600px) {
.tri-right.left-in:after
{ content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom-color: #ff8500;
  border-top: 0;
  margin-left: -16px;
  margin-top: -14px; } }

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.cuadroDialogo { float:right !important;
 margin: 0 !important;}

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}


 @media screen and (max-width: 700px) {
 .msger {

width: 100% !important; }
}


.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0px 0px;
  height: calc(100% - 50px);
 
 padding-bottom: 15px;
  background: var(--msger-bg);

}

.talktext p { color: #fff !important; }

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {

}
.msger-chat::-webkit-scrollbar-thumb {
  b
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
  width: 100%;
}
.msger-inputarea * {

  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}



.enviarBoton { padding: 10px;
 }

.enviarBoton a,
.enviarBoton a:hover
 { background-color: #ff8500 ; }



 [type="checkbox"]:checked + label:before {
      border-right: 2px solid #ff8500 ;
    border-bottom: 2px solid #ff8500 ;
 }

 @media screen and (max-width: 1150px) {
 .cuadroDialogo{
float:none !important;
 }
}

a {  color: #fff;  }


.emoji {
  padding: 1rem;
  font-size: 5rem;


  display: inline-block;
}

.emoji:hover {
  font-size: 5rem;
}

.emoji--happy:before {
  content: '🙂';
}

.emoji--happy:hover:before {
  content: '😄';
}

.emoji--sad:before {
  content: '😕';
}

.emoji--sad:hover:before {
  content: '😐';
}

.emoji--crying:before {
  content: '😥';
}

.emoji--crying:hover:before {
  content: '😰';
}

.emoji--grimacing:before {
  content: '😬';
}

.emoji--grimacing:hover:before {
  content: '😁';
}

.emoji--angry:before {
  content: '😠';
}

.emoji--angry:hover:before {
  content: '😡';
}

.textos p { font-size: 15px;
text-align: center; }

.textos a { color:#08a9ff; }

.textos h5 {color: #ff8500;
text-align: center;}

h5.estado { color:#000; }



.timeline {
  height: 100vh;
}

.timeline_card {
  position: relative;


  background-color: #fff;

  padding: 20px;


}

.timeline_label {
  cursor: pointer;
  position: relative;
  width: 25%;
  float: left;

  color: #909090;
  font-weight: 100;
  text-transform: uppercase;

  letter-spacing: 1px;
}
.timeline_label:before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px #00a9ff solid;
}

.timeline_info {
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  bottom: 0;
  text-align: center;
  font-size: 40px;
  color: #eee;
  opacity: 0;
  font-weight: 100;
  letter-spacing: 1px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.timeline_line {
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  border-bottom: 2px #eee solid;
}
.timeline_line:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #00a9ff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.timeline_input[type=radio] {
  display: none;
}
.timeline_input[type=radio]:checked + .timeline_label {
  color: #00a9ff;
}
.timeline_input[type=radio]:checked + .timeline_label:before {
  background-color: #00a9ff;
  -moz-animation: part 1.6s infinite ease-in-out;
  -webkit-animation: part 1.6s infinite ease-in-out;
  animation: part 1.6s infinite ease-in-out;
}
.timeline_input[type=radio]:checked + .timeline_label + .timeline_info {
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  opacity: 1;
}
.timeline_input[type=radio]:checked:nth-of-type(1) + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_line:before {
  width: 27%;
}
.timeline_input[type=radio]:checked:nth-of-type(2) + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_input + .timeline_label + .timeline_info + .timeline_line:before {
  width: 50%;
}
.timeline_input[type=radio]:checked:nth-of-type(3) + .timeline_label + .timeline_info + .timeline_input  + .timeline_label + .timeline_info + .timeline_line:before {
  width: 75%;
}
.timeline_input[type=radio]:checked:nth-of-type(4)  + .timeline_label + .timeline_info + .timeline_line:before {
  width: 100%;
}

@-webkit-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}
@-moz-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}
@keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
  }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
  }
}


[type="radio"]:not(:checked) + label, [type="radio"]:checked + label { padding-left: 24px !important; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after { background-color: #00a9ff; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color:  #00a9ff !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #00a9ff !important;
}



/********************************************/

.emoji--salida:before {
  content: '🎬';
}

.emoji--salida:hover:before {
  content: '🎬';
}

.emoji--deporte:before {
  content: '🏊';
}

.emoji--deporte:hover:before {
  content: '🏊';
}

.emoji--fiesta:before {
  content: '🎵';
}

.emoji--fiesta:hover:before {
  content: '🎶';
}

.emoji--colegio:before {
  content: '🏫';
}

.emoji--colegio:hover:before {
  content: '🏫';
}

.emoji--viaje:before {
  content: '🚗';
}

.emoji--viaje:hover:before {
  content: '🚗';
}

.emoji--descanso:before {
  content: '💤';
}

.emoji--descanso:hover:before {
  content: '💤';
}

.emoji--juego:before {
  content: '🎮';
}

.emoji--juego:hover:before {
  content: '🎮';
}

.emoji--estudio:before {
  content: '📚';
}

.emoji--estudio:hover:before {
  content: '📚';
}

.emoji--solo:before {
  content: '👦';
}

.emoji--solo:hover:before {
  content: '👧';
}

.emoji--pareja:before {
  content: '👫';
}

.emoji--pareja:hover:before {
  content: '👫';
}

.emoji--familia:before {
  content: '👪';
}

.emoji--familia:hover:before {
  content: '👪';
}

.emoji--amigos:before {
  content: '👬';
}

.emoji--amigos:hover:before {
  content: '👭';
}

.formAlumno { width: 60%; }


 input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #00a9ff !important; }


      input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00a9ff !important;
    box-shadow: 0 1px 0 0 #00a9ff !important; }



/********************************************/


/*********************************************************/
 ul {
  list-style-type: none;
}

li {
  display: inline-block;
}


input[type="checkbox"][id="cb"] {
  display: none;
}

.actividades label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.actividades p { text-transform: uppercase;
text-align: center;}


label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  float: left;
}

  @media screen and (max-width: 460px) {
label img {
height: 50px !important;
    width: 50px !important;}
  }

#cb26:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url("../img/colegiobis.png");
}
#cb28:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url("../img/fueradecasa.png");
}

#cb30:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url("../img/gimbis.png");
}

#cb1:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url("../img/happy2.png");
}
#cb2:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/scare.png);
}
#cb3:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/crying.png);
}
#cb4:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/angry2.png);
}

#cb5:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/librobis.png);
}

#cb101:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/nadabis.png);
}

#cb6:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/fiestabis.png);
}

#cb7:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/bosquebis.png);
}

#cb8:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/deportebis.png);
}

#cb9:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/juegobis.png);
}
#cb10:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/dormirbis.png);
}

#cb22:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/cama02.png);
}
#cb27:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/casabis.png);
}
#cb29:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/casaamigobis.png);
}

#cb11:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/chicobis.png);
}
#cb12:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/parejabis.png);
}
#cb13:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/familiabis.png);
}
#cb14:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50px;
   content: url(../img/amigosbis.png);
}
/*****************************************/

.estadoAnimo p { text-align: center;
}

.estadoAnimo {     margin-top: -40px;
 }

.textoAlumno h5{ text-align: center }

.step-actions { background-color:transparent !important;
float: right;
     }



.textoAlumno4 label { margin-left:10%;  }

.btn-flat {background-color: #ff8500;
color: white;}

ul.stepper { overflow-y: hidden !important; }

.btn:hover, .btn-large:hover {
    background-color: #00a9ff;
}

.blue {   background-color: #00a9ff !important;}


ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
    background-color: #00a9ff !important;
}


nav { background-color: #fff;
}

nav li { color:#000; }

nav span{  color:#000;
float: left; }

nav .material-icons { height: 0px !important;
float: left;
margin-right: 32px;}

.side-nav li {     text-align: left;
 }

.side-nav .material-icons { float:none !important;
  font-size: 68px;
  height: 60px !important;
  margin: 0 auto;
}

.sidenav a { padding-top: 10px; }

.user-view {     color: #000;
    margin-top: 10px; }


/*******************************************/

.button-collapse { color: #00a9ff; 
cursor: pointer;}


@media screen and (max-width: 1000px)
{
nav ul a
{     padding: 0 5px !important; }}

nav ul a {
   padding: 0 8px !important;
}

nav.nav-center ul li { letter-spacing: 0.5px; }

.link {
  position: relative;
  padding: 0 0 2px;
  color: #ff8500;
  font-size: 26px;

  text-decoration: none;
  overflow: hidden;
}
.link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: currentcolor;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;

}
.link:hover::before {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}


.link{ text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }




.carta { margin-top:38px !important; 
  margin-bottom: 40px !important;
}


.cajaAlumno { padding-bottom: 25px !important;
    padding-top: 20px;
    box-sizing: border-box;
    border: 2px solid #00a9ff;
     }




h4 .title-bg {background-color:  #ff8500;
    padding-left: 8px;
    letter-spacing: 2px;
    padding-right: 8px;}


h5 .title-bg2 {background-color:  #b0b0b0;
    line-height: 2;
    padding-left: 8px;
    padding-right: 8px;}

.cajaAlumno p { font-size: 20px !important;
color: #000 !important;
padding-left: 15px;
    padding-right: 15px; }

 @media screen and (max-width: 500px) {
.cajaAlumno p {
    font-size: 14px !important;
  }
 }

.titulo01 { 
text-transform: uppercase;
padding-top: 25px;
letter-spacing: 2px;
padding-bottom: 25px; }

.tabs01 ul li a {    
 color: #000 !important;
    font-size: 15px !important;
    }

.tabs .indicator {
    position: absolute;
    bottom: 0;  
    height: 2px;
    background-color: #ff8500;
    
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #fff !important;
    background-color: #ff8500;
}

.bordeTabs { border-bottom: 2px solid #ff8500; }


.tablaDeTres { margin-top: 40px; 
  margin-bottom: 40px;
}

.tablaDeTres p {
      margin-left: 20px;
    margin-right: 20px;
}

.tablaDeTres h5 { color: #ff8500;
font-weight: bold;
 }


  @media screen and (max-width: 600px) {
.tabs01 ul li a {    
    font-size: 11px !important;
    }
}

.titulo02 h4, .titulo02 h5 { 
  text-transform: uppercase;
font-weight: bold;
 }

.titulo02 p { margin-left: 10%;
margin-right: 10%; }

.titulo02 h5 { color:#ff8500; }

.descp { font-size: 20px;
  margin-left: 10%;
margin-right: 10%;
 }

 .btnempezar {  margin-bottom: 40px; }


 /*****************************************************/

 .titulo03 { text-transform: uppercase; 
  color:#ff8500; 
  font-weight: bold;
}

.botonBuscar { background-color:  #ff8500; 
  margin-top: 20px !important;
      margin-bottom: 10px;
}

.resgitro00:hover {

 cursor: pointer;
  background-color: rgba(0, 169, 255, 0.5);;
 
}

/**************************************************/

.misPac h4 {  
  color:#ff8500; 
  font-weight: bold;
      padding-bottom: 15px;
    border-bottom: 1px solid #d5d3d3; }

.buscador00 { display: inline-block; width: 285px; }

.resgitro00 {    border-top: 1px solid #d5d3d3;
    border-bottom: 1px solid #d5d3d3;}

.botonAgregar01 {
  display: inline-block;
  margin: 0.3em;
 
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none; 
  font-size: 15px;
  text-align: center;
}


.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}


.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #ff8500 !important;
}

.boton01 { 
margin-top: 25px; }





.iconos .bistext { text-align: center !important; 
text-transform: uppercase;
font-weight: bold; 
}



/******************************************/
.mdl-shadow--2dp, .mdl-tabs__panel ul > li.in .abis, .mdl-tabs__panel ul > li.out .abis, .mdl-tabs__panel ul > li.in .message, .mdl-tabs__panel ul > li.out .message {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-tabs__tab-bar {
  justify-content: flex-start;
}
.mdl-tabs__tab-bar .placeholder {
  flex: 2;
}
.mdl-tabs__tab-bar button {
  margin: 0.5rem;
}


label.opcion {color:#fff;
cursor: pointer;}

.opcion { color:#fff; }

.opcionDos { color:#000;
background-color: #fff; }

#chat {
  margin-top: 38px;
height:450px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.mdl-tabs__panel {
 
  position: relative;
}
.mdl-tabs__panel .close {
  position: absolute;
  top: 1rem;
  right: 18px;
}
.mdl-tabs__panel .messages {
  height: 16rem;
 
 
}
.mdl-tabs__panel ul {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.mdl-tabs__panel ul > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.mdl-tabs__panel ul > li.in, .mdl-tabs__panel ul > li.out {
  padding: 0.5rem 0;
}
.mdl-tabs__panel ul > li.in.placeholder, .mdl-tabs__panel ul > li.out.placeholder {
  flex: 2;
  height: 0;
  padding: 0;
  margin: 0;
}
.mdl-tabs__panel ul > li.in .avatar, .mdl-tabs__panel ul > li.out .avatar {
  font-size: 1.62em;
  width: 150px;
  height: 40px;
  min-width: 85px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: white;
  border-radius: 50px;
  margin-right: 1rem;
  background-color: white;
}
.mdl-tabs__panel ul > li.in .message, .mdl-tabs__panel ul > li.out .message {
  position: relative;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.mdl-tabs__panel ul > li.in .message:before, .mdl-tabs__panel ul > li.out .message:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0;
}
.mdl-tabs__panel ul > li.out {
  align-self: flex-end;
  margin-left: 54px;
}
.mdl-tabs__panel ul > li.out .message {
  background-color: #ff8500;
}
.mdl-tabs__panel ul > li.out .message:before {
  right: -9px;
  border-width: 10px 10px 0 0;
  border-color: #ff8500 transparent transparent transparent;
}
.mdl-tabs__panel ul > li.in {
  align-self: flex-start;
}
.mdl-tabs__panel ul > li.in + .in .avatar {
  visibility: hidden;
}
.mdl-tabs__panel ul > li.in .message {
  color: white;
  border-radius: 2px;
}
.mdl-tabs__panel ul > li.in .message:before {
  left: -9px;
  border-width: 0 10px 10px 0;
}
.mdl-tabs__panel ul > li.in .message.message--typing span {
  opacity: 0;
  -webkit-animation: ellipsis-dot 1s infinite;
  animation: ellipsis-dot 1s infinite;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.mdl-tabs__panel ul > li.in .message.message--typing span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.mdl-tabs__panel .enter-message {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.mdl-tabs__panel .enter-message .mdl-textfield {
  flex: 2;
}
.mdl-tabs__panel .enter-message .mdl-textfield input {
  padding-bottom: 6px;
}
.mdl-tabs__panel .enter-message .mdl-button {
  margin: 20px 0 20px 1rem;
}



#botchat .in .avatar, #botchat .in .message {
  background-color:  #00a9ff ;
}
#botchat .in .message:before {
  border-color: transparent  #00a9ff transparent transparent;
}

.message p { color: #fff; }

@-webkit-keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.abis {     width: 70px !important;
    height: 60px !important; }


.tituloCard
{ text-transform: uppercase;
  letter-spacing: 2px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(0,169,255,0.6);
    color: #fff;
    border-bottom: 2px solid #ff8500;  }


.dots:after {
 content: '\2807';
  font-size: 25px;
  float:right;
   padding-right: 25px;
}

.circuloFondo { background-color: #fff;
border-radius: 33px;
    width: 39px;
    height: 27px;
    float: left; 
  margin-right: 10px;}

.circuloFondo img {     width: 35px;
    padding-left: 5px;
    padding-top: 3px; }


.items p {   cursor: pointer;}


/*******************SLIDE**********************/

.slider .indicators .indicator-item {
  background-color: #ff8500;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #00a9ff;
}

.slider .indicators {
  bottom: 40px;
  z-index: 100;
  /* text-align: left; */
}




/*********************************************/

hr { width: 40%;
    height: 1px;
    background-color: #b0b0b0;
    border: none; }

 @media screen and (max-width: 660px)
 {  .slider .indicators {
  bottom: 20px;
}
  }

.cajaAlumno .botonGeneral {     margin-left: 20px;
    margin-right: 20px; }

 @media screen and (max-width: 450px) {
  .cajaAlumno .botonGeneral {
    font-size: 10px;
  }
  h4 .title-bg { font-size: 25px; }
  .titulo01 h4 { 
  padding-left: 20px;
    padding-right: 20px;
    font-size: 26px; }
 }

  @media screen and (max-width: 1050px)
  {
    .cajaAlumno { margin-top: 0px !important;}
  }

input.buscadorFechas{ margin-bottom: 2px; }


/**************************************/


.container .img {
  width: 100px;
  height: 100px;
  background: #333;
  margin: 20px auto;
  border-radius: 50%;
  -webkit-transition: all 400ms ease-out;
}

.titulosAparte { 
  font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    margin-right: 5px;
    margin-left: 5px;
   }

.linea00 span { margin-left: 10px;
margin-right: 10px; }


.linea00 { padding-bottom: 20px; }

.cardBorder { border-top: 1px solid #b0b0b0 !important;
background-color: #fafafa !important; }

.cambiContra { padding-bottom: 25px; }

.contenidoBorde { box-sizing: border-box;
                  border: 1px solid #d5d3d3;
                  background-color: #fff; }

.espacio { padding-top: 40px; }

.iconCuenta { margin-top: 20px; }

.acordeon { display: initial;  }



.collapsible-accordion {     background-color: #fff; }

.collapsible-body, .collapsible-header {
  border-bottom: 1px solid #b0b0b0;
}

.iconoW { color: #00a9ff;
    margin-top: -5px; }

.titAparte {     padding-top: 4px; }


.buscador td{ padding-left: 25px;
    padding-right: 25px;
 }

  @media screen and (max-width: 600px)
  { 
  .tablaIzq {
    margin-bottom: 20px;
    } }



.card-input {
      height: 40px;
}

.card-input input[type="text"]:not(.browser-default) {
  height: 40px;
  padding: 0 16px;
  margin-bottom: 0;
  border-bottom: none;
  width: calc(100% - 72px);
}

.card-input input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.card-input i {
  line-height: 50px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  margin-top: -5px;
}



.buscador01 input[type=text]:focus:not([readonly]),
.buscador01 input-field input[type=text]:focus {
  border-bottom: none; 
    box-shadow: none !important;
}





.fechaIngresar {     margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
        width: 50%; }




.itemsBuscador h5 { font-size: 17px;
                      color: #ff8500; 
                      text-transform: uppercase;
                      font-weight: bold;
                      padding-top: 5px;
                          margin-bottom: 0px;}


.btn01 {
  float: left;
  margin-left: 25px;
}

.btn02 { 
margin-right: 25px;
float: right; }

.buscarAl {     margin-top: -50px; }



ul.stepper.horizontal .step-content {     overflow-y: hidden !important; }

.fechHor h5 { margin-top: -35px; }

.picker__date-display, .picker__weekday-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
 { background-color: #ff8500 !important; }

.picker__day.picker__day--today { color:#ff8500 !important ; }

.picker__wrap { margin-top: -25px; }

 @media screen and (max-width: 995px)
 {
  .fechaIngresar { width: 80% !important; }
 }

.botonAparteVolver  { margin-top: 30px; }

.b02 {     font-size: 11px !important; }

.tituloDiag {     text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #333333;
    background-color: #d5d3d3;
    padding: 16px;
    /* padding-left: 30px; */
    text-align: center; }

.bagregar {     font-size: 11px;
    padding-left: 18px;
    padding-right: 18px; }

.titNar { color: #ff8500; }

.conjDiag { margin-top: 5px;
    padding-left: 25px !important; }

.conjDiagBis { margin-top: 60px; }



.bisF th{ text-align: center; }

.tablaMarg { margin-top: 53px;
  margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #d5d3d3; }

.tablaGeneralBis { box-sizing: border-box;
    border: 1px solid #d5d3d3;
        padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 30px !important;
   }

.botScroll { height: 400px;  overflow-y: scroll; }

.pregunta{ text-align: right;  padding:5px;    font-weight: bold; margin-bottom: 10px;}
.respuesta {  ;margin-bottom:5px; padding:5px;}

.margMenos { margin-bottom: 0px !important; }


input[type=text].invalid { border-bottom: 1px solid #b0b0b0;
    box-shadow: 0 1px 0 0 #b0b0b0; }

.butonComp {     margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px !important; }

.linearBusc {     margin-left: 10px !important;
    margin-right: 10px !important; }


.buscador03 {
    display: inline-block;
        width: 100%;
    margin-bottom: 15px;
}

.bisTitulo { padding-bottom: 20px; }

.contenidoTabla { margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #d5d3d3; }

.iconosEsp img {     width: 50px;
    height: 50px; }


    .buscador05 {
    display: inline-block;
    width: 260px;
}

.tabla01 thead  { height: 220px !important; }


@media screen and (max-width: 992px)
{
.tabla01 tr {  height: 220px; } }

@media screen and (max-width: 350px)
{
.buscador05 {
    display: inline-block;
    width: 230px;
      
}
}


.buscador05 input {
    
        font-size: 13px !important;
}



.titulo04 { 
    text-transform: uppercase;
    color: #00a9ff;
    font-weight: bold;
} 


.cajaAlumno:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: #fff;
    border: 2px solid #d5d3d3;
  z-index: -1;
}

.slider .slides li {     margin-top: 25px !important; }

.tituloTexto { font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase; }


.bisAct ul { margin-top: -15px; }

.bisAct ul li { margin-left: -15px; }

#textarea2 {   width: 50%; }

@media screen and (max-width: 900px)
{ #textarea2 {   width: 80% !important; } }

.parrafo {     color: #000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px; }

.title-bgbis {  background-color:  #00a9ff;
  color:#fff;
    padding-left: 8px;
    letter-spacing: 2px;
    padding-right: 8px; }

.sinEstilo {
  background-color: #d5d3d3;
    border-radius: 50px;
    padding: 9px 15px;
    color: #000;
} 


@media only screen and (max-width: 992px)
{
.alto { height: 290px; }
.altoFondo tr { height:290px; }
}





@media only screen and (max-width: 992px)
{
.tablaSegunda table.responsive-table thead  {
    border: 0;
    border-right: 1px solid #d0d0d0;
    height: 290px !important;
} 
}

.espacioNo { margin-bottom: 0px !important;  }

.separador { margin-top: 30px; margin-bottom: 30px; }

.espacioEntre { margin-top: 25px; }

.container.anchoMinimo { width: 50% !important; }

@media only screen and (max-width: 992px)
{
  .container.anchoMinimo { width: 80% !important; }
}


.separaCostado { margin-left: 100px;
    margin-right: 100px; }


@media only screen and (max-width: 992px)
{  .separaCostado { margin-left: 20px;
    margin-right: 20px; }

}

.separaCostado input, .separaCostado label { 
      text-align: left; }



  .cardBorderNo {
    margin-top: 30px; 
   }

.espacioYBorde {     padding-left: 30px !important;
    padding-right: 30px !important;
 }

 .areaTexto {     height: 16rem !important; }

 .separaLabel label {     padding-bottom: 5px; }

 .separaLabel { margin-top: 25px; }


 .container { width: 80% !important; }

 @media only screen and (max-width: 999px){
 .container { width: 90% !important; }
 }

 .slider .slides { background-color: #fff !important;
        margin-top: 38px; }


.espacioGeneral { padding: 25px !important;}

.espaciadoArriba { margin-top: 38px; }


.card-contentBis { padding: 23px !important;
margin-bottom: 40px !important;  }

.card-contentDos { background-color: #fff; }

.card-contentTres {
    background-color: #fff;
    padding-bottom: 25px;
}

.card .card-content {     padding: 23px !important;
margin-bottom: 40px !important; 
background-image: url("../img/fondo02.png"); 
background-repeat: repeat-x repeat-y;}


.claseImportante {     

    background-color: #fff;
    /* padding-bottom: 25px; */
    padding: 25px;
    margin-bottom: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px; }

.parrafoBis {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px !important; 
}


.margenL {     margin-bottom: 40px; }

.textoInformativo h4 { color:#00a9ff;
font-size: 25px; }

.textoInformativo p { text-align: center;
padding: 25px; }

.modalTitulo { text-align: center;
    
    font-weight: bold; }

.flotarIzq { float: left !important; }

.sinEspacio { margin-bottom: 0px; }


.botonEstilado { margin-left: 15px; margin-right:15px; }

#demoModal {     margin-top: 10%;
    padding-bottom: 10px;
     width: 45%;
 }


/**********************************************/


progress:not(value) {
  /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
  /* Get rid of the default appearance */
  appearance: none;
  
  /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
  border: none;
  
  /* Add dimensions */
  width: 100%; height: 20px;
  
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  
  /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
  color: royalblue;
  
  position: relative;
 margin-bottom: 5px;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:3px;
  
  /* Let's animate this */
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
  /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
  content: '';
  position: absolute;
  
  width:5px; height:5px;
  top:7px; right:7px;
  
  background-color: white;
  border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
  /* Gradient background with Stripes */
  background-image:
  -moz-linear-gradient( 135deg,
                           transparent,
                           transparent 66%,
                           rgba(0,0,0,.1) 66%,
                           rgba(0,0,0,.1) 33%,
                           transparent 33%),
    -moz-linear-gradient( top,
                            rgba(255, 255, 255, .25),
                            rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #40bf43, #dd0000);
  
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:3px;
  
  /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}


/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
  content: attr(data-value) '%';
  position: absolute; right:0;
}





.html5::-webkit-progress-value  {
  /* Gradient background with Stripes */
  background-image:
  -webkit-linear-gradient( 135deg,
                           transparent,
                           transparent 66%,
                           rgba(0,0,0,.1) 66%,
                           rgba(0,0,0,.1) 33%,
                           transparent 33%),
    -webkit-linear-gradient( top,
                            rgba(255, 255, 255, .25),
                            rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #40bf43, #dd0000);
}



/* Similarly, for Mozilla. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar {
  /* Gradient background with Stripes */
  background-image:
  -moz-linear-gradient( 135deg,
                           transparent,
                           transparent 66%,
                           rgba(0,0,0,.1) 66%,
                           rgba(0,0,0,.1) 33%,
                           transparent 33%),
    -moz-linear-gradient( top,
                            rgba(255, 255, 255, .25),
                            rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #40bf43, #dd0000);
}



@media screen and (max-width: 600px)
{ .conjDiag, .conjDiagBis { text-align: center;
 }
}






@media screen and (max-width: 600px)
{
.tablaMarg {
    margin-top: 0px;
    margin-bottom: 35px;
}
}

.estiloPart { padding-bottom: 5px; }

span.estiloPart { color: #00a9ff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase; 
    padding-left: 10px;}

span.estiloPart2 {color: #ff8500;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  padding-left: 10px;}


  textarea.opcionDos { resize: none; }


  .estiloTurno { width: 50%;      }
  @media screen and (max-width: 999px)
  {   .estiloTurno { width: 80% !important; } }


  .estiloTurnoDos { width: 50%;     padding-top: 10px; }
  @media screen and (max-width: 999px) { 
   .estiloTurnoDos { width: 80% !important;     } }


  .estaCard { margin-top: -10px;     margin-bottom: 30px; }

  .stepbystep { height: 500px; }

  .infoStep{     margin-top: 0px; }

  .tituloDestaca {font-weight: bold; text-transform: uppercase;}


  .gravBot {
    margin-top: -10px; }
  @media screen and (max-width: 999px)
  {
    .gravBot { margin-top: 10px; }  }

.bisBoton {     margin-top: -10px; }

.seleccionmas { color: grey;
    text-align: center;
    font-size: 12px;
    margin-top: -5px; }

.acomodoMargen {     margin-top: -30px; }



.dropdown-content {
  
    max-height: 100px !important;
}
.contenidoAlarga, .steper01 { height: 570px; }



label.sinCheck:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
 
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.claseAparte { padding-top: 15px; }



