<div class="contenedor_max formIngreso">

  <div class="row title-form ancho_diagnostico">
    <div class="col s12">
      <h4>{{'GENERAL_DATA' | translate}}</h4>
      <a data-target='modal-study' modal open="modalStatus.open" class="btn-add btn waves-effect waves-light right" tooltipped data-position="top" data-delay="50" data-tooltip="{{'SAVE' | translate}}" ng-click="openModal()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>{{'SAVE' | translate}}
            </a>
      <a class="btn-add btn waves-effect waves-light right" ng-click="cancelOrganization()" tooltipped data-position="top" data-delay="50" data-tooltip="{{'BACK' | translate}}">
              <i class="fa fa-mail-reply" aria-hidden="true"></i>{{'RETURN_TO_LIST' | translate}}
            </a>
    </div>
  </div>

  <div class="">
    <div class="row">
      <form class="ancho_diagnostico">
        <div>
          <div class="card-content">
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="name" type="text" class="validate" ng-model="name">
                <label for="name">{{'NAME' | translate}}</label>
                <span></span>
              </div>
              <div class="input-field col m6 s12">
                <input id="description" type="text" class="validate" ng-model="identifier[0].value">
                <label for="description">{{'DESCRIPTION' | translate}}</label>
                <span></span>
              </div>
              <div class="input-field col m6 s12">
                <input id="tel_casa" type="text" class="validate" ng-model="telecom[0].value">
                <label for="tel_casa">{{'TELEPHONE_HOME' | translate}}</label>
                <span></span>
              </div>
              <div class="input-field col m6 s12">
                <input id="tel_job" type="text" class="validate" ng-model="telecom[1].value">
                <label for="tel_job">{{'EMAIL' | translate}}</label>
                <span></span>
              </div>
              <div class="input-field col m6 s12">
                <h6 for="text">{{'PARENT_ORGANIZATION' | translate}}</h6>
                <select ng-model="partOf.reference" ng-change="selectSubOrganization()" material-select watch>
                    <option value="">{{'NONE' | translate}}</option>
                    <option ng-repeat="organization in organizations" value="{{organization._id}}">{{organization.name}}</option>
                  </select>
                <span></span>
              </div>
              <div class="input-field col m6 s12">
                <h6 for="text">{{'TYPE' | translate}}</h6>
                <select ng-model="identifier[0].use" material-select watch>
                      <option value="NONE">{{'NONE' | translate}}</option>
                      <option value="CLIENT">{{'CLIENT' | translate}}</option>
                      <option value="LENDER">{{'LENDER' | translate}}</option>
                      <option value="BOTH">{{'BOTH' | translate}}</option>
                    </select>
              </div>
              <div class="row">
                  <div ng-show="enableMisSpecialities && specialties.length" class="input-field col m6 s12">
                    <h6 for="text">{{'SPECIALTIES' | translate}}</h6>
                    <ul class="collection" ng-repeat="item in specialties">
                      <li class="collection-item dismissable">
                        <div>
                          {{item.value.text}}
                          <a ng-click="removeSpecialtiy($index)" class="secondary-content"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col m6 s12">
                    <div class="input-field">
                        <h6 for="role_organization">{{enableMisSpecialities && 'ADD' | translate}} {{'SPECIALITY' | translate}}</h6>
                        <select id="select_specialty" ng-model="selectSpecialities" material-select watch multiple>
                      <option value disabled selected>{{'ADD' | translate}} {{'SPECIALITY' | translate}}</option>
                      <option ng-repeat="speciality in allSpecialities" value="{{speciality._id}}">{{speciality.value.text}}</option>
                      <option value="NEW_SPECIALTY">{{'NEW_A' | translate}} {{'SPECIALITY' | translate}}</option>
                    </select>
                    </div>
                    <div ng-show="enableNewSpecialtyBox">
                      <div class="input-field" ng-show="enableNewSpecialtyBox">
                        <input id="speciality" type="text" class="validate black-text" ng-model="newSpecialty">
                        <label for="speciality">{{'NEW' | translate}} {{'SPECIALITY' | translate}}</label>
                      </div>
                      <a  class="btn-add btn waves-effect waves-light right" ng-click="addSpecialty()" tooltipped data-position="top" data-delay="50"
                      data-tooltip="{{'ADD' | translate}} {{'SPECIALTY' | translate}}">
                      {{'ADD' | translate}}
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="error_msg" class="msj-error">
          <a href="" class="close"><i class="material-icons">clear</i></a>
          <p><i class="material-icons">report_problem</i>{{error_msg}}</p>
        </div>
      </form>
    </div>

  </div>
</div>

<div id="modal10" class="modal modal10">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content ancho_diagnostico">
            <div class="title-form reduce-margin">
              <h5>Jerarquía</h5>
            </div>
            <ul class="collection jerarquia-list">
              <li class="collection-item " ng-repeat="parent in treeList">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span>{{parent.name}}</span>
                <ul class="collection" ng-if="parent.childs">
                  <li class="collection-item" ng-repeat="firstChild in parent.childs">
                    <i class="fa fa-bars" aria-hidden="true"></i>

                    <span>{{firstChild.name}}</span>
                    <ul class="collection" ng-if="firstChild.childs">
                      <li class="collection-item" ng-repeat="secondChild in firstChild.childs">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>{{secondChild.name}}</span>
                        <ul class="collection" ng-if="secondChild.childs">
                          <li class="collection-item" ng-repeat="thirdChild in secondChild.childs">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <span>{{thirdChild.name}}</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-light btn btn-add" ng-click="saveOrganization()" tooltipped data-position="top" data-delay="50" data-tooltip="{{'SAVE' | translate}}">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>{{'SAVE' | translate}}
    </a>
    <a class="modal-action modal-close btn-add btn waves-effect waves-light right" ng-click="cancelOrganizationSave()"><i class="fa fa-mail-reply" aria-hidden="true"></i>{{'CANCEL' | translate}}</a>
  </div>
</div>
