<div class="contenedor_max formIngreso">
    <div class="title-form ancho_diagnostico">
      <h4>{{'VIEW_PRACTITIONER' | translate}}</h4>
      <a  ng-click="cancelPractitioner()" class="btn-add btn waves-effect waves-light right" ><i class="fa fa-mail-reply" aria-hidden="true"  tooltipped data-position="top" data-delay="50" data-tooltip="{{'RETURN_TO_LIST' | translate}}"></i></a>
    </div>
    <div class="box-top-form">
        <form>
            <div class="row ancho_diagnostico vista">


                        <div class="input-field col s12 user">
                            <label for="name">{{'NAME' | translate}}</label>
                            <p>{{name.text}}</p>
                            <span></span>
                        </div>
                        <div class="input-field col s4" ng-show="typePractitionerTranslate">
                            <label for="name">{{'TYPE' |translate}}</label>
                            <p>{{typePractitionerTranslate}}</p>
                            <span></span>
                        </div>
                        <div class="input-field col s4" ng-show="gender | translate">
                            <label for="name">{{'GENDER' | translate}}</label>
                            <p>{{gender| translate}}</p>
                            <span></span>
                        </div>
                        <div class="input-field col s4" ng-show="identifier[0].value">
                            <label for="name">{{'DESCRIPTION' |translate}}</label>
                            <p>{{identifier[0].value}}</p>
                            <span></span>
                        </div>


            </div>

                <div class="col s12 separador"></div>

            <div class="row ancho_diagnostico">
                <div class="col s12">
                    <ul tabs class="tab-form">
                        <li class="tab col s4"><a href="#contact_practitioner" class="active">{{'CONTACT' | translate}}</a></li>
                        <li class="tab col s4"><a href="#organization_practitioner">{{'ORGANIZATION' | translate}}</a></li>
                        <li class="tab col s4"><a href="#address_practitioner">{{'ADDRESS' |translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row ancho_diagnostico ">
                <div id="contact_practitioner" class="col s12">
                    <div class="row ancho_diagnostico">
                        <div class="row" ng-show="telecom[0].rank">
                            <div class="input-field col s12">
                                <input id="tel_casa" type="number" class="validate" ng-model="telecom[0].rank" readonly>
                                <label for="tel_casa">{{'TELEPHONE_HOME'| translate}}</label>
                                <span></span>
                            </div>
                            <div class="input-field col s12" ng-show="telecom[1].rank">
                                <input id="tel_job" type="number" class="validate" ng-model="telecom[1].rank" readonly>
                                <label for="tel_job">{{'TELEPHONE_WORK'| translate}}</label>
                            </div>
                            <div class="input-field col s12" ng-show="telecom[2].value">
                                <input id="email" type="text" class="validate" ng-model="telecom[2].value" readonly>
                                <label for="email">{{'EMAIL' | translate}}</label>
                                <span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="organization_practitioner" class="col s12">
                    <practitioner-organizations organizations="organizations" practitioner-role="practitionerRole" readonly="true"></practitioner-organizations>
                </div>
                <div id="address_practitioner ancho_diagnostico" class="col s12" ng-show="voidlength == 'false'">
                    <address-human address="address[0]" readonly="true"></address-human>
                </div>
            </div>
        </form>
    </div>

</div>
