<div class="contenedor_max formIngreso">
   <div class="row title_plus_btn ancho_diagnostico"></div>
    <div class="row ancho_diagnostico">
        <div class="col s12">
            <div class="card">
                <div class="card-head style-primary card-inicio">
                    <header>
                        <h2>{{'STATISTICS' | translate}}</h2>
                        <p>{{'STATISTICS_LIST' | translate}}</p>
                    </header>
                </div>
                <div class="card-content estadisticas">
                  <ul class="collection z-depth-1">
                      <li class="collection-item" ng-repeat="organizationData in organizationsData">
                          <p><a class="data-statistics-name" ui-sref="organization_view({id:organizationData.organizationId})">{{organizationData.organizationName}} :</a></p>
                          <div class="data-statistics col s6">{{'DIAGNOSTIC_ORDER_QUANTITY' | translate}}: {{organizationData.procedureRequestQuantity}}</div>
                          <div class="data-statistics col s6">{{'DIAGNOSTIC_REPORT_QUANTITY' | translate}}: {{organizationData.diagnosticReportQuantity}}</div>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
