<div class="contenedor_set_password">
    <div class="row">
        <div class="card">
            <div class="card-content z-depth-4">
                <form>
                    <div class="row">
                        <img src="img/exo-verde.png" alt class="responsive-img">
                        <div class="col s12">
                            <div class="center-login">
                                <h5 class="left-align login-title">{{'UPDATE_PASSWORD' | translate}}</h5>
                            </div>
                            <div class="input-login">
                                <div class="input-field">
                                  <input id="password" name="password" type="password" tooltipped data-position="right" data-tooltip="{{'THIS_FIELD_IS_CASE_SENSITIVE' |translate}}. {{'MINIMUM_LENGTH_8_CHARACTERS' | translate}}" ng-model="user.password" class="validate">
                                  <label for="password">{{'PASSWORD' | translate}}</label>
                                </div>
                                <div class="input-field">
                                  <input id="repeat_pass" name="repeat_pass" type="password" tooltipped data-tooltip="{{'THIS_FIELD_IS_CASE_SENSITIVE' |translate}}. {{'MINIMUM_LENGTH_8_CHARACTERS' | translate}}" ng-model="user.password_repeat" class="validate">
                                  <label for="identificador">{{'REPEAT_PASSWORD' | translate}}</label>
                                </div>
                            </div>
                            <div class="center-login">
                                <button class="btn waves-effect waves-light login-button" type="submit" name="action" ng-click="updatePass()">{{'SEND' | translate}}<i class="material-icons right">forward</i></button>
                            </div>
                            <p ng-show="error_msg" class="msj-error">{{error_msg.data.exp || error_msg}}</p>
                            <div class="clearfix"></div>
                            <div class="center-login copyright-login">
                                <span class="right">© ADISTAL R2 2017</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="confirmUpdateModal" class="modal">
  <div class="modal-content">
    <p class="explicacion3">{{'WELCOME_TO_THE_SITE_YOUR_PASSWORD_WAS_UPDATED_CORRECTLY' | translate}}</p>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action modal-close btn-add btn waves-effect waves-light right" ui-sref="home">{{'LOGIN'|translate}}</a>
  </div>
</div>
