<div class="contenedor_max">

    <div class="row title_plus_btn">
        <div class="col s12">
            <div class="card">
                <div class="card-content ancho_diagnostico">
                    <div class="row ">
                        <a ng-if="isEnabled('usersEdit')" class="btn-add btn waves-effect waves-light right" ui-sref="users-create"><i class="material-icons">add</i>{{'NEW' | translate}}</a>
                    </div>
                    <div class="tablaAbm center">
                        <div class="topTable">
                            <div ng-click="sortBy('username')" class="col-tableAbm-Top">{{'NAME' | translate}} <i ng-show="propertyName === 'username'" ng-class="(reverse? 'fa fa-arrow-up':'fa fa-arrow-down')"
                                    aria-hidden="true"></i></div>
                            <div ng-click="sortBy('email')" class="col-tableAbm-Top oculto2">{{'EMAIL' | translate}} <i ng-show="propertyName === 'email'" ng-class="(reverse? 'fa fa-arrow-up':'fa fa-arrow-down')"
                                    aria-hidden="true"></i></div>
                            <div ng-click="sortBy('type')" class="col-tableAbm-Top cen oculto">{{'TYPE' | translate}} <i ng-show="propertyName === 'type'" ng-class="(reverse? 'fa fa-arrow-up':'fa fa-arrow-down')"
                                    aria-hidden="true"></i></div>
                            <div class="col-tableAbm-Top cen">{{'ACTIONS' | translate}}</div>
                        </div>
                        <div class="fila-tableAbm" ng-repeat="user in userlist | orderBy:propertyName:reverse">
                            <div class="col-tableAbm">{{user.username}}</div>
                            <div class="col-tableAbm oculto2">{{user.email}}</div>
                            <div class="col-tableAbm cen oculto">{{user.type || '-'}}</div>
                            <div class="col-tableAbm cen">
                                <ul class="action">
                                    <li>
                                        <a ng-if="isEnabled('usersEdit')" ui-sref="users-edit({id:user._id})" class="tooltipped" data-position="top" data-delay="50"
                                            data-tooltip="Ver"><img src="img/iconos/editar.png" class="right"></a>
                                    </li>
                                    <li>
                                        <a ui-sref="users-view({id:user._id})" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Ver"><img src="img/iconos/vista.png" class="right"></a>
                                    </li>
                                    <li>
                                        <a ng-if="!user.noDelete && isEnabled('delete_user')" href="" class="tooltipped" data-position="top" data-delay="50" ng-click="selectUser(user)"
                                            data-tooltip="Borrar" data-target="deleteModal" modal><img src="img/iconos/delete.png" class="right"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>{{'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THE_USER' | translate}}</h4>
        <p>{{'IF_IT_IS_ACCEPTED_DATA_WILL_BE_PERMANENTLY_DELETED' | translate}}.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-add btn waves-effect waves-light right accept" ng-click="confirmDeleteUser()">{{'ACCEPT'|translate}}</a>
        <a href="#!" class="modal-action modal-close btn-add btn waves-effect waves-light right">{{'CANCEL'|translate}}</a>
    </div>
</div>
