<div class="contenedor_max formIngreso">
    <div class="title-form">
    </div>
    <div class="row">
        <div class="col l4 s12">
            <div class="card">
                <div class="card-head style-primary">
                    <header>{{'SIGNUP' | translate}}</header>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input tooltipped data-position="left" data-tooltip="{{'THIS_FIELD_IS_CASE_SENSITIVE' |translate}}" id="identificador" type="text" class="validate" ng-model="login_data.username">
                                    <label for="identificador">{{'USERNAME' | translate}}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="email" type="text" class="validate" ng-model="login_data.email">
                                    <label for="email">{{'EMAIL' | translate}}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input tooltipped data-position="left" data-tooltip="{{'THIS_FIELD_IS_CASE_SENSITIVE' |translate}}" id="password" type="password" ng-model="login_data.password" class="validate">
                                    <label for="password">{{'PASSWORD' | translate}}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input tooltipped data-position="left" data-tooltip="{{'THIS_FIELD_IS_CASE_SENSITIVE' |translate}}" id="password_repeat" type="password" ng-model="login_data.password_repeat" class="validate">
                                    <label for="password_repeat">{{'REPEAT_PASSWORD' | translate}}</label>
                                    <span>{{error_msg}}</span>
                                </div>
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="signup()">{{'SEND' | translate}}
                                      <i class="material-icons right">send</i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
