<div class="contenedor_max formIngreso">
  <div class="title-form ancho_diagnostico">
    <div class="row">
      <div class="col s12">
        <a class="btn-add btn waves-effect waves-light right" ng-click="updateUser()"><i class="fa fa-floppy-o" aria-hidden="true" tooltipped data-position="top"
            data-delay="50" data-tooltip="{{'SAVE' | translate}}"></i></a>
        <a class="btn-add btn waves-effect waves-light right" ui-sref="users"><i class="fa fa-mail-reply" aria-hidden="true" tooltipped data-position="top"
            data-delay="50" data-tooltip="{{'RETURN_TO_LIST' | translate}}"></i></a>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content ancho_diagnostico">
          <form name="userForm">
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="identificador" type="text" class="validate" ng-model="user_data.username">
                    <label for="identificador">{{'USERNAME' | translate}}</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="email" type="text" name="text" class="validate" ng-model="user_data.email">
                    <label for="email">{{'EMAIL' | translate}}</label>
                  </div>
                  <div class="input-field col s12">
                    <select id="rol" ng-model="user_data.type" material-select watch>
                                          <option value="">{{'SELECT_TYPE' | translate}}</option>
                                          <option value="Coordinator">{{'COORDINATOR' | translate}}</option>
                                          <option value="Node Administrator">{{'NODE_ADMINISTRATOR' | translate}}</option>
                                          <option value="Organization Administrator">{{'ORGANIZATION_ADMINISTRATOR' | translate}}</option>
                                          <option value="Practitioner">{{'PRACTITIONER' | translate}}</option>
                                          <option value="Auxiliar">{{'AUXILIAR' | translate}}</option>
                                          <option value="Admin">{{'ADMIN' | translate}}</option>
                                      </select>
                    <label for="rol">{{'ROLE' | translate}}</label>
                  </div>
                  <div class="input-field col s12" ng-if="user_data.type == 'Practitioner'">
                    <div class="clearfix"></div>
                    <practitioner-organizations organizations="organizations" practitioner-role="practitionerRole" practitioner-sub-role="user_data.role.sub_role"
                      filter-types-organizations="filterTypesOrganizations"></practitioner-organizations>
                    <div class="col s12">
                      <span>{{practitionerErrorMsg}}</span>
                    </div>
                  </div>
                  <div ng-if="error_msg" class="msj-error">
                    <a href="" class="close"><i class="material-icons">clear</i></a>
                    <p><i class="material-icons">report_problem</i>{{error_msg}}</p>
                  </div>
                  <div ng-if="!userid">
                    <div class="input-field col s12">
                      <input id="password" type="password" ng-model="user_data.password" class="validate">
                      <label for="password">{{'PASSWORD' | translate}}</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="password_repeat" type="password" ng-model="user_data.password_repeat" class="validate">
                      <label for="password_repeat">{{'REPEAT_PASSWORD' | translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
</div>
<div class="clearfix"></div>
<form>
  <div class="row" ng-if="userid">
    <div class="col s12">
      <div class="card">
        <div class="card-content ancho_diagnostico">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" ng-model="user_data.password" class="validate">
                  <label for="password">{{'PASSWORD' | translate}}</label>
                </div>
                <div class="input-field col s12">
                  <input id="password_repeat" type="password" ng-model="user_data.password_repeat" class="validate">
                  <label for="password_repeat">{{'REPEAT_PASSWORD' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row ancho_diagnostico">
  <div class="col s12">
    <a class="btn-add btn waves-effect waves-light right" ng-click="updateUser(true)"><i class="fa fa-floppy-o" aria-hidden="true"></i>{{'SAVE_CHANGES' | translate}}</a>
  </div>
</div>
</div>
</div>
