<main>
     <div class="container">
      <div class="col s12">
        <div class="card carta">
           <div class="card-content">
        <h5 class="center titulo03">Próxima sesión</h5>
        <table class="centered">
          <thead>
            <tr class="fondo">
              <th>TURNO</th>
              <th>FECHA</th>
              <th>HORA</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>478</td>
              <td>Viernes 22 de junio de 2018</td>
              <td>08:30</td>
            </tr>

          </tbody>
        </table>


        <div class="row cuadro01">
          <div class="col s12 l3 m3">


            <table class="highlight centered tablaIzq">
              <thead>
                <tr class="fondo">
                  <th>HISTORIAL DE REGISTROS</th>
                </tr>
              </thead>

              <tbody>
                <tr class="buscador">
                  <td>
                    <input id="buscadorDesde" type="date" class="validate buscadorFechas placeholderclass" placeholder="">
                    <label for="buscadorDesde" class="textBlack" >Fecha desde</label>
                    <br>
                    <input id="buscadorHasta" type="date" class="validate buscadorFechas placeholderclass"  placeholder="">
                    <label for="buscadorHasta" class="textBlack" >Fecha hasta</label>
                    <br>
                    <a class="btn botonBuscar">Buscar</a>
                  </td>
                </tr>
                  <tr>
                  <td class="resgitro00">478 14/07/2018 08:30</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 17/07/2018 09:30</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 21/07/2018 10:00</td>
                </tr>
                <tr>
                  <td class="resgitro00">478 128/07/2018 9:00</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="col s12 l9 m9">

<h5 class="center titulo03">Mis estados</h5>
            <table class="highlight centered">
              <thead>
                <tr class="fondo">
                  <th>DETALLES</th>
                </tr>
              </thead>

              <tbody>
                <tr class="detalles">
                  <td>
                    <div class="row estadoResumen">
                      <div class="col s12 iconos">
                        <span class="textUp">Estado de ánimo: &nbsp</span>
                        <img src="img/confused.png" />
                        <img src="img/angry.png" />
                      </br> </br>
                      </div>
                      <div class="col s12 iconos">
                        <span class="textUp">Lugares: &nbsp</span>
                         <img src="img/escuela.png" />
                        <img src="img/casa.png" />
                        </br> </br>
                      </div>
                      <div class="col s12 iconos">
                        <span class="textUp">Actividades: &nbsp</span>
                        <img src="img/futbol.png" />
                        <img src="img/zzz.png" />
                        <img src="img/consola-de-juegos.png" />
                        </br> </br>
                      </div>
                      <div class="col s12 iconos">
                        <span class="textUp">Con quien estuvo: &nbsp</span>
                       <img src="img/chico.png" />
                       <img src="img/familia.png" />
                       </br> </br>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col s12 textoPersonal">
                        <span class="textUp">Texto personal: </span>
                        <br>
                        <span class="materialize-textarea textoPersonal"  >
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum nulla eu ante porta lacinia. Maecenas lacinia dui elementum felis dignissim luctus. Quisque ultricies turpis augue, ut tincidunt ante condimentum quis. Nunc vitae nisl nec ex rhoncus
                          ullamcorper. Sed gravida sem id velit tempor gravida. Suspendisse potenti. Aliquam sed sollicitudin nulla, et commodo urna. Integer faucibus iaculis pellentesque. Donec tortor tellus, fermentum eget suscipit et, semper a ex.
                          </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


</main>
