<main>
  
  <div class="container center fondoBlanco">
    <div class="col s12">
      <div class="titulo02">
<div class="col s12 l12 m12 xl12 textoInformativo">
<h4>Señales de advertencia de acoso</h4>
 <p>Busque cambios en el niño. Sin embargo, es preciso tener en cuenta que no todos los niños que son acosados manifiestan señales de alerta.
<br><br>
Algunas señales que indican que hay un problema de acoso:
<br>
<br>
<ol class="dotList">
  <li>Lesiones inexplicables</li>
  <li>Pérdida o rotura de ropa, libros, dispositivos electrónicos o joyas</li>
  <li>Dolores de cabeza o estómago frecuentes, sensación de malestar o simulación de enfermedad</li>
  <li>Cambios en los hábitos alimentarios, como saltarse horarios de comidas o atracarse. Los niños pueden llegar de la escuela 
con hambre porque no almorzaron.</li>
  <li>Dificultad para conciliar el sueño o pesadillas frecuentes</li>
  <li>Calificaciones bajas, pérdida de interés en las tareas escolares, o el niño se niega a ir a la escuela</li>
  <li>Pérdida repentina de amigos o deseo de evitar situaciones sociales</li>
  <li>Sentimientos de impotencia o disminución de la autoestima</li>
  <li>Comportamiento autodestructivo como escaparse del hogar, autoinfligirse heridas o hablar de suicidio</li>
 </ol>

<br>
<br>
<h4>¿Por qué no piden ayuda los chicos?</h4>
<p> Los niños no hablan con los adultos por varias razones:
<br>
El acoso escolar genera en el niño una sensación de impotencia. Los niños quieren manejar la situación por su cuenta para sentirse nuevamente en control. Es posible que teman ser vistos como débiles o chismosos. <br>
Los niños pueden temer una represalia de parte del acosador.<br>
El acoso escolar puede ser una experiencia humillante. Es posible que los niños no quieran que los adultos sepan qué se dice de ellos, sea verdadero o falso. Temen que los adultos los juzguen o los castiguen por ser débiles.<br>
Los niños víctimas de acoso se sienten aislados socialmente. Es posible que sientan que no les importan a nadie o que nadie podría comprenderlos.<br>
Los niños tienen miedo de ser rechazados por sus compañeros. Los amigos pueden ayudar a proteger a los niños del acoso y es posible que los niños tengan miedo de perder su protección.</p>

</div>
</div>
    </div>
  </div>
</main>
