<main>
  <div class="section"></div>
  <div class="container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h2>INFORMACION</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus sapien mauris, id fermentum velit sodales at. Nulla luctus dui nisi, sed convallis justo accumsan vitae. Nullam rhoncus nisl vitae libero sodales feugiat. Cras vitae magna urna. Fusce
            ut enim suscipit, faucibus magna in, scelerisque elit. Integer vestibulum sapien lorem, et cursus erat lobortis eu. Integer interdum et arcu et bibendum. Proin sit amet lobortis sapien. Maecenas ornare quam lobortis metus interdum, sit amet
            feugiat risus tincidunt. Morbi sed elit non neque facilisis ultricies. Curabitur lobortis felis ac convallis commodo. Phasellus erat justo, consectetur ac massa in, malesuada pulvinar quam. Integer feugiat odio ipsum, nec ornare tellus eleifend
            vel. In hac habitasse platea dictumst. Vestibulum quis gravida eros, sit amet sagittis est. Sed porta velit vitae nulla tempus, nec vulputate lacus varius. Proin in lectus tellus. Sed aliquet mattis finibus. Cras vel libero nec odio vehicula
            congue.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
