<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            Identifier
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Active</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input id="active" type="checkbox" name="text" value="" ng-model="data.active">
                    <label for="active"></label>
                </div>
            </div>

        </div>
    </div>
</div>
