<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Coding'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">

            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>System</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="coding.system">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Version</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="coding.version">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Code</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="coding.code">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Display</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="coding.display">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>User selected</h6>
                </div>
                <div class="col l9 m9 s12">
                  <p>
                    <input id="user_selected" type="checkbox" name="text" value="" ng-model="coding.userSelected">
                    <label for="user_selected"></label>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
