<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || "Contact Point"}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">

            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>System</h6>
                </div>
                <div class="col l9 m9 s12">
                    <select ng-model="contactPoint.system">
                      <option value="" selected>Select</option>
                      <option value="Phone">Phone</option>
                      <option value="Email">Email</option>
                      <option value="Fax">Fax</option>
                      <option value="Pager">Pager</option>
                      <option value="Other">Other</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Value</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="contactPoint.value">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Rank</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="number" name="text" value="" ng-model="contactPoint.rank">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Period</h6>
                </div>
                <div class="col l9 m9 s12">
                    <date-picker date="contactPoint.period.start" placeholder="'Start'" />
                    <date-picker date="contactPoint.period.end" placeholder="'End'" />

                </div>
            </div>


        </div>

    </div>
</div>
