<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Diagnostic order event'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Status</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="data.status">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Date</h6>
                </div>
                <div class="col l9 m9 s12">
                    <date-picker date="data.eventDate" />
                </div>
            </div>
        </div>
    </div>
</div>
