<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Annotation'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Author</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input id="active" type="checkbox" name="author" value="" ng-model="data.author">
                    <label for="active"></label>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Text</h6>
                </div>
                <div class="col l9 m9 s12">
                    <textarea name="text" class="materialize-textarea" ng-model="data.text"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
