<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Identifier'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6 for="text">Use</h6>
                </div>
                <div class="col l9 m9 s12">
                    <select ng-model="identifier.use">
                      <option value="" selected>Select</option>
                      <option value="Home">Home</option>
                      <option value="Work">Work</option>
                      <option value="Temp">Temp</option>
                      <option value="Old">Old</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Assigner</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" placeholder="Display" ng-model="identifier.assigner.display">
                    <input type="text" placeholder="Reference" ng-model="identifier.assigner.reference">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>System</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="identifier.system">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Value</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" name="text" value="" ng-model="identifier.value">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Period</h6>
                </div>
                <div class="col l9 m9 s12">
                    <date-picker date="identifier.period.start" placeholder="'Start'" />
                    <date-picker date="identifier.period.end" placeholder="'End'" />
                </div>
            </div>
        </div>

    </div>
</div>
