<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Address'}}
        </div>
        <div class="select-field">

        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Latitude</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="number" name="text" value="" ng-model="locationPosition.latitude">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Altitude</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="number" name="Line" value="" ng-model="locationPosition.altitude">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Logitude</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="number" name="City" value="" ng-model="locationPosition.number">
                </div>
            </div>
        </div>
    </div>
</div>
