<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Number'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>{{subtitle || 'Number'}}</h6>
                </div>
                <div class="col l9 m9 s12" ng-if="!model_name">
                    <input  type="number" name="number" value="" ng-model="data.number">
                </div>
                <div ng-if="model_name">
                  <input type="number" name="text" ng-model="data[model_name]" >
                </div>
            </div>

        </div>
    </div>
</div>
