<div class="col l4 m4 s12">
    <div class="form-right">
        <div class="top">
            {{title || 'Quantity'}}
        </div>
        <div class="select-field">
        </div>
        <div class="form-body">

            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Value</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="number" ng-model="quantity.value">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Code</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" ng-model="quantity.code">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Comparator</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" ng-model="quantity.comparator">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>Unit</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" ng-model="quantity.unit">
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <h6>System</h6>
                </div>
                <div class="col l9 m9 s12">
                    <input type="text" ng-model="quantity.system">
                </div>
            </div>

        </div>
    </div>
</div>
