<div class="cont-tables">
    <div class="row rowTable">
        <div class="tablaAbm">
            <div class="col s12">
                <div class="card">
                   <div class="row title_plus_btn ancho_diagnostico"></div>
                    <div class="card-content">
                        <ul class="collapsible popout estructura_list ancho_diagnostico" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header active"><i class="fa fa-video-camera"></i>{{'SHARE_SCREEN' | translate}} {{'IN_VIDEO_CALL' | translate}}</div>
                                <div class="collapsible-body">
                                    <p>{{'EXTENSION_DESCRIPTION' | translate}}</p>
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Extensión WebRTC Desktop Sharing Extension:
                                          <a href="https://chrome.google.com/webstore/detail/webrtc-desktop-sharing-ex/hnakondammepjilkjohmlcbnmhggoidb" class="right btn-add btn waves-effect waves-light">{{'SEE_EXTENSION' | translate}}</a>
                                        </li>
                                        <p>Link: https://chrome.google.com/webstore/detail/webrtc-desktop-sharing-ex/hnakondammepjilkjohmlcbnmhggoidb</p>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div ui-sref="structure.diagnostic_order" class="collapsible-header"><i class="fa fa-sticky-note-o"></i>{{'DIAGNOSTIC_ORDERS'| translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.diagnostic_report" class="collapsible-header"><i class="fa fa-file-o"></i>{{'DIAGNOSTIC_REPORTS'| translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.practitioner" class="collapsible-header"><i class="fa fa-user-md"></i>{{'PRACTITIONERS' | translate}}</div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
