<div class="contenedor_max">

    <div class="row rowTable ancho_diagnostico">
        <div class="tablaAbm">
            <div class="col s12">
                <div class="card">
                   <div class="row title_plus_btn ancho_diagnostico"></div>
                    <div class="card-content ancho_diagnostico">
                        <ul class="collapsible popout estructura_list" data-collapsible="accordion">
                            <li>
                                <div ui-sref="structure.practitioner" class="collapsible-header"><i class="fa fa-user-md"></i>{{'PRACTITIONERS' | translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.diagnostic_order" class="collapsible-header"><i class="fa fa-sticky-note-o"></i>{{'DIAGNOSTIC_ORDERS'| translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.diagnostic_report" class="collapsible-header"><i class="fa fa-file-o"></i>{{'DIAGNOSTIC_REPORTS'| translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.extension" class="collapsible-header"><i class="fa fa-video-camera"></i>{{'SHARE_SCREEN'| translate}}</div>
                            </li>
                        </ul>
                        <div class="clearfix2"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
