<div class="cont-tables">
    <div class="row rowTable">
        <div class="tablaAbm">
            <div class="col s12">
                <div class="card">
                   <div class="row title_plus_btn ancho_diagnostico"></div>
                    <div class="card-content">
                        <ul class="collapsible popout estructura_list ancho_diagnostico" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header active"><i class="fa fa-file-o"></i>{{'DIAGNOSTIC_REPORTS'| translate}}</div>
                                <div class="collapsible-body">
                                    <p>El Reporte de Diagnóstico, se trata del recurso utilizado para la generación de la respuesta (y cierre del circuito) al pedido de Orden De Diagnóstico, que resumirá el resultado de la investigación y proporcionará una
                                        conclusión. Se refiere a un set de información cuando todas las investigaciones han sido completadas. La información incluye un mix de resultados atómicos, reportes en forma de texto, imágenes y códigos. Este mix
                                        varía dependiendo del procedimiento de diagnóstico que se utiliza. Las conclusiones del reporte pueden ser expresadas en forma de texto simple, data estructurada o como un adjunto completamente formateado, por ejemplo
                                        un archivo .PDF Los Reportes de Diagnóstico pueden ser aplicados, entre otros, a los siguientes campos:</p>
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Laboratorio (Clínico químico, hematología)</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Patología / Histopatología / disciplinas relacionadas</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Investigaciones de Imágenes (Rayos X, Tomografías Computadas, Resonancias magnéticas, etc.)</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Otros diagnósticos (Cardiología, Gastroenterología, etc.).</li>
                                    </ul>
                                    <div class="table-cont">
                                        <table class="striped bordered">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Identificador</td>
                                                    <td>Id para las referencias externas de este reporte.</td>
                                                </tr>
                                                <tr>
                                                    <td>Estado</td>
                                                    <td>El estado del reporte, como por ejemplo: Registrado, Parcial, Final, Corregido, Agregado, Cancelado, Ingresado por error, Rechazado, Etc.</td>
                                                </tr>
                                                <tr>
                                                    <td>Categoría</td>
                                                    <td>Categoría del servicio involucrado, en general, codificada, por ejemplo AU – Foniatría, BG – Gases en sangre, CH – Química, CT – Tomografía Computada, CUS – Ultrasonido cardíaco, Etc.</td>
                                                </tr>
                                                <tr>
                                                    <td>Código</td>
                                                    <td>Nombre o código para el Reporte de Diagnóstico.</td>
                                                </tr>
                                                <tr>
                                                    <td>Sujeto</td>
                                                    <td>El sujeto del reporte, en general, pero no siempre, un paciente.</td>
                                                </tr>
                                                <tr>
                                                    <td>Encuentro</td>
                                                    <td>Evento / Encuentro / Cita médica donde el test fue solicitado.</td>
                                                </tr>
                                                <tr>
                                                    <td>Cuándo</td>
                                                    <td>Cuándo se recibió la solicitud.</td>
                                                </tr>
                                                <tr>
                                                    <td>Por Cuánto</td>
                                                    <td>Período durante el cual la solicitud es válida.</td>
                                                </tr>
                                                <tr>
                                                    <td>Generado</td>
                                                    <td>Fecha Hora en que el test fue realizado.</td>
                                                </tr>
                                                <tr>
                                                    <td>Performer</td>
                                                    <td>Quién es el responsable por el servicio de diagnóstico que genera el reporte.</td>
                                                </tr>
                                                <tr>
                                                    <td>Solicitado</td>
                                                    <td>Qué es lo que se solicita específicamente.</td>
                                                </tr>
                                                <tr>
                                                    <td>Espécimen</td>
                                                    <td>Especímenes en los que se basa el reporte.</td>
                                                </tr>
                                                <tr>
                                                    <td>Resultado</td>
                                                    <td>Observaciones, simples o grupos complejos anidados.</td>
                                                </tr>
                                                <tr>
                                                    <td>Estudios de Imágenes</td>
                                                    <td>Referencia todos los detalles de la imagen asociada con la solicitud de diagnostico.</td>
                                                </tr>
                                                <tr>
                                                    <td>Imágenes</td>
                                                    <td>Archivos de imágenes asociadas al reporte.</td>
                                                </tr>
                                                <tr>
                                                    <td>Comentarios de Imágenes</td>
                                                    <td>Comentario sobre la imagen (explicación).</td>
                                                </tr>
                                                <tr>
                                                    <td>Conclusión</td>
                                                    <td>Interpretación clínica de los resultados del test provisto.</td>
                                                </tr>
                                                <tr>
                                                    <td>Código de la conclusión</td>
                                                    <td>Códigos par la conclusión.</td>
                                                </tr>
                                                <tr>
                                                    <td>Formulario</td>
                                                    <td>El reporte completo, tal como fue generado.</td>
                                                </tr>
                                                <tr>
                                                    <td>Organización</td>
                                                    <td>Organización a la cual pertenece el Reporte de Diagnóstico y que mantiene los registros médicos de los test realizados.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </li>
                            <li>
                                <div ui-sref="structure.diagnostic_order" class="collapsible-header"><i class="fa fa-sticky-note-o"></i>{{'DIAGNOSTIC_ORDERS'| translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.practitioner" class="collapsible-header"><i class="fa fa-user-md"></i>{{'PRACTITIONERS' | translate}}</div>
                            </li>
                            <li>
                                <div ui-sref="structure.extension" class="collapsible-header"><i class="fa fa-video-camera"></i>{{'SHARE_SCREEN'| translate}}</div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
