<div class="row">
    <form>
    <div class="input-field col s6" ng-if="$ctrl.readonly">
        <input id="use" class="validate" type="text" ng-model="$ctrl.address[0].use" readonly>
        <label for="use">{{'USE' | translate}}</label>
    </div>

    <div class="input-field col s6">
        <input id="line" type="text" class="validate" ng-model="$ctrl.address[0].line[0]" ng-readonly="$ctrl.readonly">
        <label for="line">{{'LINE' | translate}}</label>
    </div>

    <div class="input-field col s6">
        <input id="city" type="text" class="validate" ng-model="$ctrl.address[0].city" ng-readonly="$ctrl.readonly">
        <label for="city">{{'CITY' | translate}}</label>
    </div>

    <div class="input-field col s6">
        <input id="district" type="text" class="validate" ng-model="$ctrl.address[0].district" ng-readonly="$ctrl.readonly">
        <label for="district">{{'DISTRICT' | translate}}</label>
    </div>

    <div class="input-field col s6">
        <input id="state" type="text" class="validate" ng-model="$ctrl.address[0].state" ng-readonly="$ctrl.readonly">
        <label for="state">{{'STATE' | translate}}</label>
    </div>
    <div class="input-field col s6">
        <input id="country" type="text" class="validate" ng-model="$ctrl.address[0].country" ng-readonly="$ctrl.readonly">
        <label for="country">{{'COUNTRY' | translate}}</label>
    </div>

    <div class="input-field col s6">
        <input id="postalcode" type="text" class="validate" ng-model="$ctrl.address[0].postalCode" ng-readonly="$ctrl.readonly">
        <label for="postalcode">{{'POSTAL_CODE' | translate}}</label>
    </div>
    <div class="input-field col s6" ng-if="$ctrl.readonly">
        <label for="type">{{'TYPE' | translate}}</label>
        <input id="type" type="text" class="validate" ng-model="$ctrl.address[0].type" readonly>
    </div>
    <div class="clearfix2"></div>
</form>
</div>
