<div id="modal-study" class="modal modal-fixed-footer">
    <div class="modal-content title-form">
        <h4>{{'NEW_STUDY' | translate}}</h4>
        <div class="clearfix"></div>
        <div class="input-field left-align">
            <input id="studyName" type="text" ng-model="$ctrl.studyName" class="validate">
            <label for="studyName">{{'STUDY_NAME_OPTIONAL' | translate}}</label>

            <div class="file-field ">
                <div class="btn green-light waves-effect waves-light" ng-if="$ctrl.type === 'multiple'">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    <span>{{'SELECT_FILES' | translate}}</span>
                    <input type="file" ng-model="$ctrl.file_upload" ng-change="$ctrl.loadFileNames()" nv-file-select uploader="$ctrl.uploader"
                        multiple>
                </div>
                <div class="btn waves-effect waves-light" ng-if="$ctrl.type !== 'multiple'">
                    <span>{{'SELECT_FILE' | translate}}</span>
                    <input type="file" ng-model="$ctrl.file_upload" ng-change="$ctrl.loadFileNames()" nv-file-select uploader="$ctrl.uploader">
                </div>

            </div>
            <span><img src="img/iconos/atencion.png" class="float"><p class="">{{'ALL_FILES_CORRESPONDING_TO_THE_SAME_STUDY_MUST_BE_OF_THE_SAME_TYPE_AND_SIZE' | translate}}</p></span>
        </div>
        <div class="progress" ng-if="$ctrl.progress !== 100">
            <div class="determinate" style="width: {{$ctrl.progress}}%"></div>
        </div>
        <div class="input-field" ng-if="$ctrl.attachment.length > 0">
            <ul class="collection files-col win_up">
                <li class="collection-item avatar left-align" ng-repeat="item in $ctrl.attachment" ng-click="$ctrl.selectAttachment(item)">
                    <img src="img/iconos/archive.png" class="float">
                    <span class="archive">{{item.title}}</span>
                    <img src="img/iconos/delete.png" class="cruz" aria-hidden="true" ng-click="$ctrl.removeAttach(item)">
                </li>
            </ul>
            <div class="modal_acept right">
                <button class="btn" ng-if="$ctrl.attachment.length > 0 && $ctrl.acceptCallback && !$ctrl.attachmentNotDicom" ng-click="$ctrl.acceptCallback()"> <i class="material-icons">check</i>{{'ACCEPT' | translate}}</button>
            </div>
            <div class="left">
                <p class="red-text" ng-if="$ctrl.attachmentNotDicom"><img src="img/iconos/atencion.png" class="float">{{'FILE_NO_DICOM_ERROR_IN_LIST' | translate}}</p>
            </div>
        </div>


        <a ng-click="$ctrl.cancelStudy()" class="modal-action waves-effect waves-green cancel_btn">
            <i class="material-icons">cancel</i>
        </a>
    </div>



</div>
