<div class="tablaAbm center">
  <div class="topTable">
    <div class="col-tableAbm-Top" ng-click="$ctrl.sortBy(prop)">{{'TITLE' | translate}}</div>
    <div class="col-tableAbm-Top" ng-click="$ctrl.sortBy(prop)">{{'IMPORTANCE' | translate}}</div>
    <div class="col-tableAbm-Top">{{'DATE' | translate}}</div>
    <div class="col-tableAbm-Top" >{{'ACTIONS' | translate}}</div>
  </div>
  <div class="fila-tableAbm" ng-repeat="item in $ctrl.ListNotificationUpdate">
    <div class="col-tableAbm" ng-class="!item.readed ? 'active-readed' : ''">
      <a ui-sref="notification_view({id: item._id})">{{item.title}} </a>
    </div>
    <div class="col-tableAbm" ng-class="!item.readed ? 'active-readed' : ''">
      <p ng-class="{'orange-text': item.importance == 'medium', 'green-text': item.importance == low, 'red-text': item.importance == 'high'}">{{item.importance.toUpperCase() | translate}}</p>
    </div>
    <div class="col-tableAbm" ng-class="!item.readed ? 'active-readed' : ''">
      {{{date: item.created_at, type: 'time'} | setViewDate}}
    </div>
    <div ng-class="!item.readed ? 'active-readed' : ''" class="col-tableAbm">
      <ul class="action">
        <li>
          <a class="viewRedirect" ui-sref="notification_view({id: item._id})" tooltipped data-position="top" data-delay="50" data-tooltip="{{'VIEW'|translate}}">
              <img ng-src="{{$ctrl.front_url}}img/iconos/vista.png" class="right">
          </a>
        </li>
        <li ng-if="enableDeleteNotification">
          <a ng-click="$ctrl.selectedToDelete(item)" tooltipped data-position="top" data-delay="50" data-tooltip="{{'DELETE'|translate}}"
            data-target="deleteModal" modal>
            <img ng-src="{{$ctrl.front_url}}img/iconos/delete.png" class="right">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
