<div class="sk-fading-circle" ng-show="$ctrl.loading">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
<div class="row">
    <div class="col s12">
        <div class="row" ng-show="!$ctrl.noDicom">
            <div class="col s12">
                <div>
                    <div id="dwv" ng-class="$ctrl.loading ? 'ocultarDicom' : ''">
                        <div class="layerContainer">
                            <canvas class="imageLayer" ng-class="$ctrl.fullScreenAllow"></canvas>
                        </div>
                    </div>
                    <div class="range-field">
                        <p ng-show="$ctrl.isDicomArray">{{'SLICES' | translate}}</p>
                        <input ng-show="$ctrl.isDicomArray" type="range" id="sliceRange" value="0">
                    </div>
                    <div class="range-field">
                        <p>{{'BRIGHTNESS' | translate}}</p>
                        <input type="range" id="brightnessRange" value="0" name="brightnessRange">
                    </div>
                    <div class="range-field">
                        <p>{{'CONTRAST' | translate}}</p>
                        <input type="range" id="contrastRange" value="0" name="contrastRange">
                    </div>
                </div>
            </div>
            <div class="input-field col s12">
                {{$ctrl.currentAttachment._id}}
                <button id="restart" class="btn-add btn waves-effect waves-light">{{'RESTART_TONES' | translate}}</button>
                <button id="play" ng-show="$ctrl.isDicomArray" class="btn-add btn waves-effect waves-light" ng-click="$ctrl.playDicom()" ng-cloak>{{$ctrl.nameButton | translate }}</button>
            </div>
        </div>
    </div>
</div>
